---
title: Mekhi 2026
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2025-08-14 08:30:35
slug:
tags:
- portraits
-
excerpt:
image: /portraits/images/2025/20250814-mekhi/20250814-mekhi-brown-058-v2.jpg
gallery-base: /portraits/images/2025/20250814-mekhi/
gallery-images:
  - filename: 20250814-mekhi-brown-001.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-002.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-005.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-013.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-018.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-023.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-035.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-040.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-041.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-042.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-044.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-046.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-048.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-052.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-056.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-058.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-060.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-063.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-066.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-069.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-075.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-077.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-080.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-087.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-091.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-093.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-096.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-097.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-099.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."
  - filename: 20250814-mekhi-brown-102.jpg
    caption: "Mekhi Brown poses for senior photos in Monroe Wisconsin on August 14th, 2025. Brown will graduate in 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
      {% include gallery-grid.html %}
  </section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>