---
title: Wyatt 2026
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2025-06-30 08:30:35
slug:
tags:
- portraits
-
excerpt:
image: /portraits/images/2025/20250630-wyatt/20250630-wyatt-088.jpg
gallery-base: /portraits/images/2025/20250630-wyatt/
gallery-images:
  - filename: 20250630-wyatt-002.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-003.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-007.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-010.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-020.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-023.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-025.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-028.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-039.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-046.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-048.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-062.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-068.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-071.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-073.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-075.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-078.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-079.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-083.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-084.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-088.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-091.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."
  - filename: 20250630-wyatt-094.jpg
    caption: "Wyatt Steiner poses for a senior portrait session in Monroe, Wisconsin, on June 30, 2025. Steiner will be a Class of 2026 graduate."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
      {% include gallery-grid.html %}
  </section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>