---
title: Hamilton 2026
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2025-07-28 08:30:35
slug:
tags:
- portraits
-
excerpt:
image: /portraits/images/2025/20250728-hamilton/20250728-hamilton-005.jpg
gallery-base: /portraits/images/2025/20250728-hamilton/
gallery-images:
  - filename: 20250728-hamilton-003.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-005.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-011.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-012.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-015.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-019.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-025.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-027.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-030.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-039.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-040.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-042.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-043.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-046.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-051.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-054.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-055.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-061.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-070.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-074.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-076.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-080.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-083.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-085.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-088.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-094.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-095.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."
  - filename: 20250728-hamilton-100.jpg
    caption: "Hamilton Stites poses for senior photos at Monroe High School in Monroe, Wisconsin on July 28th, 2025. Stites will graduate in 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
      {% include gallery-grid.html %}
  </section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>