---
title: Ty 2027
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2026-07-09 08:30:35
slug:
tags:
- portraits

excerpt:

image: /portraits/images/2026/20260709-ty/20260710-ty-102.jpg
gallery-base: /portraits/images/2026/20260709-ty/
gallery-images:
  - filename: 20260710-ty-002.jpg
    caption: "Ty Durtschi poses for a senior portrait next to a Case International tractor in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-004.jpg
    caption: "Ty Durtschi poses for a senior portrait next to a Case International tractor in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-006.jpg
    caption: "Ty Durtschi sits on the front of a red tractor for a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-009.jpg
    caption: "Ty Durtschi poses on a Case International tractor during a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-011.jpg
    caption: "Ty Durtschi poses for a senior portrait while leaning against a tractor in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-014.jpg
    caption: "Ty Durtschi poses for a senior portrait while leaning against a Case International tractor near a cornfield in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-016.jpg
    caption: "Ty Durtschi poses for a senior portrait in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-017.jpg
    caption: "Ty Durtschi and his grandfather lean against a metal gate inside a barn during a portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-019.jpg
    caption: "Ty Durtschi, right, poses for a portrait with his father and grandfather inside a barn in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-021.jpg
    caption: "Ty Durtschi, center, poses for a senior portrait with his father and grandfather in a barn in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-023.jpg
    caption: "Ty Durtschi poses for a portrait with his father and grandfather in a barn in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-024.jpg
    caption: "Ty Durtschi poses for a three-generation portrait with his father and grandfather inside a barn near hay bales in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-025.jpg
    caption: "Ty Durtschi poses for a senior portrait inside a barn in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-026.jpg
    caption: "Ty Durtschi poses for a senior portrait while leaning against a metal gate in a barn with hay bales in the background in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-032.jpg
    caption: "Ty Durtschi sits on the ground in a barn with his Albany High School sports jerseys hanging on a metal gate behind him in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-036.jpg
    caption: "Ty Durtschi looks up at a baseball suspended in the air during his senior portrait session in a barn in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-037.jpg
    caption: "Ty Durtschi tosses a baseball into the air while sitting in front of his Albany High School jerseys in a barn in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-038.jpg
    caption: "Ty Durtschi poses for a senior portrait while holding a baseball glove in front of Albany High School athletic jerseys in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-043.jpg
    caption: "Ty Durtschi poses for a senior portrait while holding a baseball bat in front of Albany High School jerseys in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-045.jpg
    caption: "Ty Durtschi poses for a senior portrait in front of a farm building in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-048.jpg
    caption: "Ty Durtschi poses for a senior portrait in front of a farm building in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-050.jpg
    caption: "Ty Durtschi poses for a senior portrait outside a building in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-055.jpg
    caption: "Ty Durtschi poses for a senior portrait at Albany High School in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-068.jpg
    caption: "Ty Durtschi sits on the tailgate of a pickup truck with his dog in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-069.jpg
    caption: "Ty Durtschi sits on the tailgate of a pickup truck with his dog in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-071.jpg
    caption: "Ty Durtschi leans against the side of a red pickup truck during a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-073.jpg
    caption: "Ty Durtschi sits on the ground leaning against the tire of a pickup truck in a harvested field during a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-077.jpg
    caption: "Ty Durtschi sits in a harvested field next to a pickup truck with his dog in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-080.jpg
    caption: "Ty Durtschi sits in a harvested field next to a pickup truck with his dog in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-084.jpg
    caption: "Ty Durtschi poses for a senior portrait while leaning against a pickup truck in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-086.jpg
    caption: "Ty Durtschi poses for a senior portrait while leaning against a pickup truck in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-088.jpg
    caption: "Ty Durtschi kneels in tall grass while aiming a compound bow during a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-093.jpg
    caption: "Ty Durtschi holds a compound bow while posing for a senior portrait in a wooded area in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-094.jpg
    caption: "Ty Durtschi aims a compound bow in a wooded area during a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-097.jpg
    caption: "Ty Durtschi aims a compound bow during a senior portrait session in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-100.jpg
    caption: "Ty Durtschi poses for a senior portrait in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-102.jpg
    caption: "Ty Durtschi poses for a senior portrait in a field in Albany, Wisconsin on July 9, 2026."
  - filename: 20260710-ty-105.jpg
    caption: "Ty Durtschi poses for a senior portrait in a field in Albany, Wisconsin on July 9, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
	{% include gallery-grid.html %}	
</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>