---
title: Serenity 2027
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2026-06-30 08:30:35
slug:
tags:
- portraits

excerpt:

image: /portraits/images/2026/20260630-serenity/20260630-serenity-004.jpg
gallery-base: /portraits/images/2026/20260630-serenity/
gallery-images:
  - filename: 20260630-serenity-002.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-003.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-004.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-006.jpg
    caption: "Serenity Williams poses for a portrait in a garden at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-007.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-010.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-012.jpg
    caption: "Serenity Williams poses for a senior portrait against a white wall at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-013.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-014.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-016.jpg
    caption: "Serenity Williams poses for a senior portrait on the stone steps at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-017.jpg
    caption: "Serenity Williams poses for a senior portrait on the stone steps at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-021.jpg
    caption: "Serenity Williams sits on stone steps while posing for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-022.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-025.jpg
    caption: "Serenity Williams poses for a senior portrait against a tree at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-026.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-029.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-033.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-034.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-036.jpg
    caption: "Serenity Williams poses for a senior portrait in Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-037.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-038.jpg
    caption: "Serenity Williams poses for a senior portrait against a corrugated metal structure at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-040.jpg
    caption: "Serenity Williams poses for a senior portrait while leaning against a corrugated metal structure at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-043.jpg
    caption: "Serenity Williams poses for a senior portrait against a rustic wooden structure at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-044.jpg
    caption: "Serenity Williams poses for a senior portrait against a red wooden structure at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-047.jpg
    caption: "Serenity Williams poses for a senior portrait against a red wooden structure at Twining Park in Monroe, Wisconsin on June 30, 2026."
  - filename: 20260630-serenity-050.jpg
    caption: "Serenity Williams poses for a senior portrait at Twining Park in Monroe, Wisconsin on June 30, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
	{% include gallery-grid.html %}	
</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>