---
title: Troy 2027
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2026-06-18 08:30:35
slug:
tags:
- portraits

excerpt:

image: /portraits/images/2026/20260618-troy/20260618-troy-spotts-097.jpg
gallery-base: /portraits/images/2026/20260618-troy/
gallery-images:
  - filename: 20260618-troy-spotts-002.jpg
    caption: "Troy Spotts sits on the steps of a porch during a senior portrait session in Monroe, Wisconsin on June 18, 2026, with athletic gear displayed in the background."
  - filename: 20260618-troy-spotts-003.jpg
    caption: "Troy Spotts poses for a senior portrait surrounded by athletic gear in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-008.jpg
    caption: "Troy Spotts sits on a set of stairs surrounded by sports equipment, including a golf bag and a football jersey, during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-014.jpg
    caption: "Troy Spotts poses with a golf club while sitting on steps in front of a display of his athletic gear, including a golf bag, a football jersey, and a helmet, in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-019.jpg
    caption: "Troy Spotts holds a golf club toward the camera while sitting on a staircase during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-026.jpg
    caption: "Troy Spotts sits on a wooden bench outdoors during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-029.jpg
    caption: "Troy Spotts sits on a concrete step for a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-032.jpg
    caption: "Troy Spotts sits on a porch step during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-037.jpg
    caption: "Troy Spotts sits on the grass beneath a tree during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-044.jpg
    caption: "Troy Spotts sits on the grass with a dog during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-048.jpg
    caption: "Troy Spotts leans against a tree during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-059.jpg
    caption: "Troy Spotts sits on top of a John Deere tractor during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-062.jpg
    caption: "Troy Spotts sits in front of a large tractor during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-068.jpg
    caption: "Troy Spotts stands with his arms crossed in front of a tractor during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-075.jpg
    caption: "Troy Spotts holds the door handle of a Spotts Grain Farms truck in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-076.jpg
    caption: "Troy Spotts stands on a golf course while wearing a golf glove during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-080.jpg
    caption: "A young man wearing a plaid shirt and a golf glove looks down at a golf ball on the grass during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-084.jpg
    caption: "Troy Spotts swings a golf club during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-086.jpg
    caption: "Troy Spotts swings a golf club during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-089.jpg
    caption: "Troy Spotts swings a golf club during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-095.jpg
    caption: "Troy Spotts stands in a grassy field holding a golf club during a senior portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-097.jpg
    caption: "A student stands on a grassy hill holding a golf club during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-098.jpg
    caption: "Troy Spotts stands on a grassy hill holding a golf club during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-106.jpg
    caption: "Troy Spotts sits on a grassy hill next to a golf bag during a portrait session in Monroe, Wisconsin on June 18, 2026."
  - filename: 20260618-troy-spotts-108.jpg
    caption: "Troy Spotts sits on a grassy hill next to a golf bag during a senior portrait session in Monroe, Wisconsin on June 18, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
	{% include gallery-grid.html %}	
</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>