---
title: Lukas 2027
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP CREATIVE
layout: blog-posts
type: portraits
date: 2026-07-07 08:30:35
slug:
tags:
- portraits

excerpt:

image: /portraits/images/2026/20260707-lukas/20260708-lukas-057-v2.jpg
gallery-base: /portraits/images/2026/20260707-lukas/
gallery-images:
  - filename: 20260708-lukas-007.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team poses with a basketball during a senior portrait session at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-009.jpg
    caption: "Lukas Gerber sits on the floor holding a basketball during a portrait session at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-012.jpg
    caption: "Lukas Gerber poses with a basketball during a senior portrait session at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-015.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team holds a basketball during a senior portrait session at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-017.jpg
    caption: "Lukas Gerber holds a basketball toward the camera during a senior portrait session at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-018.jpg
    caption: "Lukas Gerber holds a basketball toward the camera during a senior portrait session at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-020.jpg
    caption: "Lukas Gerber poses with a basketball on the floor at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-023.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team poses with a basketball on the court at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-039.jpg
    caption: "Lukas Gerber #4 of the Monroe Cheesemakers dribbles a basketball at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-050.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team holds a basketball during a senior portrait session at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-051.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team poses with a basketball during a portrait session at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-052.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team poses with a basketball on the court at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-057.jpg
    caption: "Lukas Gerber #4 of the Monroe High School basketball team dunks a basketball during a portrait session at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-067.jpg
    caption: "Lukas Gerber poses for a senior portrait while wearing state championship medals on the bleachers at Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-069.jpg
    caption: "Lukas Gerber poses for a senior portrait surrounded by athletic gear and medals on the bleachers at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-074.jpg
    caption: "Lukas Gerber poses for a senior portrait on the steps of the new Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-076.jpg
    caption: "Lukas Gerber sits on the concrete stairs during a senior portrait session at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-083.jpg
    caption: "Lukas Gerber poses for a senior portrait on the campus of Monroe High School in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-086.jpg
    caption: "Lukas Gerber poses for a senior portrait in a field at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-092.jpg
    caption: "Lukas Gerber poses for a senior portrait at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."
  - filename: 20260708-lukas-094.jpg
    caption: "Lukas Gerber poses for a senior portrait against a textured wall at the Monroe High School campus in Monroe, Wisconsin on July 7, 2026."



---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
	{% include gallery-grid.html %}	
</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>