<!--schema generator: http://www.51blocks.com/jsongen.html -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "LocalBusiness",
	"name": "Second Crop Creative",
	"alternateName": "Second Crop",
	"description": "Professional photography, cinematic video & creative designs to show your story & preserve your memories. Learn how Second Crop can protect your memories & bring your stories to life.",
	"url": "http://secondcropcreative.com",
	"email": "mailto:hello@secondcropcreative.com",
	"logo": "http://secondcropcreative.com/assets/css/images/flat-logo-alt.png",
	"image": "http://secondcropcreative.com/assets/css/images/flat-logo-alt.png",
	"hasMap": "https://goo.gl/maps/WFygb",
	"founder": "Ross Haried",

	"geo": {
		"@type": "GeoCoordinates",
		"latitude": "42.938114",
		"longitude": "-89.227219"
	},
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "2109 N. Page St",
		"addressLocality": "Stoughton",
		"addressRegion": "WI",
		"postalCode": "53589"
	},

	"telephone": "+16084920235",
	"priceRange": "$$$",
	"openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 09:00-05:00",
	"sameAs": ["https://www.google.com/+Secondcropcreativedesign", "https://www.youtube.com/c/Secondcropcreativedesign", "https://twitter.com/2cropcreative", "https://.pinterest.com/secondcrop", "https://www.facebook.com/secondcropcreative", "https://instagram.com/secondcropcreative", "https://vimeo.com/secondcropcreative"]
}
</script>
<div class="row">
	<div class="max-1080">
		<div class="row">
			<div class="col-xs-12">
				<div class="row" style="padding: 5px; padding-top:15px;">
					<a href="{{ site.baseurl }}/photo-services/">
						<span class="proxima-nova-bold social-footer-links">Photography</span>
					</a>
					<a href="{{ site.baseurl }}/video-services/">
						<span class="proxima-nova-bold social-footer-links">Video</span>
					</a>
					<a href="{{ site.baseurl }}/design-services/">
						<span class="proxima-nova-bold social-footer-links">Design</span>
					</a>
				</div>
				<div id="footer-social" class="row" style="position: relative; height: 25px;">
					<a href="http://facebook.com/secondcropcreative/" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="http://twitter.com/2cropcreative/" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="http://instagram.com/secondcropcreative/" target="_blank"><i class="fa fa-instagram"></i></a>
					<a href="http://pinterest.com/secondcrop/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
					<a href="http://www.youtube.com/c/Secondcropcreativedesign/" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="http://vimeo.com/secondcropcreative" target="_blank"><i class="fa fa-vimeo-square"></i></a>
					<a href="/contact"><i class="fa fa-envelope"></i></a>
				</div>
				<div id="footer-contacts" class="row">
					<div><i class="fa fa-phone"></i> 608.492.0235</div>
					<div><i class="fa fa-envelope"></i>
						<!-- email obfuscators:-->
						<!-- http://www.albionresearch.com/misc/obfuscator.php-->
						<a href='ma&#105;lto&#58;%6&#56;&#101;&#108;lo&#64;&#115;&#37;6&#53;condcr&#111;&#112;c%72e%61ti&#118;e&#46;&#99;om'>h&#101;l&#108;o&#64;se&#99;on&#100;c&#114;opcreative&#46;&#99;om</a>
					</div>
					<!--<div><address><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/WFygb">2109 N. Page St Stoughton, WI 53589</a></address></div>-->
				</div>
				<div id="footer-copyright" class="row">
					<p>
						<i class="fa fa-copyright"></i>
						<script type="text/javascript">
						document.write(new Date().getFullYear());
						</script> Second Crop Creative
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/secondcrop.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

