<link rel="alternate" type="application/rss+xml" title="Second Crop Creative RSS" href="/feed.xml">
<meta name=viewport content="width=device-width, initial-scale=1">
<!-- PINTEREST-->
<meta name="p:domain_verify" content="d9dee012459ce944586afe1a29fc7fac" />
<!--favicons from http://realfavicongenerator.net/-->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/css/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/assets/css/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/css/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/assets/css/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/assets/css/images/favicons/mstile-310x310.png" />
<!--end favicons test-->
<script>
</script>
<!-- async css-->
<link rel="preload" href="{{ site.baseurl }}/dist/css/min/secondcrop.min.css" as="style" onload="this.rel='stylesheet'">
<noscript>
	<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/min/secondcrop.min.css">
</noscript>
<!--end async css-->
<!--<script>
var cb = function() {
	var l = document.createElement('link');
	l.rel = 'stylesheet';
	l.href = '{{ site.baseurl }}/dist/css/min/secondcrop.min.css';
	var h = document.getElementsByTagName('head')[0];
	h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>-->

<!-- FACEBOOK TRACKING PIXEL -->
<!-- Facebook Pixel Code -->
<script>
	! function(f, b, e, v, n, t, s) {
		if (f.fbq) return;
		n = f.fbq = function() {
			n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
		};
		if (!f._fbq) f._fbq = n;
		n.push = n;
		n.loaded = !0;
		n.version = '2.0';
		n.queue = [];
		t = b.createElement(e);
		t.async = !0;
		t.src = v;
		s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',
		'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1608589432774147');
	fbq('track', 'PageView');
</script>
<noscript>
	<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1608589432774147&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

<!-- end FACEBOOK TRACKING PIXEL -->