<div>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid max-1080">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#main-nav" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a href="{{ site.baseurl }}/" class="navbar-brand">
					<img src="{{ site.baseurl }}/assets/css/images/wordmark-alt-w.svg" alt="Second Crop Creative" title="Second Crop Creative" width="100%" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="main-nav">
				<ul class="nav navbar-nav">
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-left dropdown-inverse" role="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/about/">About</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/contact/">Contact</a></li>
						</ul>
					</li>
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-left dropdown-inverse" role="menu">
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/photo-services/">Photography Services</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/video-services/">Videography Services</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/design-services/">Design/Web Design Services</a></li>
						</ul>
					</li>
					<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Portfolio <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-left dropdown-inverse" role="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/photography/">Photography</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/video/">Video</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/design/">Design</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/cinemagraphs/">Cinemagraphs</a></li>
							<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/perfectloops/">Perfect Loops</a></li>
						</ul>
					</li>
					<li itemprop="name"><a itemprop="url" href="{{ site.baseurl }}/blog/">Blog</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://artifulprints.com" target="_blank" style="font-weight: 800;"><i class="fa fa-1x fa-shopping-basket" aria-hidden="true" style="margin: -6px;"></i> Shop</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div>
