---
title: Wisconsin Badgers vs. Detroit Mercy Titans
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-12-22 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Detroit Mercy Titans
- Basketball
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20241222-badgers/20241222-wisconsin-badgers-033.jpg
gallery-base: /sports/images/2024/20241222-badgers/
gallery-images:
  - filename: 20241222-detroit-mercy-009.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 is defended by Wisconsin Badgers guard Kamari McGee #4 at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-010.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 looks to the bench in the first half against theWisconsin Badgers at the Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-012.jpg
    caption: "Detroit Mercy Titans head coach Mark Montgomery directs his team during the first half against the Wisconsin Badgers  at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-014.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 questions a call while playing the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-016.jpg
    caption: "Detroit Mercy Titans guard TJ Nadeau #33 watches as the ball is brought up court against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-018.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 looks up at the game clock while being defended by Wisconsin Badgers guard John Blackwell #25 at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-025.jpg
    caption: "Detroit Mercy Titans guard Nate Johnson #10 pulls up for a jump shot against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-027.jpg
    caption: "Detroit Mercy Titans guard TJ Nadeau #33 surveys the court while three Badger players rush out to guard him at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-030.jpg
    caption: "Detroit Mercy Titans guard TJ Nadeau #33 attempts a jump shot over Wisconsin Badgers forward Steven Crowl #22 at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-035.jpg
    caption: "Detroit Mercy Titans guard TJ Nadeau #33 brings the ball up the court against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-036.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 drives to the hoop against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-038.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 passes the ball under the hoop against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-040.jpg
    caption: "Detroit Mercy Titans guard Peter Fuchs Jr. #14 attempts a shot over Wisconsin Badgers forward Markus Ilver #35 at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-041.jpg
    caption: "Detroit Mercy Titans guard Orlando Lovejoy #5 drives to the hoop against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-043.jpg
    caption: "Detroit Mercy Titans guard Peter Fuchs Jr. #14 drive the baseline against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-044.jpg
    caption: "Detroit Mercy Titans guard Grant Gondrezick II #8 shoots over Wisconsin Badgers guard Daniel Freitag #5 at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-045.jpg
    caption: "Detroit Mercy Titans guard Peter Fuchs Jr. #14 drives the lane against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-047.jpg
    caption: "Detroit Mercy Titans guard Peter Fuchs Jr. #14 celebrates a free throw with his team against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-detroit-mercy-049.jpg
    caption: "Detroit Mercy Titans guard Peter Fuchs Jr. #14 chases down a loose ball against the Wisconsin Badgers at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-002.jpg
    caption: "Wisconsin Badgers vs. Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-003.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 during warmups against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-005.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard places his hand over his heart during the nation anthem against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-006.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 looks up at the sideboard during starting lineups against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-007.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 greets his team during starting lineups against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-011.jpg
    caption: "Wisconsin Badgers vs. Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-014.jpg
    caption: "Wisconsin Badgers vs. Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-017.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 slams a wide open dunk in the first half against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-020.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 slams a wide open dunk in the first half against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-021.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 eyes the rim before a free throw against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-024.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 calls for the ball during an inbounds play against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-025.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 eyes the rim before a free throw against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-030.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 skies for the rebound and layup agains the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-033.jpg
    caption: "A shocked Wisconsin Badgers guard John Tonje #9 runs a fast break against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-036.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 attempts to haul in a rebound against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-039.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 drives the lane for the reverse layup against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-041.jpg
    caption: "Wisconsin Badgers vs. Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-044.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard looks on against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-050.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 attempts a jump shot against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-051.jpg
    caption: "Wisconsin Badgers guard Jack Janicki #33 attempts a layup against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-054.jpg
    caption: "Wisconsin Badgers forward Markus Ilver #35 attempts a 3-pointer against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-055.jpg
    caption: "Wisconsin Badgers vs. Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-057.jpg
    caption: "Detroit Mercy Titans guard Nate Johnson #10 and Wisconsin Badgers forward Nolan Winter #31 both look to the referee at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-059.jpg
    caption: "Wisconsin Badgers Carter Gilmore #7, Steven Crowl #22, Xavier Amos #13 and Daniel Freitag (center) celebrate a 3-pointer against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-060.jpg
    caption: "Wisconsin Badgers vs. Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-061.jpg
    caption: "Wisconsin Badgers guard Daniel Freitag #5 rolls his eyes at a foul late in the second half against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."
  - filename: 20241222-wisconsin-badgers-065.jpg
    caption: "Wisconsin Badgers guard Daniel Freitag #5 celebrates with his teammates late in the second half against the Detroit Mercy Titans at Kohl Center on December 22, 2024 in Madison, Wisconsin."




---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>