---
title: Wisconsin Badgers vs. South Dakota Coyotes
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-09-07 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- South Dakota Coyotes
- Football
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20240907-badgers/20240907-badgers-vs-south-dakota-049.jpg
gallery-images:
  - filename: 20240907-badgers-vs-south-dakota-005.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell walks out of the tunnel at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-038.jpg
    caption: "The University of Wisconsin band director Corey Pompey at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-004.jpg
    caption: "Photographer David Stluka at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-010.jpg
    caption: "Wisconsin Badgers quarterback Tyler Van Dyke #10 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-001.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 warms up at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-015.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell watches over his team at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-029.jpg
    caption: "Wisconsin Badgers running back Chez Mellusi #1 scores a touchdown against the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-017.jpg
    caption: "Wisconsin Badgers wide receiver Will Pauling #6 getting ready to take on the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-016.jpg
    caption: "Wisconsin Badgers offensive lineman Jack Nelson #79 & Barrett Nelson #70 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-002.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 warms up at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-111.jpg
    caption: "Wisconsin Badgers running back Chez Mellusi #1 takes a screen pass against the South Dakota Coyotes defense at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-104.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 runs through the South Dakota Coyotes defense at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-099.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 runs through the South Dakota Coyotes defense at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-066.jpg
    caption: "Wisconsin Badgers wide receiver Will Pauling #6 gives a thumbs up at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-088.jpg
    caption: "Wisconsin Badgers wide receiver Haakon Anderson #27 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-076.jpg
    caption: "Wisconsin Badgers tight end Tucker Ashcraft #38  tight end JT Seagreaves #41 and offensive lineman Riley Mahlman #71 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-089.jpg
    caption: "Wisconsin Badgers outside linebacker Aaron Witt #59 takes on South Dakota offensive lineman Bryce Henderson #55 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-075.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 celebrates a first down in the face of South Dakota defensive lineman Blake Holden #61 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-049.jpg
    caption: "Wisconsin Badgers wide receiver C.J. Williams #4 hauls in pass against the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-093.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell reviews a play on the board at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-044.jpg
    caption: "Wisconsin Badgers vs. South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-078.jpg
    caption: "Wisconsin Badgers quarterback Tyler Van Dyke #10 attempts as pass against the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-124.jpg
    caption: "Wisconsin Badgers vs. South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-092.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell reviews a play on the board at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-090.jpg
    caption: "Wisconsin Badgers safety Hunter Wohler #24 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-053.jpg
    caption: "Wisconsin Badgers wide receiver C.J. Williams #4 celebrates a touchdown against South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-047.jpg
    caption: "Wisconsin Badgers cornerback Nyzier Fourqurean #3 celebrates a defensive stop agains the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-126.jpg
    caption: "Fans look at the scoreboard in disbelief at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-042.jpg
    caption: "Wisconsin Badgers vs. South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-137.jpg
    caption: "South Dakota quarterback Aidan Bouman #2 fakes a handoff to running back Travis Theis #5 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-057.jpg
    caption: "Wisconsin Badgers vs. South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-094.jpg
    caption: "Wisconsin Badgers linebacker Tackett Curtis #4 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-041.jpg
    caption: "Wisconsin Badgers vs. South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-055.jpg
    caption: "Wisconsin Badgers wide receiver C.J. Williams #4 celebrates a touchdown against South Dakota Coyotes with Wisconsin Badgers wide receiver Vinny Anthony II #8 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-068.jpg
    caption: "Wisconsin Badgers Offensive Coordinator Phil Longo at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-097.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 returns a kickoff against the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-083.jpg
    caption: "Wisconsin Badgers wide receiver C.J. Williams #4 lines up against the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-033.jpg
    caption: "Wisconsin Badgers kicker Nathanial Vakos #90 lines up an extra point at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-147.jpg
    caption: "South Dakota defensive back Teven McKelvey #3 grabs the facemark of Wisconsin Badgers running back Jackson Acker #34 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-032.jpg
    caption: "Wisconsin Badgers running back Chez Mellusi #1 celebrates a touchdown against the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-026.jpg
    caption: "Wisconsin Badgers wide receiver Bryson Green #9 out runs the defense of the South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-019.jpg
    caption: "Bucky Badger leads the Wisconsin Badgers onto the field at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-025.jpg
    caption: "Wisconsin Badgers quarterback Tyler Van Dyke #10 points out the South Dakota Coyotes defense at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-021.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson #17 fist bumps outside linebacker Leon Lowery Jr. #8 as the Wisconsin Badgers take the field at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-034.jpg
    caption: "Wisconsin Badgers vs. South Dakota Coyotes at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-022.jpg
    caption: "Wisconsin Badgers cornerback Jace Arnold #22 takes a knee before the game at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-142.jpg
    caption: "South Dakota quarterback Aidan Bouman #2 attempts a pass against the pressure of Wisconsin Badgers outside linebacker Darryl Peterson #17 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."
  - filename: 20240907-badgers-vs-south-dakota-143.jpg
    caption: "South Dakota defensive back Teven McKelvey #3 grabs the facemark of Wisconsin Badgers running back Jackson Acker #34 at Camp Randall Stadium on September 07, 2024 in Madison, Wisconsin."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2024/20240907-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2024/20240907-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>