---
title: Wisconsin Badgers vs. Michigan Wolverines
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-12-03 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Michigan Wolverines
- Basketball
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20241203-badgers/20241203-wiscosin-michigan-117.jpg
gallery-images:
  - filename: 20241203-wiscosin-michigan-004.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 adjust his shorts before taking on the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-005.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 prepares to take on the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-006.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 communicates with the bench before taking on the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-008.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 has the first touch of the tipoff against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-013.jpg
    caption: "Michigan Wolverines center Danny Wolf #1 drives into the lane while being defended by Wisconsin Badgers forward Steven Crowl #22 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-015.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 subs into the game during the first half against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-019.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 slams down a dunk on a fast break against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-025.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 chases Michigan Wolverines guard Rubin Jones #15 as the referee looks on at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-027.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the lane as Michigan Wolverines guard Roddy Gayle Jr. #11 gets left behind at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-028.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 holds a follow through as Michigan Wolverines guard Roddy Gayle Jr. #11 looks on at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-029.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 looks at the bench against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-030.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 falls back to play defense against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-031.jpg
    caption: "Wisconsin Badgers head coach Greg Gard signals a substitution to the bench against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-035.jpg
    caption: "Michigan Wolverines guard Tre Donaldson #3 attempts a shot against the Wisconsin Badgers at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-039.jpg
    caption: "Wisconsin Badgers head coach Greg Gard argues a foul as the Wisconsin Badgers take on the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-042.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 is defended by Michigan Wolverines guard L.J. Cason #2 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-044.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 is defended by Michigan Wolverines guard Tre Donaldson #3 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-048.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 shoots a jumper over Michigan Wolverines guard L.J. Cason #2 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-049.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 hangs from the rim after dunking against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-051.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 walks back to the bench during a media time out against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-054.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 attempts a shot while being defended by Michigan Wolverines guard Nimari Burnett #4 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-055.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 is defended by Michigan Wolverines center Vladislav Goldin #50 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-059.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 celebrates drawing a foul against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-061.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 and Michigan Wolverines center Vladislav Goldin #50 battle over afor a rebound in the second half at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-066.jpg
    caption: "Wisconsin Badgers head coach Greg Gard gets an explanation from the referee against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-071.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 looks on during a free throw late in the second half against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-075.jpg
    caption: "Michigan Wolverines center Vladislav Goldin #50 lays in a gentle basket on Wisconsin Badgers forward Nolan Winter #31 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-076.jpg
    caption: "Wisconsin Badgers head coach Greg Gard has a conversation with the referee against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-078.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline against Michigan Wolverines guard Nimari Burnett #4 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-080.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 scoops up a loose ball against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-081.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 eyes Michigan Wolverines guard Roddy Gayle Jr. #11 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-084.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline against Michigan Wolverines guard Roddy Gayle Jr. #11 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-086.jpg
    caption: "Michigan Wolverines center Vladislav Goldin #50 elevates for a dunk against the Wisconsin Badgers at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-091.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 eyes the rim before a free throw in the second half against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-098.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 elevates to draw the and one against the Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-103.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 celebrates an and one opportunity against the Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-109.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 defends Michigan Wolverines center Danny Wolf #1 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-113.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 looks at the bench after draining a three pointer against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-115.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 hangs his head after fouling out against the Michigan Wolverines at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-117.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 is defended by Michigan Wolverines center Danny Wolf #1 at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-124.jpg
    caption: "The Michigan Wolverines celebrate a win against the Wisconsin Badgers at the Kohl Center on December 03, 2024 in Madison, Wisconsin."
  - filename: 20241203-wiscosin-michigan-126.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 heads off the court as the Michigan Wolverines celebrate their win in the background at the Kohl Center on December 03, 2024 in Madison, Wisconsin."



---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2024/20241203-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2024/20241203-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>