---
title: Wisconsin Badgers vs. Oregon Ducks
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-11-16 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Oregon Ducks
- Football
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20241116-badgers/20241116-wisconsin-oregon-074.jpg
gallery-base: /sports/images/2024/20241116-badgers/
gallery-images:
  - filename: 20241116-wisconsin-oregon-009.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell leads Wisconsin out of the tunnel at Camp Randall Stadium as they take on the Oregon Ducks on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-010.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell leads Wisconsin out of the tunnel at Camp Randall Stadium as they take on the Oregon Ducks on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-011.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell leads Wisconsin out of the tunnel at Camp Randall Stadium as they take on the Oregon Ducks on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-013.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 runs out of the tunnel  at Camp Randall Stadium against the Oregon Ducks on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-014.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 rallies the Oregon Ducks as they take on the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-015.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-018.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-019.jpg
    caption: "Oregon quarterback Dillon Gabriel #8  leads the Oregon Ducks out of the tunnel at Camp Randall Stadium as they take on the Wisconsin Badgers on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-020.jpg
    caption: "Wisconsin Badgers safety Austin Brown #9 and Wisconsin Badgers wide receiver Bryson Green #9 take a knee prior to kickoff. Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-021.jpg
    caption: "Wisconsin Badgers take a knee prior to kickoff. Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-022.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-023.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-026.jpg
    caption: "Oregon running back Jordan James #20 gets taken down by Wisconsin Badgers outside linebacker Leon Lowery Jr. #8 & Wisconsin Badgers safety Preston Zachman #14 at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-030.jpg
    caption: "The Oregon Duck at Camp Randall Stadium as the Wisconsin Badgers take on the Oregon Ducks on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-035.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 looks to pass down field against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-036.jpg
    caption: "Wisconsin Badgers cornerback Nyzier Fourqurean #3 runs down field after intercepting a pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-039.jpg
    caption: "Wisconsin Badgers outside linebacker Leon Lowery Jr. #8  signals a turnover against The Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-042.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 looks down field to Oregon wide receiver Evan Stewart #7 while being pursued by Wisconsin Badgers outside linebacker John Pius #0  at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-043.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 looks down field to Oregon wide receiver Evan Stewart #7 while being pursued by Wisconsin Badgers outside linebacker John Pius #0  at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-045.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 hits a hole with the help from Wisconsin Badgers offensive lineman Joe Huber #60 against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-046.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 and Wisconsin Badgers offensive lineman Jake Renfro #57 read the Oregon defense before the snap at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-048.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 finds a seam on the edge against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-050.jpg
    caption: "Oregon defensive back Tysheem Johnson #0, Oregon defensive back Jabbar Muhammad #7 and Oregon outside linebacker Emar'rion Winston #32 discuss the previous play against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-054.jpg
    caption: "Wisconsin Badgers offensive lineman Jack Nelson #79 gives Oregon inside linebacker Bryce Boettcher #28 a smirk after a play at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-056.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell and the Wisconsin Badgers sideline react to a penalty as they take on the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-058.jpg
    caption: "Wisconsin Badgers punter Gavin Meyers #28 gets ready to hold a kick against Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-060.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-061.jpg
    caption: "The Oregon Duck takes in the views at Camp Randall Stadium against the Wisconsin Badgers on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-062.jpg
    caption: "Oregon defensive back Dontae Manning #8 eyes a punt against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-064.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 throws a pass against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-065.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 throws a pass against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-066.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-067.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-068.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-070.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-071.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-074.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-075.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-076.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-077.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-080.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-081.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-083.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-084.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a long pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-088.jpg
    caption: "Wisconsin Badgers tight end Riley Nowakowski #37 eyes up the Oregon Ducks defense before an extra point attempt at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-089.jpg
    caption: "Wisconsin Badgers kicker Nathanial Vakos #90 looks up the the goalpost before kicking an extra point against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-096.jpg
    caption: "Wisconsin Badgers safety Hunter Wohler #24 celebrates a defensive stop against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-098.jpg
    caption: "Wisconsin Badgers safety Hunter Wohler #24 celebrates a defensive stop against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-099.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-100.jpg
    caption: "Oregon running back Jordan James #20 gives a stiff arm against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-101.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 heaves a pass down field against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-103.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 eyes the Oregon Ducks defense before the snap at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-105.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 tries to escape a tackle against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-109.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 looks towards the 4th down marker against the Oregon Ducks defense at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-112.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 finds the hole against the Oregon Ducks defense at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-113.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 finds the hole against the Oregon Ducks defense at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-119.jpg
    caption: "Oregon defensive back Brandon Johnson #3 communicates with his teammates against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-120.jpg
    caption: "Oregon defensive back Brandon Johnson #3 and Oregon inside linebacker Jeffrey Bassa #2 celebrate after a defensive stop against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-124.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 hands the ball off to Oregon running back Jordan James #20 against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-129.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 lays on the ground after being stopped by the Wisconsin Badgers defense at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-130.jpg
    caption: "Oregon wide receiver Evan Stewart #7 escapes the clutches of Wisconsin Badgers cornerback Ricardo Hallman #2 at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-133.jpg
    caption: "Oregon running back Jordan James #20 finds an opening on the edge for a touchdown against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-136.jpg
    caption: "Oregon running back Jordan James #20 finds an opening on the edge for a touchdown against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-139.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 heads back the sideline after a touchdown against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-140.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 heads back the sideline after a touchdown against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-143.jpg
    caption: "Wisconsin Badgers safety Hunter Wohler #24 celebrates a defensive stop against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-144.jpg
    caption: "Oregon defensive back Nikko Reed #9 reads the Wisconsin Badgers offense at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-149.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3  takes the ball up field against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-151.jpg
    caption: "Wisconsin Badgers vs. Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-152.jpg
    caption: "Oregon wide receiver Gary Bryant Jr. #2 runs the ball up field after a catch against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-158.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 scrambles against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-159.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 scrambles against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-160.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 scrambles against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-162.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 scrambles against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-163.jpg
    caption: "Oregon quarterback Dillon Gabriel #8 gets tackled by Wisconsin Badgers defensive lineman Curt Neal #92  at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-166.jpg
    caption: "Oregon offensive lineman Nishad Strother #50 looks up at the clock in the 4th quarter against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-171.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22 looks back to the line of scrimmage against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-172.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 attempts a pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-173.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 attempts a pass against the Oregon Ducks at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."
  - filename: 20241116-wisconsin-oregon-174.jpg
    caption: "Bucky Badger at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin as the Wisconsin Badgers take on the Oregon Ducks."
  - filename: 20241116-wisconsin-oregon-176.jpg
    caption: "Oregon head coach Dan Lanning celebrates with his team as the Oregon Ducks seal the game with an interception late in the 4th quarter against the Wisconsin Badgers at Camp Randall Stadium on November 16, 2024 in Madison, Wisconsin."




---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>