---
title: Wisconsin Badgers vs. Minnesota Golden Gophers
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-11-29 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Minnesota Golden Gophers
- Football
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20241129-badgers/20241129-badger-football-050.jpg
gallery-images:
  - filename: 20241129-badger-football-001.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 warms up as the Wisconsin Badgers take on the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-002.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 warms up as the Wisconsin Badgers take on the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-007.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell takes a knee with his team before the Wisconsin Badgers take on the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-013.jpg
    caption: "The University of Wisconsin Marching Band Drum Major Caleb Monge leads the band onto the field ahead of the Wisconsin Badgers vs. Minnesota Golden Gophers game at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-015.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22 gets ready before the Wisconsin Badgers take on the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-017.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22 gets ready before the Wisconsin Badgers take on the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-022.jpg
    caption: "Minnesota Golden Gopher running back Darius Taylor #1 runs the ball against the Wisconsin Badgers defense at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-024.jpg
    caption: "Wisconsin Badgers linebacker Christian Alliegro #28 celebrates a defensive stop against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-026.jpg
    caption: "Wisconsin Badgers linebacker Christian Alliegro #28 celebrates a defensive stop against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-030.jpg
    caption: "Minnesota Golden Gopher wide receiver Daniel Jackson #9 hauls in a deep pass against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-034.jpg
    caption: "Minnesota head coach P.J. Fleck looks on as his Golden Gophers take on the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-036.jpg
    caption: "Minnesota head coach P.J. Fleck looks on as his Golden Gophers take on the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-038.jpg
    caption: "Minnesota Golden Gopher head coach P.J. Fleck looks at the scoreboard during an official review against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-040.jpg
    caption: "Bucky Badger takes a break with little Bucky as the Wisconsin Badgers take on the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-045.jpg
    caption: "Wisconsin Badgers vs. Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-047.jpg
    caption: "Wisconsin Badgers cornerback Ricardo Hallman #2 defends Minnesota Golden Gopher wide receiver Daniel Jackson #9 at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-048.jpg
    caption: "Wisconsin Badgers cornerback Ricardo Hallman #2 defends Minnesota Golden Gopher wide receiver Daniel Jackson #9 at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-050.jpg
    caption: "Wisconsin Badgers cornerback Ricardo Hallman #2 defends Minnesota Golden Gopher wide receiver Daniel Jackson #9 at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-056.jpg
    caption: "Minnesota Golden Gopher wide receiver Daniel Jackson #9 runs up field after receiving a short pass against the Wisconsin Badgers  at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-058.jpg
    caption: "Minnesota Golden Gopher wide receiver Daniel Jackson #9 runs up field after receiving a short pass against the Wisconsin Badgers  at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-059.jpg
    caption: "Minnesota Golden Gopher quarterback Max Brosmer #16 looks towards the scoreboard against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-063.jpg
    caption: "Minnesota Golden Gopher head coach P.J. Fleck jumps to signal a false start against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-068.jpg
    caption: "Wisconsin Badgers tight end Riley Nowakowski #37 bobbles a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-072.jpg
    caption: "Wisconsin Badgers defensive lineman Elijah Hills #94 sacks Minnesota Golden Gopher quarterback Max Brosmer #16  at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-078.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 returns a punt against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-080.jpg
    caption: "Minnesota quarterback Max Brosmer #16 attempts a pass against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-082.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell looks on against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-083.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson #17 celebrates a tackle against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-088.jpg
    caption: "Wisconsin Badgers tight end JT Seagreaves #41 hauls in a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-089.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 attempts to haul in a deep pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-094.jpg
    caption: "Minnesota Golden Gopher wide receiver Daniel Jackson #9 eyes a pass while defended by Wisconsin Badgers cornerback Ricardo Hallman #2 at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-101.jpg
    caption: "Minnesota Golden Gopher tight end Jameson Geers #86 hauls in a touchdown against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-104.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 runs the ball against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-108.jpg
    caption: "Wisconsin Badgers tight end JT Seagreaves #41 wrangles in a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-112.jpg
    caption: "Wisconsin Badgers tight end JT Seagreaves #41 wrangles in a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-115.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 hauls in a touchdown catch against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-118.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 rolls out of the pocket for a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-125.jpg
    caption: "Wisconsin Badgers vs. Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-136.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 stares down Minnesota Golden State nGopher defensive back Koi Perich #3 after a big play at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-138.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 runs the ball against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-142.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 drops back for a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-152.jpg
    caption: "Wisconsin Badgers vs. Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-156.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 goes in motion against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-161.jpg
    caption: "Minnesota Golden Gopher running back Darius Taylor #1 runs the ball against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-169.jpg
    caption: "Minnesota Golden Gopher running back Darius Taylor #1 runs the ball against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-171.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell walks across the field with his head lowered against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-174.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 throws a pass against the Minnesota Golden Gophers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-178.jpg
    caption: "The Minnesota Golden Gophers take home the Paul Bunyan Axe against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-181.jpg
    caption: "The Minnesota Golden Gophers take home the Paul Bunyan Axe against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-184.jpg
    caption: "The Minnesota Golden Gophers take home the Paul Bunyan Axe against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-186.jpg
    caption: "The Minnesota Golden Gophers take home the Paul Bunyan Axe against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."
  - filename: 20241129-badger-football-188.jpg
    caption: "The Minnesota Golden Gophers take home the Paul Bunyan Axe against the Wisconsin Badgers at Camp Randall Stadium on November 29, 2024 in Madison, Wisconsin."



---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
      <h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2024/20241129-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2024/20241129-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>