---
title: Wisconsin Badgers Men's Basketball Media Day
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-10-07 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- basketball
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20241007-badgers/20241007-badgers-mbb-media-day-028.jpg
gallery-images:
  - filename: 20241007-badgers-mbb-media-day-019.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard looks on during a practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-031.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 runs a drill during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-024.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 goes in for a layup during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-026.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 goes in for a layup during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-033.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard watches over the practice during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-037.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-020.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 eyes the rim during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-008.jpg
    caption: "Wisconsin Badgers Basketball local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-009.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 runs a drill during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-035.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard watches over the practice during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-079.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard works with  guard Max Klesmit #11 during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-044.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard leads the team onto the court during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-078.jpg
    caption: "Wisconsin Badgers Basketball local media day at Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-068.jpg
    caption: "Wisconsin Badgers guard Jack Janicki #33 looks after  forward Riccardo Greppi #18 during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-041.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard watches over the practice during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-055.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 dives for a loose ball during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-042.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard addresses his team during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-071.jpg
    caption: "Wisconsin Badgers Associate Head Coach Joe Krabbenhoft hits forward Carter Gilmore #7 during a drill at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-059.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 dives after a loose ball during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-061.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 and guard Max Klesmit #11 help guard John Tonje #9 up off the floor during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-049.jpg
    caption: "Wisconsin Badgers Basketball local media day at Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-060.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 dives after a loose ball during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-074.jpg
    caption: "Wisconsin Badgers Assistant Coach Sharif Chambliss during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-077.jpg
    caption: "Wisconsin Badgers Basketball local media day at Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-010.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 runs a drill during practice at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-006.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 shoots a jumper during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-002.jpg
    caption: "Wisconsin Badgers Basketball local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-003.jpg
    caption: "Hamilton High School Boys Basketball Coach Andy Cerroni surprises Wisconsin Badgers guard Aidan Konop #14 during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."
  - filename: 20241007-badgers-mbb-media-day-028.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard watches over the practice during local media day at the Nicholas Johnson Pavilion on October 7, 2024 in Madison, WI."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2024/20241007-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2024/20241007-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>