---
title: Wisconsin Badgers vs. Purdue Boilermakers
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2024-10-05 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Purdue Boilermakers
- Football
- NCAA
- Big Ten
excerpt:
image: /sports/images/2024/20241005-badgers/20241005-wisconsin-purdue-110.jpg
gallery-images:
  - filename: 20241005-wisconsin-purdue-007.jpg
    caption: "Wisconsin Badgers Offensive Coordinator Phil Longo leads warmups for the Wisconsin Badgers against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-006.jpg
    caption: "Wisconsin Badgers walk out of the tunnel against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-159.jpg
    caption: "Wisconsin Badgers kicker Nathanial Vakos #90 celebrates with Cayson Pfeiffer #99 and Gavin Meyers #28  against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-039.jpg
    caption: "Wisconsin Badgers offensive lineman Joe Brunner #56 braces for an extra point against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-149.jpg
    caption: "The Wisconsin Badgers celebrate a Cade Yacamelli #25 touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-148.jpg
    caption: "The Wisconsin Badgers celebrate a Cade Yacamelli #25 touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-014.jpg
    caption: "Bucky Badger leads the Wisconsin Badgers onto the field at Camp Randall Stadium against the Purdue Boilermakers on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-017.jpg
    caption: "Wisconsin Badgers quarterback Mabrey Mettauer #11 gets ready against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-003.jpg
    caption: "Wisconsin Badgers Offensive Coordinator Phil Longo walks out of the tunnel against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-110.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 hauls in a touchdown pass against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-104.jpg
    caption: "Purdue defensive back Nyland Green #2  defends Wisconsin Badgers wide receiver Quincy Burroughs #5 at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-071.jpg
    caption: "Wisconsin Badgers Head Coach Luke Fickell pleads his case against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-065.jpg
    caption: "Purdue quarterback Hudson Card #1 pitches the ball to running back Reggie Love III #23 against the Wisconsin Badgers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-098.jpg
    caption: "Purdue Boilermakers quarterback Hudson Card #1 looks down field for an open receiver against the Wisconsin Badgers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-067.jpg
    caption: "Wisconsin Badgers safety Hunter Wohler #24 celebrates a hard hit against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-107.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-112.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 hauls in a touchdown pass against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-072.jpg
    caption: "Purdue Boilermakers quarterback Hudson Card #1 lines up as a wide out against the Wisconsin Badgers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-077.jpg
    caption: "Purdue Boilermakers running back Devin Mockobee #45 runs up field after a reception against the Wisconsin Badgers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-061.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 out runs the Purdue Boilermakers for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-101.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 throws a deep pass against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-128.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-074.jpg
    caption: "Purdue Boilermaker quarterback Hudson Card #1 is taken down by Wisconsin Badgers outside linebacker John Pius #0 at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-086.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-092.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 outruns the Purdue Boilermakers defense for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-131.jpg
    caption: "Wisconsin Badgers cornerback Xavier Lucas #6  sends Purdue running back Devin Mockobee #45 airborn  at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-125.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-118.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 throws a pass while on the run against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-050.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 throws a pass against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-078.jpg
    caption: "Purdue Boilermakers running back Devin Mockobee #45 runs up field after a reception against the Wisconsin Badgers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-091.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 outruns the Purdue Boilermakers defense for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-085.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 throws a pass against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-046.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 gives a stiff arm to Purdue defensive back Botros Alisandro #19 at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-084.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-094.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 outruns the Purdue Boilermakers defense for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-080.jpg
    caption: "Wisconsin Badgers quarterback Braedyn Locke #18 takes a snap against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-057.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II #8 out runs the Purdue Boilermakers for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-123.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 escapes the Purdue Boilermakers defense for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-042.jpg
    caption: "Purdue quarterback Hudson Card #1 is pressured by Wisconsin Badgers outside linebacker Darryl Peterson #17 at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-081.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-097.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-040.jpg
    caption: "Wisconsin Badgers vs. Purdue Boilermakers at Camp Randall Stadium on October 05, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-069.jpg
    caption: "Wisconsin Badgers linebacker Christian Alliegro #28 and cornerback Max Lofy #12 celebrate a defensive stop against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-096.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 outruns the Purdue Boilermakers defense for a touchdown at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-026.jpg
    caption: "Wisconsin Badgers safety Hunter Wohler #24 celebrates a fumble recovery on special teams against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-152.jpg
    caption: "Wisconsin Badgers running back Dilin Jones #7 runs the ball against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-145.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 runs in a touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-034.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 runs in a touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-020.jpg
    caption: "Wisconsin Badgers wide receiver Bryson Green #9 attempts to haul in a pass just out of his reach against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-008.jpg
    caption: "Purdue Pete at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-140.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 runs in a touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-035.jpg
    caption: "Wisconsin Badgers running back Tawee Walker #3 runs in a touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-037.jpg
    caption: "Wisconsin Badgers wide receiver C.J. Williams #4 celebrates a Tawee Walker #3 touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-157.jpg
    caption: "Wisconsin Badgers quarterback Mabrey Mettauer #11 looks to pass against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-143.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 runs in a touchdown against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-156.jpg
    caption: "Wisconsin Badgers tight end JT Seagreaves #41 lines up against the Purdue Boilermakers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."
  - filename: 20241005-wisconsin-purdue-022.jpg
    caption: "Purdue defensive back Dillon Thieneman #31 fumbles a punt against the Wisconsin Badgers at Camp Randall Stadium on October 5, 2024 in Madison, Wisconsin."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2024/20241005-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2024/20241005-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>