---
title: 2025 American Family Championship - Day One
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-06-06 08:30:35
slug:
tags:
- sports
- Golf
- PGA
excerpt:
image: /sports/images/2025/20250606-amfam-day1/20250606-amfam-day1-086.jpg
gallery-base: /sports/images/2025/20250606-amfam-day1/
gallery-images:
  - filename: 20250606-amfam-day1-001.jpg
    caption: "Round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-002.jpg
    caption: "Round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-003.jpg
    caption: "Scott McCarron hits a shot from the fairway on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-005.jpg
    caption: "Alex Cejka hits a chip shot on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-007.jpg
    caption: "Søren Kjeldsen reacts after a missed putt on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-009.jpg
    caption: "Shane Bertsch (right) retrieves his ball fro the cup while Y.E. Yang (left) places his ball for a putt on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-010.jpg
    caption: "Hiroyuki Fujita hits a tee shot on the 2nd tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-011.jpg
    caption: "Tom Pernice Jr. watches his tee shot from hole 2 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-012.jpg
    caption: "Vijay Singh watches his tee shot from hole 2 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-013.jpg
    caption: "Vijay Singh reacts after his tee shot from hole 2 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-014.jpg
    caption: "Matt Gogel hits a tee shot on the 2nd tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-015.jpg
    caption: "Darren Clarke lines up a putt on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-016.jpg
    caption: "Round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-017.jpg
    caption: "Fred Couples surveys the green on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-018.jpg
    caption: "Round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-019.jpg
    caption: "Justin Leonard hits a shot fro the rough on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-021.jpg
    caption: "Jerry Kelly surveys the green on hole 1 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-022.jpg
    caption: "Steve Stricker eyes his shot on hole 1 while Ricardo Gonzalez & Ángel Cabrera look on during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-025.jpg
    caption: "Ángel Cabrera hits a chip shot from the rough during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-027.jpg
    caption: "Ángel Cabrera chips onto the green while spectators look on during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-029.jpg
    caption: "Mario Tiziani hits a tee shot on the 2nd tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-032.jpg
    caption: "Steve Stricker hits a tee shot on the 3rd tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-034.jpg
    caption: "A pair of Sandhill Cranes cross the fairway of hole 3 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-035.jpg
    caption: "Mario Tiziani & Steve Stricker, and Ricardo Gonzalez & Ángel Cabrera YYYYYYYY during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-036.jpg
    caption: "Spectators look towards the tee box on hole 4 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-037.jpg
    caption: "Mario Tiziani hits a tee shot on the 4th tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-038.jpg
    caption: "Steve Stricker hits a tee shot on the 4th teebduring round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-041.jpg
    caption: "Bernhard Langer (left) points at Justin Leonard (right) during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-042.jpg
    caption: "Bernhard Langer marks his scorecard after finishing hole 4 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-043.jpg
    caption: "Jerry Kelly reacts after a missed putt on hole 4 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-044.jpg
    caption: "Bernhard Langer watches his tee shot from hole 6 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-046.jpg
    caption: "Steve Stricker hits a shot from the bunker on hole 5 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-050.jpg
    caption: "Mario Tiziani hits a shot from tall grass on hole 6 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-051.jpg
    caption: "Mario Tiziani hits a shot from tall grass on hole 6 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-052.jpg
    caption: "Ángel Cabrera (center left) celebrates a double eagle on hole 7 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-053.jpg
    caption: "Ángel Cabrera pulls his double eagle ball out of the cup on hole 7 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-055.jpg
    caption: "Steve Stricker hits a shot fro the bunker on hole 7 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-057.jpg
    caption: "Steve Stricker hits a shot fro the bunker on hole 7 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-058.jpg
    caption: "Steve Stricker squats down to rest on hole 7 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-061.jpg
    caption: "Round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-063.jpg
    caption: "Steve Stricker celebrates a chip shot for birdie on hole 8 with his wife and caddie, Nicki Stricker, during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-065.jpg
    caption: "Nicki Stricker, Steve Stricker’s wife and caddie, waits on a bridge leading to hole 9 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-067.jpg
    caption: "Ángel Cabrera hits a tee shot on the 9th tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-070.jpg
    caption: "Mario Tiziani & Steve Stricker celebrate on hole 9 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-072.jpg
    caption: "Mario Tiziani hits a tee shot on the 16th tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-073.jpg
    caption: "David Toms hits a tee shot on the 16th tee during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-076.jpg
    caption: "Steve Stricker heads in to sign his scorecard after round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-077.jpg
    caption: "Davis Love III surveys the green on hole 16 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-079.jpg
    caption: "Fred Couples flips a tee off the ground into his hand on after finishing hole 16 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-082.jpg
    caption: "Ricardo Gonzalez hits a chip shot on hole 16 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-083.jpg
    caption: "Steve Stricker heads to hole 17 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-084.jpg
    caption: "Steve Stricker watches his second shot on hole 18 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-085.jpg
    caption: "Ricardo Gonzalez hits a shot from the bunker on hole 18 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-086.jpg
    caption: "Ricardo Gonzalez hits a shot from the bunker on hole 18 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."
  - filename: 20250606-amfam-day1-087.jpg
    caption: "Steve Stricker nearly misses a chip shot on hole 18 during round 1 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 6th, 2025."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250606-amfam-day1/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250606-amfam-day1/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>