---
title: "Wisconsin Badgers vs. SIUE Cougars"
author: "ROSS HARRIED"
photographer: "ROSS HARRIED for SECOND CROP SPORTS"
layout: blog-posts
type: sports
date: 2025-11-17 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - SIEU Cougars
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2025/20251117-wisconsin-siue/20251117-wisconsin-siue-025.jpg
gallery-base: "/sports/images/2025/20251117-wisconsin-siue/"
gallery-images:
  - filename: 20251117-wisconsin-siue-001.jpg
    caption: "A member of the Wisconsin Badgers Dance Team before a game between Wisconsin Badgers and SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-004.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) waits to be announced in the starting lineup against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-006.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) heads to the bench against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-008.jpg
    caption: "SIU Edwardsville Cougars guard Jack Campion (5) brings the ball up the court while defended by Wisconsin Badgers guard Nick Boyd (2) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-009.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) runs off a pick by forward Nolan Winter (31) against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-010.jpg
    caption: "SIU Edwardsville Cougars guard Ring Malith (0) shoots a shot over Wisconsin Badgers guard Andrew Rohde (7) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-012.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) hits a free throw against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-016.jpg
    caption: "Wisconsin Badgers guard Andrew Rohde (7) hits a three pointer against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-017.jpg
    caption: "SIU Edwardsville Cougars forward Darrion Baker (4) attempts a shot while being defended by Wisconsin Badgers forward Austin Rapp (22) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-019.jpg
    caption: "SIU Edwardsville Cougars guard Ring Malith (0) dribbles the ball at the top of the arch while being defended by Wisconsin Badgers guard Andrew Rohde (7) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-021.jpg
    caption: "SIU Edwardsville Cougars center Arnas Sakenis (34) attempts a shot while being defended by Wisconsin Badgers forward Aleksas Bieliauskas (32) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-022.jpg
    caption: "SIU Edwardsville Cougars guard Jack Campion (5) watches as the ball travels over his head against The Wisconsin Badgers at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-023.jpg
    caption: "SIU Edwardsville Cougars forward Myles Thompson (21) is fouled by Wisconsin Badgers guard Nick Boyd (2) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-025.jpg
    caption: "SIU Edwardsville Cougars forward Myles Thompson (21) is fouled by Wisconsin Badgers guard Nick Boyd (2) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-027.jpg
    caption: "Wisconsin Badgers head coach Greg Gard has a conversation with the referee against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-029.jpg
    caption: "SIU Edwardsville Cougars guard Jack Campion (5) drives past Wisconsin Badgers guard Jack Janicki (5) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-030.jpg
    caption: "Wisconsin Badgers guard Braeden Carrington (0) reacts to being fouled on a successful three point attempt against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-031.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5) heads to the bench against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-034.jpg
    caption: "SIU Edwardsville Cougars forward Myles Thompson (21) drives the lane while being defended by Wisconsin Badgers guard Braeden Carrington (0) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-035.jpg
    caption: "SIU Edwardsville Cougars guard Jordan Pickett (1) points to a teammate after hitting a three pointer against The Wisconsin Badgers at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-036.jpg
    caption: "SIU Edwardsville Cougars forward Myles Thompson (21) drives the lane while defended by Wisconsin Badgers forward Austin Rapp (22) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-038.jpg
    caption: "SIU Edwardsville Cougars guard Darius Robinson (7) passes the ball around Wisconsin Badgers guard Nick Boyd (2) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-039.jpg
    caption: "SIU Edwardsville Cougars guard Jack Campion (5) attempts a layup while defended by Wisconsin Badgers forward Aleksas Bieliauskas (32) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-040.jpg
    caption: "SIU Edwardsville Cougars guard Jack Campion (5) attempts a layup while defended by Wisconsin Badgers forward Aleksas Bieliauskas (32) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-046.jpg
    caption: "SIU Edwardsville Cougars guard Jack Campion (5) attempts to knock the ball away from Wisconsin Badgers guard Andrew Rohde (7) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-048.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives the baseline while defended by SIU Edwardsville Cougars center Arnas Sakenis (34) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-052.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) attempts a layup against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-053.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) reacts during a timeout against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-055.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) reacts during a timeout against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-056.jpg
    caption: "Wisconsin Badgers forward Austin Rapp (22) attempts a three pointer against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-057.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) heads to the bench against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-059.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) attempts a layup while being defended by SIU Edwardsville Cougars forward Darrion Baker (4) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-060.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) gets a hand shake from Wisconsin Badgers head coach Greg Gard after heading to the bench against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-067.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) throws an alleyoop to forward Nolan Winter (31) while being defended by SIU Edwardsville Cougars guard Darius Robinson (7) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-069.jpg
    caption: "Wisconsin Badgers forward Nolan Winter (31) dunks against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-076.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) attempts a layup while being defended by SIU Edwardsville Cougars guard Jack Campion (5) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-077.jpg
    caption: "Wisconsin Badgers forward Austin Rapp (22) drives the lane while being defended by SIU Edwardsville Cougars center Arnas Sakenis (34) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-080.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5) drives the lane while being defended by SIU Edwardsville Cougars guard Jack Campion (5) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-081.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-082.jpg
    caption: "Wisconsin Badgers forward Austin Rapp (22) reacts to making a three pointer against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-083.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives the lane while being defended by SIU Edwardsville Cougars forward Jo Valrie (33) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-084.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) reaches for an offensive rebound against SIU Edwardsville Cougars at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-085.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5)  attempts a layup while being defended by SIU Edwardsville Cougars forward Jo Valrie (33) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-087.jpg
    caption: "SIU Edwardsville Cougars head coach Brian Barone talks with guard Jack Campion (5) against The Wisconsin Badgers at the Kohl Center on November 17, 2025 in Madison, Wisconsin."
  - filename: 20251117-wisconsin-siue-090.jpg
    caption: "Wisconsin Badgers forward Will Garlock (23) blocks a shot by SIU Edwardsville Cougars guard Jack Campion (5) at the Kohl Center on November 17, 2025 in Madison, Wisconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>