---
title: Wisconsin Badgers vs. Indiana Hoosiers
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-02-04 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Indiana Hoosiers
- Basketball
- NCAA
- Big Ten
excerpt:
image: /sports/images/2025/20250204-badgers/20250204-wisconsin-indiana-055.jpg
gallery-base: /sports/images/2025/20250204-badgers/
gallery-images:
  - filename: 20250204-wisconsin-indiana-002.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 prepares to take on the ndiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-003.jpg
    caption: "Wisconsin Badgers vs. Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-016.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 celebrates a three pointer against the ndiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-024.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 celebrates a three pointer against the ndiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-026.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 flushes a dunk on a fast break against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-029.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 flushes a dunk on a fast break against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-036.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 celebrates a three pointer against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-041.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 shoots a three over Indiana Hoosiers Guard Myles Rice #1 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-043.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 celebrates a three pointer against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-045.jpg
    caption: "Indiana Hoosiers Guard Myles Rice #1 drives past Wisconsin Badgers guard Max Klesmit #11 and Wisconsin Badgers forward Xavier Amos #13 Wisconsin Badgers vs. Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-055.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 gets tripped up chasing a loose ball by Indiana Hoosiers Guard Trey Galloway #32 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-075.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 has a conversation with a referee against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-078.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 looks down court towards the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-093.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline past Indiana Hoosiers Forward Luke Goode #10 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-096.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline past Indiana Hoosiers Forward Luke Goode #10 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-101.jpg
    caption: "Indiana Hoosiers Center Oumar Ballo #11 attempts a free throw in front of a white out crowd against the Wisconsin Badgers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-104.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 drive the lane against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-107.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 heads to the free throw line after being fouled on a successful layup against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-108.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 heads to the bench during a substitution against the Indiana Hoosiers at the  Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-109.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 lowers his head after committing a foul against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-123.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 shoots a three pointer over Indiana Hoosiers Forward Mackenzie Mgbako #21 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-125.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 drives the baseline past Indiana Hoosiers Forward Bryson Tucker #8 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-128.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 shoots over Indiana Hoosiers Forward Bryson Tucker #8 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-132.jpg
    caption: "A Bo Ryan cutout is visible during a free throw as the Wisconsin Badgers take on the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-134.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 attempts a shot against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-139.jpg
    caption: "Indiana Hoosiers Forward Malik Reneau #5 throws down a dunk agains the Wisconsin Badgers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-147.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 is defended by Indiana Hoosiers Guard Trey Galloway #32 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-153.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 attempts a three pointer against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-154.jpg
    caption: "A confused Wisconsin Badgers guard Max Klesmit #11 looks for reassurance during an Indiana Hoosiers free throw at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-157.jpg
    caption: "A confused Wisconsin Badgers guard Max Klesmit #11 looks for reassurance during an Indiana Hoosiers free throw at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-161.jpg
    caption: "Indiana Hoosiers Forward Bryson Tucker #8 gives a flagrant one foul to Wisconsin Badgers forward Carter Gilmore #7 at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-165.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard calls for an intentional foul against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-167.jpg
    caption: "Indiana Hoosiers Forward Bryson Tucker #8 tries to explain his hard foul to a referee as Wisconsin Badgers Head Coach Greg Gard looks on at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-169.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 signals he’s ok after the flagrant one foul against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-172.jpg
    caption: "Indiana Hoosiers Guard Myles Rice #1 talks to the ref during a free throw against the Wisconsin Badgers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-173.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 pushes the ball up the court against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."
  - filename: 20250204-wisconsin-indiana-179.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 throws down a dunk late in the 2nd half against the Indiana Hoosiers at the Kohl Center on February 04, 2025 in Madison, Wisconsin."




---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250204-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250204-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>