---
title: Monroe vs. Jefferson
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-09-05 08:30:35
slug:
tags:
- High school
- Monroe Cheesemakers
- Jefferson Eagles
- Football

excerpt:
image: /sports/images/2025/20250905-monroe-jefferson/20250905-monroe-jefferson-058.jpg
gallery-base: /sports/images/2025/20250905-monroe-jefferson/
gallery-images:
  - filename: 20250905-monroe-jefferson-002.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-006.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-008.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-009.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-015.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-017.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-022.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-024.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-030.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-032.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-033.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-040.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-043.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-049.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-052.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-053.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-056.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-058.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-067.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-071.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-072.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-073.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-075.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-078.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-085.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-088.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-093.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-098.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-100.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-102.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-104.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-105.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-107.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-112.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-117.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-123.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-126.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-128.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-132.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-134.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-141.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-143.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-150.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-152.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."
  - filename: 20250905-monroe-jefferson-158.jpg
    caption: "MONROE, WI – SEPTEMBER 5: A high school football game between the Monroe Cheesemakers and the Jefferson Eagles at the Monroe High School in Monroe, Wisconsin."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250905-monroe-jefferson/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250905-monroe-jefferson/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>