---
title: LOVB Madison vs. LOVB Omaha
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-03-13 08:30:35
slug:
tags:
- sports
- LOVB
- LOVB Madison
- Volleyball
- League One Volleyball
excerpt:
image: /sports/images/2025/20250313-lovb/20250313-lovb-madison-053-v2.jpg
gallery-images:
  - filename: 20250313-lovb-madison-001.jpg
    caption: "LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-002.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 takes the court against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-003.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 celebrates with her teammates against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-004.jpg
    caption: "LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-005.jpg
    caption: "LOVB Madison opposite hitter Annie Drews Schumacher #11 has a chuckle during a timeout against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-007.jpg
    caption: "LOVB Madison middle blocker Anna Hall #2 spikes the ball against LOVB Omaha middle blocker Emily Thater #2 at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-009.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 sets the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-010.jpg
    caption: "Wisconsin Governor Tony Evers enjoys courtside seats during a matchup of LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-011.jpg
    caption: "LOVB Madison middle blocker Anna Hall #2 serves the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-012.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 digs the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-013.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 attempts a block against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-014.jpg
    caption: "LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-015.jpg
    caption: "LOVB Madison opposite hitter Annie Drews Schumacher #11 serves the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-016.jpg
    caption: "LOVB Madison middle blocker Taylor Sandbothe #10 attempts a block against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-017.jpg
    caption: "Wisconsin Governor Tony Evers looks on during a League One Volleyball matchup between LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-018.jpg
    caption: "LOVB Madison opposite hitter Annie Drews Schumacher #11 eyes the ball before serving against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-019.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 surveys the court before serving against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-020.jpg
    caption: "LOVB Madison head coach Matt Fuerbringer signals to LOVB Madison setter Lauren Carlini #7 before a serve against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-021.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 serves the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-022.jpg
    caption: "LOVB Madison opposite hitter Annie Drews Schumacher #11 elevates for a spike against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-023.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 & setter Lauren Carlini #7 exchange glances during a match against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-024.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 sticks her tongue out after a long volley against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-025.jpg
    caption: "LOVB Madison outside hitter Sarah Franklin #13 spikes the ball on three LOVB Omaha defenders at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-026.jpg
    caption: "LOVB Madison outside hitter Sarah Franklin #13 celebrates a kill against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-027.jpg
    caption: "LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-028.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 eyes the ball as it falls in play against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-029.jpg
    caption: "LOVB Madison opposite hitter Annie Drews Schumacher #11 attempts a spike against LOVB Omaha middle blocker Chiamaka Nwokolo #23 at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-030.jpg
    caption: "LOVB Madison outside hitter Sarah Franklin #13 celebrates with her teammates against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-031.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 attempts a spike against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-032.jpg
    caption: "LOVB Madison middle blocker Taylor Sandbothe #10 gets ready to serve against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-033.jpg
    caption: "LOVB Madison middle blocker Taylor Sandbothe #10 gets ready to serve against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-035.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 takes a break against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-036.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 walks back to serve against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-037.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 gets ready to serve against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-038.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 gets ready to serve against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-039.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 sets the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-040.jpg
    caption: "LOVB Madison opposite hitter Annie Drews Schumacher #11 puts the ball over the net against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-041.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 digs the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-042.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 celebrates against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-043.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 celebrates against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-044.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 celebrates against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-045.jpg
    caption: "LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-046.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 serves the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-047.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 digs the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-048.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 digs the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-049.jpg
    caption: "Wisconsin Governor Tony Evers was in attendance during a League One Volleyball matchup of LOVB Madison vs. LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-052.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 digs the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-053.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 digs the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-054.jpg
    caption: "LOVB Madison outside hitter Claire Chaussee #9 spikes the ball against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-055.jpg
    caption: "LOVB Madison outside hitter Sarah Franklin #13 waves to the crowd after defeating LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-056.jpg
    caption: "LOVB Madison celebrates a win over LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."
  - filename: 20250313-lovb-madison-058.jpg
    caption: "LOVB Madison setter Lauren Carlini #7 gets interviewed after a win against LOVB Omaha at Alliant Energy Center on March 13, 2025 in Madison, Wisconsin."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2025/20250313-lovb/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2025/20250313-lovb/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>