---
title: MLB Playoffs - Los Angeles Dodgers at Milwaukee Brewers - Game 1
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-10-13 08:30:35
slug:
tags:
- MLB
- Milwaukee Brewers
- Los Angeles Dodgers
- Baseball
- NLCS

excerpt:
image: /sports/images/2025/20251013-brewers-dodgers-game1/20251013-brewers-dodgers-game1-099.jpg
gallery-base: /sports/images/2025/20251013-brewers-dodgers-game1/
gallery-images:
  - filename: 20251013-brewers-dodgers-game1-002.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-004.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-005.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-007.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-008.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-010.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-011.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-012.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-018.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-020.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-021.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-024.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-028.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-032.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-037.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-039.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-044.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-049.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-050.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-051.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-052.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-053.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-054.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-057.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-061.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-064.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-065.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-067.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-068.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-073.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-077.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-085.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-086.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-089.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-092.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-093.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-095.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-098.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."
  - filename: 20251013-brewers-dodgers-game1-099.jpg
    caption: "Oct 13, 2025; Milwaukee, Wisconsin, USA; Game 1 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 13, 2025 in Milwaukee, Wisconsin."

  


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
	{% include gallery-grid.html %}	
</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>