---
title: Wisconsin Badgers vs. Minnesota Golden Gophers
description:
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-01-10 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Minnesota Golden Gophers
- Basketball
- NCAA
- Big Ten
excerpt:
image: /sports/images/2025/20250110-badgers/20250110-web-015.jpg
gallery-base: /sports/images/2025/20250110-badgers/
gallery-images:
  - filename: 20250110-web-002.jpg
    caption: "Wisconsin Badgers vs. Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-004.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 warms up before taking on the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-010.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard extends his right hand during the starting lineups against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-011.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard questions a call against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-013.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 explodes for a layup against the Wisconsin Badgers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-015.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 backs down Minnesota Golden Gophers forward Parker Fox #23 in the post at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-016.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 attempts a shot against Minnesota Golden Gophers forward Parker Fox #23 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-017.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 celebrates a three pointer against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-019.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 looks to pass while defended by Minnesota Golden Gophers forward Dawson Garcia #3 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-020.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 shoots over Wisconsin Badgers forward Carter Gilmore #7 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-021.jpg
    caption: "A look of frustration washes over Minnesota Golden Gophers forward Dawson Garcia #3 during a game against the Wisconsin Badgers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-022.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 gets tied up by Minnesota Golden Gophers guard Lu'Cye Patterson #25 for a jump ball at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-024.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 maintains his dribble despite falling against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-025.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 attempts the drive the baseline against the Wisconsin Badgers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-026.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 lines up against Minnesota Golden Gophers forward Dawson Garcia #3 during an inbound play at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-028.jpg
    caption: "Minnesota Golden Gophers forward Kadyn Betts #4 has his shot blocked by Wisconsin Badgers forward Xavier Amos #13 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-030.jpg
    caption: "Minnesota Golden Gophers forward Kadyn Betts #4 has his shot blocked by Wisconsin Badgers forward Xavier Amos #13 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-032.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22  celebrates with guard John Blackwell #25 against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-033.jpg
    caption: "Wisconsin Badgers forward Markus Ilver #35 celebrates a Steven Crowl #22 and one against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-036.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 watches as his three pointer flushes the net against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-038.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 drives the lane defended by Wisconsin Badgers forward Carter Gilmore #7 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-040.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 falls back on defense against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-042.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard talks to the referee during a matchup against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-045.jpg
    caption: "Minnesota Golden Gophers guard Lu'Cye Patterson #25 rolls over Wisconsin Badgers guard Kamari McGee #4 for a loose ball at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-048.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 (left) ties up the ball with Minnesota Golden Gophers guard Lu'Cye Patterson #25 (center) as Wisconsin Badgers guard Kamari McGee #4 (right) looks on at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-050.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 (left) ties up the ball with Minnesota Golden Gophers guard Lu'Cye Patterson #25 (center) as Wisconsin Badgers guard Kamari McGee #4 (right) looks on at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-053.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 drives the lane defended by Wisconsin Badgers forward Carter Gilmore #7 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-056.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 shoots overWisconsin Badgers forward Carter Gilmore #7 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-060.jpg
    caption: "Minnesota Golden Gophers forward Frank Mitchell #0 gets called for goaltending on a Wisconsin Badgers guard Kamari McGee #4 layup at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-061.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard throws his arms out in disbelief against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-062.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 drives the lane defended by Minnesota Golden Gophers guard Femi Odukale #11 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-065.jpg
    caption: "The Wisconsin Badgers bench celebrates a Wisconsin Badgers guard John Blackwell #25 against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-066.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 drains a three while defended by Minnesota Golden Gophers forward Frank Mitchell #00 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-067.jpg
    caption: "Minnesota Golden Gophers forward Dawson Garcia #3 is defended by Wisconsin Badgers forward Nolan Winter #31 & forward Steven Crowl #22 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-068.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 brings the ball up the court against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-069.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 drives past Minnesota Golden Gophers guard Femi Odukale #11 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-070.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 eyes his layup as he is fouled by Minnesota Golden Gophers guard Femi Odukale #11 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-071.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline defended by Minnesota Golden Gophers guard Isaac Asuma #1 Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-072.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline defended by Minnesota Golden Gophers guard Isaac Asuma #1 Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-074-sharp.jpg
    caption: "The Wisconsin Badgers bench celebrates a Wisconsin Badgers forward Markus Ilver #35 three pointer late in the game against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-078.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 flashes a smile against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-079.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 and Minnesota Golden Gophers forward Dawson Garcia #3 battle down low at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-080.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 and Minnesota Golden Gophers forward Dawson Garcia #3 battle down low at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-081.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 shoots over Minnesota Golden Gophers guard Femi Odukale #11 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-082.jpg
    caption: "The officials converse about a possible flagrant 1 foul during the Wisconsin Badgers vs. Minnesota Golden Gophers game at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-083.jpg
    caption: "Wisconsin Badgers vs. Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-084.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 eyes an inbound pass while defended by Minnesota Golden Gophers forward Parker Fox #23 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-085.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 hauls in a rebound from Minnesota Golden Gophers forward Parker Fox #23 at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-086.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 celebrates a three pointer with John Blackwell #25 and Steven Crowl #22 against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-088.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 takes a hard foul against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-089.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 takes a hard foul against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-091.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard talks to Wisconsin Badgers guard Daniel Freitag #5 during a game against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."
  - filename: 20250110-web-093.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard looks past Wisconsin Badgers forward Markus Ilver #35 during a game against the Minnesota Golden Gophers at Kohl Center on January 10, 2025 in Madison, Wisconsin."





---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250110-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250110-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>