---
title: "Wisconsin Badgers vs. Milwaukee Panthers"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2025-12-30 08:30:35
permalink: /sports/basketball/milwaukee-at-wisconsin-2025/
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Milwaukee Panthers
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2025/20251230-wisconsin-milwaukee/20251230-wisconsin-milwaukee-045.jpg
gallery-base: "/sports/images/2025/20251230-wisconsin-milwaukee/"
gallery-images:
  - filename: 20251230-wisconsin-milwaukee-005.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers is announced in the starting lineup before the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-009.jpg
    caption: "Amar Augillard #1 of the Milwaukee Panthers attempts a three pointer while defended by Jack Janicki #5 of the Wisconsin Badgersat the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-010.jpg
    caption: "Danilo Jovanovich #3 of the Milwaukee Panthers attempts a three pointer in the first half against the Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-011.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers is fouled by Josh Dixon #2 of the Milwaukee Panthers while attempting a three pointer at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-013.jpg
    caption: "Bucky Badger entertains the crowd during the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-015.jpg
    caption: "Josh Dixon #2 of the Milwaukee Panthers is cut off by Nick Boyd #2 of the Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-016.jpg
    caption: "Josh Dixon #2 of the Milwaukee Panthers attempts a shot over Austin Rapp #22 of the Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-017.jpg
    caption: "Faizon Fields #22 of the Milwaukee Panthers gestures for Amar Augillard #1 of the Milwaukee Panthers to the ball against The Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-019.jpg
    caption: "A referee holds the basketball during the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-020.jpg
    caption: "Amar Augillard #1 of the Milwaukee Panthers attempts to drive past Andrew Rohde #7 of the Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-021.jpg
    caption: "Wisconsin Badgers head coach Greg Gard looks towards the court during the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-024.jpg
    caption: "Jack Janicki #5 of the Wisconsin Badgers shoots a three pointer over Isaiah Dorceus #5 of the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-026.jpg
    caption: "Will Garlock #23 of the Wisconsin Badgers tries to grab a rebound against The Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-027.jpg
    caption: "Bucky Badger is given a small Bucky doll holding a basketball during the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-030.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers grabs a rebound over Simeon Murchison #9 of the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-032.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers and Danilo Jovanovich #3 of the Milwaukee Panthers fight for a loose ball at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-034.jpg
    caption: "Amar Augillard #1 of the Milwaukee Panthers shoots a three pointer over Andrew Rohde #7 of the Wisconsin Badgers while Wisconsin Badgers head coach Greg Gard watches from the sidelines at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-039.jpg
    caption: "Esyah Pippa-White #24 of the Milwaukee Panthers passed the ball while defended by Aleksas Bieliauskas #32 and Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-041.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers blocks a Aaron Franklin #29 of the Milwaukee Panthers shot at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-045.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives past Josh Dixon #2 of the Milwaukee Panthersat the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-047.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers checks the shot clock while defended by Isaiah Dorceus #5 of the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-052.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers floats a shot over Sekou Konneh #25 of the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-054.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers dunks on a fast break while defended by Esyah Pippa-White #24 of the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-057.jpg
    caption: "Jack Robison #11 of the Wisconsin Badgers lays the ball in against The Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-058.jpg
    caption: "Amar Augillard #1 of the Milwaukee Panthers grabs a rebound off a missed free throw against The Wisconsin Badgers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-060.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers makes a layup against The Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-062.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers listens during a timeout against The Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-063.jpg
    caption: "Wisconsin Badgers head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-065.jpg
    caption: "Hayden Jones #13 of the Wisconsin Badgers heads to the bench during the college basketball game between the Wisconsin Badgers and the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."
  - filename: 20251230-wisconsin-milwaukee-066.jpg
    caption: "Riccardo Greppi #18 of the Wisconsin Badgers attempts a dunk while defended by Simeon Murchison #9 of the Milwaukee Panthers at the Kohl Center on December 30, 2025 in Madison, Wisconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>