---
title: SWIRA Dirt Bike and ATV Races at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-07-17 08:30:35
slug:
tags:
- SWIRA
- ATV
- UTV
- dirt bike
- racing
- Green County Fair
excerpt:
image: /sports/images/2025/20250717-atv/20250717-gcfair-swira-155.jpg
gallery-base: /sports/images/2025/20250717-atv/
gallery-images:
  - filename: 20250717-gcfair-swira-001.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-004.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-010.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-013.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-021.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-027.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-032.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-034.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-038.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-040.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-042.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-043.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-047.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-051.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-054.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-058.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-062.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-063.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-066.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-071.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-073.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-075.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-077.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-080.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-085.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-090.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-092.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-100.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-101.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-110.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-114.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-118.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-120.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-121.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-128.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-140.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-144.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-148.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-151.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-152.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-155.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-157.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-159.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-164.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-176.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-177.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-178.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-182.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-187.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-189.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-190.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-191.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-192.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."
  - filename: 20250717-gcfair-swira-197.jpg
    caption: "SWIRA dirt bike and atv races at the Green County Fair in Monroe, Wisconsin on July 17th, 2025."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>