---
title: Bucking Bulls Full Rodeo at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-07-16 08:30:35
slug:
tags:
- rodeo
- Green County Fair
- Bulls
- Horses
- Cowboy
excerpt:
image: /sports/images/2025/20250716-rodeo/20250716-gcfair-nightone-rodeo-037.jpg
gallery-base: /sports/images/2025/20250716-rodeo/
gallery-images:
  - filename: 20250716-gcfair-nightone-rodeo-003.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-014.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-019.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-022.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-026.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-028.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-032.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-037.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-039.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-041.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-051.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-056.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-058.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-063.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-070.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-074.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-076.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-078.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-080.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-085.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-087.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-095.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-097.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-100.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-103.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-109.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-113.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-114.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-115.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-120.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-123.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-126.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-131.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-132.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-137.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-138.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-141.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-142.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-145.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-148.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-150.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-155.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-156.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-164.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-165.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-168.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-169.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-170.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-172.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-173.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-174.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-175.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-176.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."
  - filename: 20250716-gcfair-nightone-rodeo-177.jpg
    caption: "Bucking Bulls full rodeo at the Green County Fair in Monroe, Wisconsin on July 16th, 2025."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>