---
title: "Wisconsin Badgers vs. University of Wisconsin-Platteville"
author: "ROSS HARRIED"
photographer: "ROSS HARRIED for SECOND CROP SPORTS"
layout: blog-posts
type: sports
date: 2025-10-29 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Platteville Pioneers
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2025/20251029-wisconsin-platteville-bball/20251029-wisconsin-platteville-049.jpg
gallery-base: "/sports/images/2025/20251029-wisconsin-platteville-bball/"
gallery-images:
  - filename: 20251029-wisconsin-platteville-001.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Nick Boyd (2) warms up before a college basketball game between the Wisconsin Badgers and the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-004.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers forward Austin Rapp (22) is announced during starting lineups before a college basketball game between the Wisconsin Badgers and the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-005.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers forward Austin Rapp (22) is announced during starting lineups before a college basketball game between the Wisconsin Badgers and the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-006.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers forward Miles Hettinger (33) is surrounded by two Wisconsin Badger defenders durning a during the first half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-007.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Braeden Carrington (0) rolls off a pick by forward Nolan Winter (31) durning the first half of against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-008.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Jack Janicki (5) attempts to block a layup by University of Wisconsin-Platteville Pioneers forward Lucas Rameker (5) during the first half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-009.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers forward Miles Hettinger (33) is fouled while attempting a layup in the first half against the Wisconsin Badgers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-011.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers forward Austin Rapp (22) tries to tie up the ball as University of Wisconsin-Platteville Pioneers forward Max Love (21) drives the lane durning the first half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-013.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers forward Max Love (21) drives the baseline while being defended by Wisconsin Badgers guard John Blackwell (25) in the first half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-014.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Braeden Carrington (0) steals the ball in the first half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-016.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers Cheer Squad performs durning a college basketball game between the Wisconsin Badgers and the University of Wisconsin-Platteville Pioneers at Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-017.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers Cheer Squad performs durning a college basketball game between the Wisconsin Badgers and the University of Wisconsin-Platteville Pioneers at Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-018.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Nick Boyd (2) durning a college basketball game between the Wisconsin Badgers and the University of Wisconsin-Platteville Pioneers at Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-021.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers guard Cooper Hoffman (4) watches as guard Aiden Wieczorek (2) talks to head coach Jeff Gard durning a college basketball game against the Wisconsin Badgers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-024.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Nick Boyd (2) attempts a free throw during the second half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-027.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Nick Boyd (2)  drives the lane while being defended by University of Wisconsin-Platteville Pioneers guard Aiden Wieczorek (2) in the second half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-031.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers guard Bristol Lewis (0) celebrates after hitting a three-pointer in the second half against the Wisconsin Badgers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-032.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Jack Janicki (5) looks at University of Wisconsin-Platteville Pioneers forward Max Lucey (22) after Lucey takes a charge in the second half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-033.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers head coach Jeff Gard and the Pioneer bench signal for the ball during the second half against the Wisconsin Badgers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-035.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers forward Nolan Winter (31) reacts after missing a layup in the second half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-036.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard John Blackwell (25) watches as the ball goes out of bounds in the second half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-038.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers forward Austin Rapp (22) drives the lane while being defended by University of Wisconsin-Platteville Pioneers forward Max Lucey (22) in the second half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-039.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard John Blackwell (25) attempts a layup in the second half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-042.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Greg Gard talks to his team during a media timeout in the second half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-044.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Greg Gard smiles after talking to a referee in the second half against the University of Wisconsin-Platteville Pioneers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-045.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers forward Max Love (21) is defended by Wisconsin Badgers guard John Blackwell (25) in the second half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-047.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Nick Boyd (2) drives to the hoop while being defended by University of Wisconsin-Platteville Pioneers forward Max Love (21)  in the second half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-049.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; Wisconsin Badgers guard Nick Boyd (2) drives to the hoop while being defended by University of Wisconsin-Platteville Pioneers forward Max Love (21)  in the second half at the Kohl Center on October 29, 2025 in Madison, Wisconsin."
  - filename: 20251029-wisconsin-platteville-053.jpg
    caption: "Oct 29, 2025; Madison, Wisconsin, USA; University of Wisconsin-Platteville Pioneers forward James Seagreaves (40) checks into the game in the second half against the Wisconsin Badgers at the Kohl Center on October 29, 2025 in Madison, Wisconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>