---
title: "Wisconsin Badgers vs. Ohio State Buckeyes"
author: "ROSS HARRIED"
photographer: "ROSS HARRIED for SECOND CROP SPORTS"
layout: blog-posts
type: sports
date: 2025-10-18 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Ohio State Buckeyes
  - Football
  - Big Ten
excerpt:
image: /sports/images/2025/20251018-badgers-buckeyes/RHA03011.JPG
gallery-base: "/sports/images/2025/20251018-badgers-buckeyes/"
gallery-images:
  - filename: "RHA00219.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Carnell Tate (17) makes a catch in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00311.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes head coach Ryan Day communicates from the sidelines against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00367.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes quarterback Julian Sayin (10) looks to pass in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00421.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes head coach Ryan Day shakes the hand of a player in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00704.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Ricardo Hallman (2) celebrates a defensive stop in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00741.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell signals from the sideline in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00766.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes tight end Will Kacmarek (89) catches a touchdown pass in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00770.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes tight end Will Kacmarek (89) catches a touchdown pass in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00808.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes tight end Nate Roberts (83) tight end Jelani Thurman (15)and tight end Bennett Christian (85) celebrate a touchdown by tight end Will Kacmarek (89) in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00944.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) is slow to get up after a play in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00975.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) is slow to get up after a play in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA00998.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes tight end Will Kacmarek (89) and offensive lineman Luke Montgomery (51) participate in Jump Around at the end of the third quarter against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01034.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes mascot Brutus Buckeye durning a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01123.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans hide their faces in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01129.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans hide their faces in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01242.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Omillio Agard (6) knocks down a pass to Ohio State Buckeyes wide receiver Jeremiah Smith (4) in the end zone during the second half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01243.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Omillio Agard (6) knocks down a pass to Ohio State Buckeyes wide receiver Jeremiah Smith (4) in the end zone during the second half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01261.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Omillio Agard (6) celebrates after knocking down a pass to Ohio State Buckeyes wide receiver Jeremiah Smith (4) in the end zone during the second half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01267.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Omillio Agard (6) celebrates after knocking down a pass to Ohio State Buckeyes wide receiver Jeremiah Smith (4) in the end zone during the second half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01351.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Brandon Inniss (1) celebrates after catching a touchdown pass in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01373.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Brandon Inniss (1) celebrates with wide receiver Carnell Tate (17) after catching a touchdown pass in the second half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01398.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans hide their faces in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01413.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans empty the stands in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01430.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Dekel Crowdus (14) is tackled by Ohio State Buckeyes safety Faheem Delane (10) in the second half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01459.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) looks to pass in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01499.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; The Ohio State Buckeyes celebrate a shut out win against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA01502.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes cornerback Jermaine Mathews Jr. (7) jumps in celebration of a shut out win against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03011.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes quarterback Julian Sayin (10) looks into the stands before taking the field ahead of a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03036 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes head coach Ryan Day leads his team onto the field before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03106 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers safety Matthew Jung (29) and cornerback Ricardo Hallman (2) celebrate after deflecting a pass in the end zone in the first half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03161 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Carnell Tate (17) catches a touchdown pass in the first half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03163 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Carnell Tate (17) catches a touchdown pass in the first half against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03527.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans hide their faces in the second half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03562.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; The Ohio State Buckeyes celebrate a shut out win against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03572.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; The Ohio State Buckeyes celebrate a shut out win against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03588.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes defensive lineman Kayden McDonald (98) covers his head with a towel after a shut out win against the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA03590.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes head coach Ryan Day heads to the locker room after shutting out the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09243.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Jeremiah Smith (4) warms up before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09247.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Jeremiah Smith (4) warms up before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09255.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes head coach Ryan Day before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09266.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell shakes hands with outside linebacker Mason Reiger (22) before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09275.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09276.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell before a college football game between the Wisconsin Badgers and the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09286 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Dilin Jones (7) runs the ball in the first quarter against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09303 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Dilin Jones (7) runs the ball in the first quarter against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09429 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Carnell Tate (17) catches a touchdown pass in the first quarter agains the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09430 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Carnell Tate (17) catches a touchdown pass in the first quarter agains the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09432 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes wide receiver Carnell Tate (17) catches a touchdown pass in the first quarter agains the Wisconsin Badgers at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09632 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Cade Yacamelli (25) is tackled by Ohio State Buckeyes linebacker Payton Pierce (26) during the first half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09650 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) looks to the sidelines for a play call during the first half against the Ohio State Buckeyes at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09861 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Ohio State Buckeyes linebacker Arvell Reese (8) sacks Wisconsin Badgers quarterback Hunter Simmons (15) in the first half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
  - filename: "RHA09979 2.JPG"
    caption: "Oct 18, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Cade Yacamelli (25) is tackled by Ohio State Buckeyes defensive end Caden Curry (92) and linebacker Sonny Styles (0) in the first half at Camp Randall Stadium on October 18, 2025 in Madison, Wisconsin."
---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>