---
title: Wisconsin Badgers Football Spring Game 2025
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-04-19 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- NCAA
- Football
excerpt:
image: /sports/images/2025/20250419-badgers-spring-game/20250419-fb-spring-showcase-042.jpg
gallery-base: /sports/images/2025/20250419-badgers-spring-game/
gallery-images:
  - filename: 20250419-fb-spring-showcase-001.jpg
    caption: "Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-002.jpg
    caption: "Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-003.jpg
    caption: "Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-004.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell (center) is interviewed by Matt Lepay (left) and Mark Tauscher (right) ahead of the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-005.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell is interviewed ahead of the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-006.jpg
    caption: "Wisconsin Badgers wide receiver Davion Thomas-Kumpula #23  hauls in a catch during warmups before the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-007.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22  keeps his balance during warmups before the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-008.jpg
    caption: "Wisconsin Badgers wide receiver Chris Brooks Jr. #84 gives Badgers outside linebacker Angel Toombs #36 a hug before the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-009.jpg
    caption: "Wisconsin Badgers running back Dilin Jones #7 tries to break free from a Badgers cornerback Ricardo Hallman #2 tackle during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-010.jpg
    caption: "Wisconsin Badgers wide receiver Jayden Ballard #4  is tackled out of bounds by Badgers cornerback D'Yoni Hill #5 during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-011.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 looks down the line of scrimmage during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-012.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 looks down the line of scrimmage during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-013.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil #18 protects the ball during at run at the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-014.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil #18 protects the ball during at run at the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-015.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil #18 runs the ball during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-016.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil #18 runs the ball during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-017.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil #18 runs the ball during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-018.jpg
    caption: "Wisconsin Badgers running back Gideon Ituka #10 makes a cut back at the line of scrimmage during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-019.jpg
    caption: "Wisconsin Badgers running back Gideon Ituka #10 finds a seam during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-020.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22 lines up before a play during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-021.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22 runs a route during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-022.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 drops back to pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-023.jpg
    caption: "Wisconsin Badgers running back Gideon Ituka #10 runs the ball to the outside during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-024.jpg
    caption: "Wisconsin Badgers kicker Nathanial Vakos #90 eyes his mark during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-025.jpg
    caption: "Wisconsin Badgers wide receiver Jayden Ballard #4 watches as the ball gets tipped behind him during a play at the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-027.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith #3 rolls out to his right while head coach Luke Fickell looks on during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-028.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith #3 attempts a pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-029.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith #3 attempts a pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-030.jpg
    caption: "Wisconsin Badgers wide receiver Kyan Berry-Johnson #22 catches a pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-031.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell watches closely during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-032.jpg
    caption: "Wisconsin Badgers wide receiver Eugene Hilton Jr. #13 takes the end around during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-033.jpg
    caption: "Wisconsin Badgers defensive line coach E.J. Whitlow and outside linebacker Darryl Peterson #17 have chuckle during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-035.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith #3 rolls out during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-036.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna #2 walks the offensive sideline during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-037.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 falls back to hand off the ball during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-038.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 hands the ball off to running back Dilin Jones #7 during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-039.jpg
    caption: "Wisconsin Badgers wide receiver Chris Brooks Jr. #84 attempts to haul in a long pass while defended by Badgers cornerback D'Yoni Hill #5  during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-040.jpg
    caption: "Wisconsin Badgers wide receiver Chris Brooks Jr. #84 attempts to haul in a long pass while defended by Badgers cornerback D'Yoni Hill #5  during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-041.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 finds the hole during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-042.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25 finds the hole during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-045.jpg
    caption: "Wisconsin Badgers quarterback Milos Spasojevic #16 drops back to pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-046.jpg
    caption: "Wisconsin Badgers wide receiver Joseph Griffin Jr. #12 attempts to catch a pass while defended by Badgers cornerback Jay Harper #26 during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-047.jpg
    caption: "Wisconsin Badgers offensive lineman Leyton Nelson #66, Joe Brunner #56 and Jake Renfro #57 take a break while quarterback Billy Edwards Jr. #9 gets a drink during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-048.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-049.jpg
    caption: "Wisconsin Badgers safety Luke Emmerich #20 intercepts a long pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-050.jpg
    caption: "Wisconsin Badgers safety Luke Emmerich #20 intercepts a long pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-051.jpg
    caption: "Wisconsin Badgers safety Luke Emmerich #20 intercepts a long pass during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-052.jpg
    caption: "Wisconsin Badgers offensive lineman Kerry Kodanko #73, Jake Renfro #57, Joe Brunner #56,  Leyton Nelson #66  and running back Cade Yacamelli #25 line up before a play during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-053.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 looks to pass down field as Wisconsin Badgers head coach Luke Fickell looks on during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-054.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. #9 reads the defense as the ball is snapped during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-055.jpg
    caption: "Wisconsin Badgers wide receiver Jayden Ballard #4  runs a route during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-056.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli #25  attempts to break an ankle tackle during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-057.jpg
    caption: "Wisconsin Badgers running back Dilin Jones #7 eyes Badgers cornerback Cairo Skanes #25 during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-058.jpg
    caption: "Wisconsin Badgers safety Charlie Jarvis #34 and safety Owen Arnett #18 look to the sidelines for a play during the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-059.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell talks to his team after the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."
  - filename: 20250419-fb-spring-showcase-060.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell talks to his team after the Wisconsin Football Spring Showcase at Camp Randall Stadium on April 19, 2025 in Madison, Wisconsin."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250419-badgers-spring-game/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250419-badgers-spring-game/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>