---
title: Wisconsin Badgers vs. Middle Tennessee 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-09-06 08:30:35
slug:
tags:
- NCAA
- Wisconsin Badgers
- Middle Tennessee Blue Raiders
- Football
- Big Ten

excerpt:
image: /sports/images/2025/20250906-badgers-middle-tennessee/20250906-wisconsin-middle-tennessee-079.jpg
gallery-base: /sports/images/2025/20250906-badgers-middle-tennessee/
gallery-images:
  - filename: 20250906-wisconsin-middle-tennessee-004.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders outside linebacker Markel James (43) warms up before a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-006.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders wide receiver Zaidyn Moore (80) warms up before a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-007.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Darryl Peterson III (17) and cornerback Ricardo Hallman (2) shake hands before a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-011.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The University of Wisconsin Marching Band takes the field before a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-014.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The University of Wisconsin Marching Band takes the field before a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-015.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The University of Wisconsin Marching Band takes the field before a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-022.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell on the filed durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-025.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers Offense breaks out of a single file formation durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-026.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) pitches the ball to running back Dilin Jones (7) durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-029.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Vinny Anthony II (8) runs the ball after a catch durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-030.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers offense in a huddle durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-031.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-032.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers bench durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-034.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders quarterback Nicholas Vattiato (11) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-037.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders quarterback Nicholas Vattiato (11) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-046.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) scrambles out of the pocket durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-049.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Billy Edwards Jr. (9) watches from the sideline durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-054.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; A college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-055.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers linebacker Sebastian Cheeks (15) goes down in pain after a play durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-060.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers tight end Lance Mason (86) makes a catch durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-064.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-067.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers offensive lineman Colin Cubberly (78) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-069.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders quarterback Nicholas Vattiato (11) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-070.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders quarterback Nicholas Vattiato (11) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-072.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers sideline celebrates a Omillio Agard (6) interception durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-077.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) attempts a pass durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-079.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Vinny Anthony II (8) tries to stay inbounds after a catch durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-082.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers tight end Lance Mason (86) dives for end zone durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-083.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; A college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-087.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-088.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Middle Tennessee Blue Raiders offensive lineman Mateo Guevara (55) gets medical attention while the Wisconsin Badgers defense looks on durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-089.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Darrion Dupree (6) find a gap durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-095.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Trech Kekahuna (2) runs the ball upfield durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-097.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Trech Kekahuna (2) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-098.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-099.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-100.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Tyreese Fearbry (7) eyes Middle Tennessee Blue Raiders quarterback Nicholas Vattiato (11) durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-101.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell talks to the line judge durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-102.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Darryl Peterson III (17) celebrates after the play durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-103.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers linebacker Christian Alliegro (0) & outside linebacker Darryl Peterson III (17) celebrate after the play durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-110.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates after the play durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-111.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates after the play durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-112.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers offense huddles up durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-113.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) takes a snap durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-120.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-122.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-124.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-125.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-126.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-136.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell signals towards the official durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-139.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Tyrell Henry (3) celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-140.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers offense celebrates a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-141.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) smiles as he heads to the sidelines durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-142.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) smiles as he heads to the sidelines durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-143.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) and wide receiver Jayden Ballard (4) celebrate a touchdown durning a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."
  - filename: 20250906-wisconsin-middle-tennessee-145.jpg
    caption: "Sept 6, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Tyreese Fearbry (7) celebrates with fans after a college football game between the Wisconsin Badgers and the Middle Tennessee Blue Raiders at Camp Randall Stadium on September 06, 2025 in Madison, Wisconsin."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250906-badgers-middle-tennessee/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250906-badgers-middle-tennessee/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>