---
title: UW-Whitewater vs. UW-La Crosse 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-10-04 08:30:35
slug:
tags:
- NCAA
- UW-Whitewater
- UW-La Crosse
- Football
- Division III
- WIAC

excerpt:
image: /sports/images/2025/20251004-whitewater-lacrosse/20251004-whitewater-lacrosse-243.jpg
gallery-base: /sports/images/2025/20251004-whitewater-lacrosse/
gallery-images:
  - filename: 20251004-whitewater-lacrosse-001.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-002.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-004.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks long snapper Owen Ross (51) warms up before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-008.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Acollege football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-009.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Willie Warhawk welcomes fans to Perkins Stadium before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-010.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Willie Warhawk welcomes fans to Perkins Stadium before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-011.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-Whitewater marching band enters Perkins Stadium before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-012.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-Whitewater marching band enters Perkins Stadium before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-016.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-Whitewater marching band enters Perkins Stadium before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-017.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Kade Sainz (88) warms up before a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-019.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-Whitewater Warhawks take the field before a college football game against the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-022.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-024.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks kicker Dylan Tackett (35) kicks the opening kickoff durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-025.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass while being chased by University of Wisconsin-Whitewater Warhawks defensive lineman Noah Moris (0) at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-026.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-029.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Tyler Vasey (7) runs after a catch durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-031.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Tyler Vasey (7) runs after a catch durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-033.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Tyler Vasey (7) runs after a catch durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-035.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Isaac Dagit (42) gets attention after suffering an apparent arm injury durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-039.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive back T.Y. Harvey (1) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-040.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive back Deven Magli (11) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-041.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) hands the ball off to running back Gabe Lynch (30) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-043.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Isaac Dagit (42) gets attention after suffering an apparent arm injury durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-044.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-045.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive back Trent Mullen (21) and University of Wisconsin-Whitewater Warhawks wide receiver Blake Haggerty (13) exchange words after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-046.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-048.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-051.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Offensive win coach Andrew McGlenn durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-053.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-057.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks offensive lineman Troy Dietzler (76) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-058.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-059.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Ben Ott (36) celebrates after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-060.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Ben Ott (36) celebrates after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-062.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA;A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-063.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA;A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-067.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA;A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-068.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA;A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-069.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) fumbles the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-071.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Thomas Laufenberg (90) recovers a fumble durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-074.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Thomas Laufenberg (90) recovers a fumble durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-077.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-080.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive lineman Jakob Simmons (98) fights after the play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-081.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles offensive lineman Watson Allan (62) has his helmet removed after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-082.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks tight end Collin Fritts (86) after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-083.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Christian Powell (1) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-084.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Nicholas Jorndt (15) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-090.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) looks to throws a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-091.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-Whitewater Warhawks bench celebrates after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-095.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Willie Warhawk durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-097.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) runs with the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-101.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) and offensive lineman Alex Pethan (75) celebrate a touchdown durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-102.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) and offensive lineman Alex Pethan (75) celebrate a touchdown durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-103.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-Whitewater Warhawks celebrate a touchdown durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-109.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-111.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-116.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-119.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Christian Crump (1) returns a kickoff durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-121.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-122.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-124.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-126.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-128.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-129.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-134.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks linebacker Ethan Gallagher (10) hits University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-135.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive back Paul Kim (5) hits University of Wisconsin-La Crosse Eagles wide receiver Jacob Koon (86) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-139.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) has words with the referee after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-141.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-143.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-144.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Defensive backs coach Bryce Cross talks with players durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-155.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-La Crosse Eagles celebrates a touchdown after recovering a fumble in the end zone durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-159.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) reaches for a high snap durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-160.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks offensive lineman Evan Oberg (74) sits down after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-161.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) looks to pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-162.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive back Trent Mullen (21) jumps in front of University of Wisconsin-Whitewater Warhawks wide receiver Christian Crump (1) for an interception durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-164.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-166.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-168.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-169.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-170.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles quarterback Kyle Haas (2) attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-174.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive back T.Y. Harvey (1) celebrates after a play durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-175.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Christian Crump (1) gets ready to receive a kickoff durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-178.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks running back Noah Battle (4) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-181.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) looks to pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-182.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) looks to pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-184.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Defensive backs coach Bryce Cross talks with players durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-185.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive back Malik Robinson (24) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-186.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive back Malik Robinson (24) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-188.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks running back Noah Battle (4) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-191.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) takes a snap durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-194.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-La Crosse Eagles hit the game-tying field goal to send the game into overtime durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-197.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles running back Gabe Lynch (30) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-200.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles running back Gabe Lynch (30) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-201.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles running back Gabe Lynch (30) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-202.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles running back Gabe Lynch (30) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-204.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles running back Gabe Lynch (30) runs the ball durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-205.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2)attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-208.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2)attempts a pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-211.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive back Trent Mullen (21) pulls the jersey of University of Wisconsin-Whitewater Warhawks wide receiver Blake Haggerty (13) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-213.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive back Trent Mullen (21) pulls the jersey of University of Wisconsin-Whitewater Warhawks wide receiver Blake Haggerty (13) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-216.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) looks to pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-217.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) looks to pass durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-218.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-221.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-224.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; Defensive backs coach Bryce Cross talks with players durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-228.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles kicker/punter Michael Stack (42) lines up a field goal durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-229.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks running back Brian Stanton (9) sheds the tackle of University of Wisconsin-La Crosse Eagles defensive back Tyler Shaver (8) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-233.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Aaron Winters (45) forces a fumble from University of Wisconsin-Whitewater Warhawks running back Brian Stanton (9) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-234.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Aaron Winters (45) forces a fumble from University of Wisconsin-Whitewater Warhawks running back Brian Stanton (9) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-235.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Aaron Winters (45) forces a fumble from University of Wisconsin-Whitewater Warhawks running back Brian Stanton (9) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-238.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Aaron Winters (45) forces a fumble from University of Wisconsin-Whitewater Warhawks running back Brian Stanton (9) durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-239.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A fight for a fumbled ball in overtime unfolds durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-240.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A fight for a fumbled ball in overtime unfolds durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-242.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Ben Moore (55) sacks University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) forcing a fumble durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-243.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Ben Moore (55) sacks University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) forcing a fumble durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-245.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Ben Moore (55) sacks University of Wisconsin-Whitewater Warhawks quarterback Justin Klinkner (2) forcing a fumble durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-246.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-La Crosse Eagles celebrate a fumble recovery in overtime durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-247.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles linebacker Aaron Winters (45) walks off the field durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-248.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-La Crosse Eagles celebrate a fumble recovery in overtime durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-249.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagles defensive lineman Christian Powell (1) runs off the field with the covered fum durning a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-253.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The university of Wisconsin-La Crosse Offensive Line coach Andrew McGlenn (left) greets The University of Wisconsin-Whitewater defensive coordinator Ryan Cortez (right) after a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-255.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; A college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-256.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; The University of Wisconsin-La Crosse Eagles celebrate after a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-257.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks defensive lineman Ben Bielawski (9) after a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-258.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-La Crosse Eagle fans celebrate after a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-259.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; University of Wisconsin-Whitewater Warhawks wide receiver Christian Crump (1) returns the locker room after a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."
  - filename: 20251004-whitewater-lacrosse-260.jpg
    caption: "Oct 4, 2025; Whitewater, Wisconsin, USA; After a college football game between the University of Wisconsin-Whitewater Warhawks and the University of Wisconsin-La Crosse Eagles at Perkins Stadium on October 04, 2025 in Whitewater, Wisconsin."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>