---
title: MLB Playoffs - Los Angeles Dodgers at Milwaukee Brewers - Game 2
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-10-14 08:30:35
slug:
tags:
- MLB
- Milwaukee Brewers
- Los Angeles Dodgers
- Baseball
- NLCS

excerpt:
image: /sports/images/2025/20251014-brewers-dodgers-game2/20251014-brewers-dodgers-game2-035.jpg
gallery-base: /sports/images/2025/20251014-brewers-dodgers-game2/
gallery-images:
  - filename: 20251014-brewers-dodgers-game2-001.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-002.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-004.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-005.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-006.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-007.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-010.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-011.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-014.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-017.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-019-sharp.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-020.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-021.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-023.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-028.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-030.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-031.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-033.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-035.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-036.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-037.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-038.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-040.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-042.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-043.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-044.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-045.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-046.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-047.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-051.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-054.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-056.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-058.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-059.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-060.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-062.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-068.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-071.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-072.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-073.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-075.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-076.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-078.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."
  - filename: 20251014-brewers-dodgers-game2-081.jpg
    caption: "Oct 14, 2025; Milwaukee, Wisconsin, USA; Game 2 of the National League Championship Series between the Milwaukee Brewers and the Los Angeles Dodgers at American Family Field on October 14, 2025 in Milwaukee, Wisconsin."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="{{ site.cdn_url }}/sports/images/2025/20251014-brewers-dodgers-game2/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20251014-brewers-dodgers-game2/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for European Pressphoto." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>