---
title: Wisconsin Badgers vs. Iowa Hawkeyes 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-10-11 08:30:35
slug:
tags:
- NCAA
- Wisconsin Badgers
- Iowa Hawkeyes
- Football
- Big Ten

excerpt:
image: /sports/images/2025/20251011-wisconsin-iowa/20251011-wisconsin-iowa-026-v2.jpg
gallery-base: /sports/images/2025/20251011-wisconsin-iowa/
gallery-images:
  - filename: 20251011-wisconsin-iowa-new-041.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Trech Kekahuna (2) poses for a photo before a game against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-042.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell leads the Badgers out of the locker room before a game against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-043.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell talks to his team before taking the field for warmups against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-044.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; The Wisconsin Badges Marching Band plays the National Anthem before the game between the Wisconsin Badgers and the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-045.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Bucky Badger and the Wisconsin Badger Cheerleaders take the field in the Bucky Wagon before a game against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-046.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Bucky Badger waves a big Wisconsin flag at mid field before the Wisconsin Badgers plays the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-048.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Herky the Hawk of the Iowa Hawkeyes poses for a photo before a game between the Wisconsin Badgers and the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-049.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes head coach Kirk Ferentz looks towards the field before a game against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-050.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) takes a knee before a game agains the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-057.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Aaron Witt (59) celebrates after a defensive stop in the first quarter against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-062.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) pitches the ball in the first quarter against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-084.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) attempts a pass in the first half against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-093.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) and the Iowa offense walk towards the line of scrimmage in the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-094.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) makes a hand signal before a play in the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-095.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) takes a snap i the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-096.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes kicker Drew Stevens (18) attempts a squib kick in the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-098.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) looks to pass in the first half against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-108.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-112.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-117.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) celebrates a touchdown with his teammates in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-131.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-132.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-135.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-new-137.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Vinny Anthony II (8) receives a kickoff in the second half against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-001.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) attempts a pass in the first quarter against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-002.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Aaron Witt (59) celebrates after a defensive stop in the first quarter against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-003.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Trech Kekahuna (2) is helped to the sidelines after an apparent injury in the first quarter against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-004.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes defensive end Brian Allen Jr. (90) tips a pass from Wisconsin Badgers quarterback Hunter Simmons (15) in the first quarter at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-006.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes defensive end Brian Allen Jr. (90) celebrates after a ball he tipped was intercepted by a teammate against the Wisconsin Badgers in the first quarter at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-009.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes defensive lineman Aaron Graves (95) celebrates an interception by a teammate in the first quarter against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-010.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes defensive lineman Bryce Hawthorne (96) celebrates with teammates after intercepting the ball in the first quarter against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-011.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes defensive lineman Bryce Hawthorne (96) celebrates with teammates after intercepting the ball in the first quarter against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-013.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Kamari Moulton (28) celebrates after scoring a touchdown in the first quarter against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-014.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes offensive lineman Logan Jones (65) celebrates a touchdown in the first quarter against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-016.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Ricardo Hallman (2) intercepts a pass in the first half against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-017.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Kamari Moulton (28) breaks away from a tackle by Wisconsin Badgers safety Matthew Jung (29) in the first half at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-018.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Kamari Moulton (28) celebrates a first down in the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-019.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Kamari Moulton (28) celebrates a first down in the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-020.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) looks to pass in the first half against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-023.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) can’t hold onto a pass in the end zone against the Iowa Hawkeyes in the first half at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-024.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) attempts a pass in the first half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-025.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-026.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) runs the ball in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-027.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell and his team take a timeout in the second half against the Iowa Hawkeyes at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-028.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) looks down field to pass in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-029.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes wide receiver Reece Vander Zee (15) catches a pass in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-030.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes head coach Kirk Ferentz watches from the sideline in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-031.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes quarterback Mark Gronowski (11) runs the ball in the second half while being chased by Wisconsin Badgers safety Matthew Jung (29) at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-033.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Xavier Williams (26) celebrates a touchdown with offensive lineman Gennings Dunker (67) in the second half against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-035.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; The Iowa Hawkeyes celebrate a win against the Wisconsin Badgers with the Heartland Trophy at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-036.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes running back Kamari Moulton (28) celebrates a win against the Wisconsin Badgers at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-037.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; Iowa Hawkeyes offensive lineman Logan Jones (65) celebrates a win against the Wisconsin Badgers while his teammates carry The Heartland Trophy in the background at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-038.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; The Iowa Hawkeyes celebrate a win against the Wisconsin Badgers with the Heartland Trophy at Camp Randall Stadium. Mandatory Credit"
  - filename: 20251011-wisconsin-iowa-040.jpg
    caption: "Oct 11, 2025; Madison, Wisconsin, USA; The Iowa Hawkeyes celebrate a win against the Wisconsin Badgers with the Heartland Trophy at Camp Randall Stadium. Mandatory Credit"
  


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="{{ site.cdn_url }}/sports/images/2025/20251011-wisconsin-iowa/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20251011-wisconsin-iowa/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>