---
title: Wisconsin Badgers vs. Miami (OH) 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-08-28 08:30:35
slug:
tags:
- NCAA
- Wisconsin Badgers
- Miami (OH) RedHawks
- Football
- Big Ten

excerpt:
image: /sports/images/2025/20250828-badgers-miami-oh/20250828-wisconsin-miami-oh-111.jpg
gallery-base: /sports/images/2025/20250828-badgers-miami-oh/
gallery-images:
  - filename: 20250828-wisconsin-miami-oh-001.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) warms up before taking on the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-003.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell (left) watches his team warmup before taking on the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-004.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II (left) and wide receiver Jayden Ballard (right) exchange a handshake in warmups before taking on the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-006.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell leads his team out of the tunnel of Camp Randall before taking on the Miami (OH) RedHawks on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-007.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) takes the filed against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-008.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) takes the filed against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-011.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell leads his team out of the tunnel at Camp Randall against Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-016.jpg
    caption: "Wisconsin Badgers running back Harrison Bortolotti (center) huddles up before taking on the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-017.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-019.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-022.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-023.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-024.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-025.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-027.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-029.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-030.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-031.jpg
    caption: "Bucky Badger leads the team onto the field against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-033.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell leads his team onto the field against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-034.jpg
    caption: "Wisconsin Badgers wide receiver Jayden Ballard (4) focuses before the game against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-038.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) attempts a pass against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-041.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) attempts a pass against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-044.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna (2) runs up field after catching the ball against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-046.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna (2) runs up field after catching the ball against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-048.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) looks to throw down field against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-050.jpg
    caption: "Wisconsin Badgers tight end Lance Mason (86) attempts to catch the ball against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-051.jpg
    caption: "Wisconsin Badgers wide receiver Joseph Griffin Jr. (12) eyes the ball against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-053.jpg
    caption: "Miami (OH) RedHawks head coach Chuck Martin looks to call a play against the Wisconsin Badgers at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-054.jpg
    caption: "Wisconsin Badgers outside linebacker Tyreese Fearbry (7) signals to his teammates against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-055.jpg
    caption: "Miami (OH) RedHawks quaterback Dequan Finn (1) attempts a pass against the Wisconsin Badgers at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-057.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II (8) against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-059.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) gets looked at by medical staff after a play in the first half against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-062.jpg
    caption: "Wisconsin Badgers quarterback Billy Edwards Jr. (9) heads to the locker room in the first half against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-066.jpg
    caption: "Wisconsin Badgers linebacker Christian Alliegro (0), outside linebacker Darryl Peterson III (17), and linebacker Sebastian Cheeks (15) celebrate a defensive stop against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-069.jpg
    caption: "The “W” on the Wisconsin Field House is illuminated behind spectators as the watch the Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-070.jpg
    caption: "Wisconsin Badgers running back Cade Yacamelli (25) looks at the scoreboard after halftime against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-072.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II (8) runs up field after a catch against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-073.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna (2) and wide receiver Vinny Anthony II (8) head back to the huddle against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-075.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil (18) attempts a pass against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-076.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil (18) attempts a pass against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-077.jpg
    caption: "Wisconsin Badgers linebacker Sebastian Cheeks (15) celebrates a defensive stop against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-079.jpg
    caption: "Wisconsin Badgers tight end Grant Stec (85) signals a first down after catching the ball against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-082.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II (8) celebrates a touchdown against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-084.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II (8) celebrates a touchdown with his teammates against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-088.jpg
    caption: "Wisconsin Badgers linebacker Christian Alliegro (0) celebrates a defensive stop against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-094.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-095.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-098.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-103.jpg
    caption: "Wisconsin Badgers wide receiver Jayden Ballard (4) tries to catch the ball while being defended by Miami (OH) RedHawks defensive back Kaleb Martin (17) at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-107.jpg
    caption: "Miami (OH) RedHawks quaterback Dequan Finn (1) attempts a pass against the Wisconsin Badgers at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-108.jpg
    caption: "Miami (OH) RedHawks running back Kenny Tracy (9) looks at the scoreboard against the Wisconsin Badgers at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-110.jpg
    caption: "Wisconsin Badgers safety Preston Zachman (14) dives for a touchdown that was call out of bounds short of the goal against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-111.jpg
    caption: "Wisconsin Badgers safety Preston Zachman (14) celebrates a touchdown that was called back with teammates against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-113.jpg
    caption: "Wisconsin Badgers safety Preston Zachman (14) celebrates a touchdown that was called back with teammates against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-010.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-011.jpg
    caption: "Wisconsin Badgers wide receiver Trech Kekahuna (2) breaks a tackle against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-015.jpg
    caption: "Wisconsin Badgers wide receiver Vinny Anthony II (8) celebrates with teammates on the sideline after scoring a touchdown against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-016.jpg
    caption: "Wisconsin Badgers linebacker Sebastian Cheeks (15) and cornerback Geimere Latimer II (1) make a defensive stop against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-018.jpg
    caption: "Wisconsin Badgers linebacker Sebastian Cheeks (15) and cornerback Geimere Latimer II (1) make a defensive stop against the Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-020.jpg
    caption: "Miami (OH) RedHawks quarterback Dequan Finn (1) gets tackled by Wisconsin Badgers linebacker Christian Alliegro (0) at Camp Randall on August 28, 2025 in Madison, Wisconsin."
  - filename: 20250828-wisconsin-miami-oh-extras-023.jpg
    caption: "Wisconsin Badgers vs. Miami (OH) RedHawks at Camp Randall on August 28, 2025 in Madison, Wisconsin."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250828-badgers-miami-oh/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250828-badgers-miami-oh/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>