---
title: "Wisconsin Badgers vs. Marquette Golden Eagles"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2025-12-30 08:30:35
permalink: /sports/basketball/marquette-at-wisconsin-2025/
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Marquette Golden Eagles
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2025/20251206-badgers-marquette/20251206-wisconsin-marquette-101.jpg
gallery-base: "/sports/images/2025/20251206-badgers-marquette/"
gallery-images:
  - filename: 20251206-wisconsin-marquette-004.jpg
    caption: "A Wisconsin cheerleader during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-006.jpg
    caption: "Wisconsin Badgers head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-007.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers before the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-009.jpg
    caption: "The Wisconsin Badgers and the Marquette Golden Eagles huddle before a game at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-011.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers gets the open tip off during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-012.jpg
    caption: "Nigel James Jr. #0 of the Marquette Golden Eagles passes the ball past Nolan Winter #31 of the Wisconsin Badgers during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-013.jpg
    caption: "Nigel James Jr. #0 of the Marquette Golden Eagles drives the lane as Andrew Rohde #7 of the Wisconsin Badgers strips the ball away during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-019.jpg
    caption: "Wisconsin Badgers head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-022.jpg
    caption: "Royce Parham #13 of the Marquette Golden Eagles attempts a layup while being defended by Nick Boyd #2 of the Wisconsin Badgers during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-023.jpg
    caption: "Royce Parham #13 of the Marquette Golden Eagles attempts a layup while being defended by Nick Boyd #2 of the Wisconsin Badgers during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-030.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers reacts to an out of bounds call during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-032.jpg
    caption: "Marquette Golden Eagles head coach Shaka Smart during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-035.jpg
    caption: "Chase Ross #2 of the Marquette Golden Eagles attempts a shot while being defended by Braeden Carrington #0 and Andrew Rohde #7 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-037.jpg
    caption: "Chase Ross #2 of the Marquette Golden Eagles attempts a shot over Braeden Carrington #0 of the Wisconsin Badgers  at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-038.jpg
    caption: "Chase Ross #2 of the Marquette Golden Eagles drives the baseline while defended by Jack Janicki #5 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-039.jpg
    caption: "Chase Ross #2 of the Marquette Golden Eagles attempts a layup while being defended by John Blackwell #25 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-043.jpg
    caption: "The Wisconsin Badgers and The Marquette Golden Eagles huddle up after a foul at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-044.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers talks to head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-048.jpg
    caption: "Nigel James Jr. #0 of the Marquette Golden Eagles attempts a layup while being fouled by Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-049.jpg
    caption: "Nigel James Jr. #0 of the Marquette Golden Eagles attempts a layup while being fouled by Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-050.jpg
    caption: "The Wisconsin Badgers and The Marquette Golden Eagles huddle up after a foul at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-053.jpg
    caption: "Nigel James Jr. #0 of the Marquette Golden Eagles drives the lane while being defended Braeden Carrington #0 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-059.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a three-pointer during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-060.jpg
    caption: "Nigel James Jr. #0 of the Marquette Golden Eagles grabs a rebound while contested by Aleksas Bieliauskas #32 of the Wisconsin Badgers at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-062.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers drives to the basket for a layup during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-064.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives the baseline while being defended by Nigel James Jr. #0 of the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-066.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a three-pointer during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-069.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers talks to head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-072.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers is fouled by Tre Norman #5 of the Marquette Golden Eagles as he drives to the basket at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-073.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a layup during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-076.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers fires up the crowd during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-077.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers and Nigel James Jr. #0 of the Marquette Golden Eagles go after a loose ball at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-079.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers drives the lane while being defended by Zaide Lowery #7 and Royce Parham #13 of the Marquette Golden Eagles during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-080.jpg
    caption: "Wisconsin Badgers head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-083.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers celebrates after hitting a three-pointer during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-084.jpg
    caption: "Austin Rapp #22 of the Wisconsin Badgers drives the lane while being defended by Ben Gold #12 of the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-085.jpg
    caption: "Austin Rapp #22 of the Wisconsin Badgers reacts after making a layup and getting fouled during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-086.jpg
    caption: "Austin Rapp #22 of the Wisconsin Badgers reacts after making a layup and getting fouled during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-088.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a layup while being defended by Michael Phillips II #35 of the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-090.jpg
    caption: "Aleksas Bieliauskas #32 of the Wisconsin Badgers shoots a three-pointer during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-091.jpg
    caption: "Aleksas Bieliauskas #32 of the Wisconsin Badgers celebrates after hitting a three-pointer during the college basketball game between the Wisconsin Badgers and the Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-101.jpg
    caption: "John Blackwell #25 and Nick Boyd #2 of the Wisconsin Badgers celebrate a win against The Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-102.jpg
    caption: "Andrew Rohde #7, John Blackwell #25 and Nick Boyd #2 of the Wisconsin Badgers celebrate a win against The Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."
  - filename: 20251206-wisconsin-marquette-104.jpg
    caption: "Andrew Rohde #7, John Blackwell #25 and Nick Boyd #2 of the Wisconsin Badgers celebrate a win against The Marquette Golden Eagles at the Kohl Center on December 6, 2025 in Madison, Wisconsin."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>