---
title: Demolition Derby at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-07-20 08:30:35
slug:
tags:
- Demo Derby
- Demolition Derby
- Green County Fair
- Crash
- Accidents
- Fire
excerpt:
image: /sports/images/2025/20250720-derby/20250720-gcfair-demo-derby-154.jpg
gallery-base: /sports/images/2025/20250720-derby/
gallery-images:
  - filename: 20250720-gcfair-demo-derby-004.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-007.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-011.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-014.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-016.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-020.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-021.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-029.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-031.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-037.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-041.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-043.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-046.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-048.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-050.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-052.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-055.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-056.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-057.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-060.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-062.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-068.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-069.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-075.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-079.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-082.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-085.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-087.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-090.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-092.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-101.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-102.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-109.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-111.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-112.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-114.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-115.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-117.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-123.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-126.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-127.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-130.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-132.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-137.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-140.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-141.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-143.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-149.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-153.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-154.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-155.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."
  - filename: 20250720-gcfair-demo-derby-157.jpg
    caption: "Demolition Derby at the Green County Fair in Monroe, Wisconsin on July 19th, 2025."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250720-derby/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250720-derby/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>