---
title: Seattle Seahawks at Green Bay Packers - 2025 NFL Preseason - Week 3 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-08-23 08:30:35
slug:
tags:
- NFL
- Green Bay Packers
- Seattle Seahawks
- Football
- Preseason

excerpt:
image: /sports/images/2025/20250823-packers-seahawks/20250823-greenbay-seattle-s-035.jpg
gallery-base: /sports/images/2025/20250823-packers-seahawks/
gallery-images:
  - filename: 20250823-greenbay-seattle-s-013.jpg
    caption: "Seattle Seahawks wide receiver Jake Bobo (19) takes a knee in the end zone before taking on the Green Bay Packers at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin. Bobo would exit the game before halftime with an injury."
  - filename: 20250823-greenbay-seattle-s-014.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) heads to the sidelines before taking on the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-015.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) takes a knee before taking on the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-016.jpg
    caption: "Green Bay Packers safety Omar Brown (40) and several other Packers take a knee before taking on the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-017.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) takes a knee before taking on the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-018.jpg
    caption: "Green Bay Packers vs. Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-025.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) takes a play from the sidelines in the second quarter against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-026.jpg
    caption: "The Green Bay Packers offense huddles up in the second quarter against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-027.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) looks at Seattle Seahawks safety D'Anthony Bell (23) at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-028.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) looks down the line of scrimmage before snapping the ball against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-029.jpg
    caption: "Green Bay Packers offensive tackle Donovan Jennings (67) provides pass protection against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-033.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) runs for the sideline against theSeattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-034.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) runs for the sideline against theSeattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-035.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) runs for the sideline against theSeattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-036.jpg
    caption: "Green Bay Packers quarterback Sean Clifford (16) runs for the sideline against theSeattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-040.jpg
    caption: "Green Bay Packers quarterback Taylor Elgersma (19) takes a long snap while kicker Brandon McManus (17) gets ready to kick a field goal in the second quarter against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-043.jpg
    caption: "Green Bay Packers quarterback Taylor Elgersma (19) takes a long snap while kicker Brandon McManus (17) gets ready to kick a field goal in the second quarter against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-047.jpg
    caption: "Seattle Seahawks quarterback Jalen Milroe (6) attempts a pass against the Green Bay Packers in the second quarter at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-048.jpg
    caption: "Green Bay Packers defensive end Lukas Van Ness (90) heads to the locker room at halftime against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-050.jpg
    caption: "Green Bay Packers running back Josh Jacobs (8) heads to the locker room against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-051.jpg
    caption: "Green Bay Packers cornerback Micah Robinson (26) heads to the locker room at halftime against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-052.jpg
    caption: "Green Bay Packers cornerback Carrington Valentine (24) heads to the locker room at halftime against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-s-122.jpg
    caption: "Green Bay Packers head coach Matt LaFleur looks at a tablet after halftime against the Seattle Seahawks at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-sl-012.jpg
    caption: "Seattle Seahawks defensive end Leonard Williams (99), quarterback Sam Darnold (14), cornerback Devon Witherspoon (21), Jalen Milroe (6) and safety Julian Love (20) pose for a fan photo before taking on the Green Bay Packers at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-sl-029.jpg
    caption: "Seattle Seahawks quarterback Jalen Milroe (6) and fullback Brady Russell (38) take a knee in the end zone before taking on theGreen Bay Packers at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-sl-038.jpg
    caption: "Fans at Lambeau Field do the wave before halftime of the Green Bay Packers vs. Seattle Seahawks game  at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-sl-040.jpg
    caption: "Seattle Seahawks cornerback Tyler Hall (33) leaves the field on a cart late in the second quarter against the Green Bay Packers at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-sl-041.jpg
    caption: "Seattle Seahawks cornerback Tyler Hall (33) leaves the field on a cart late in the second quarter against the Green Bay Packers at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."
  - filename: 20250823-greenbay-seattle-sl-042.jpg
    caption: "Seattle Seahawks cornerback Tyler Hall (33) leaves the field on a cart late in the second quarter against the Green Bay Packers at Lambeau Field on August 23, 2025 in Green Bay, Wisconsin."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250823-packers-seahawks/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250823-packers-seahawks/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>