---
title: Monroe Cross Country 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-09-02 08:30:35
slug:
tags:
- High school
- Monroe Hounds
- Cross Country

excerpt:
image: /sports/images/2025/20250902-monroe-cc/20250902-monroe-xc-024.jpg
gallery-base: /sports/images/2025/20250902-monroe-cc/
gallery-images:
  - filename: 20250902-monroe-xc-003.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-004.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-011.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-012.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-013.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-018.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-020.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-024.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-027.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-031.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-032.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-035.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-038.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-044.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-046.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-048.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-051.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-057.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-058.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-060.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-061.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-064.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-065.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-066.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-069.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-075.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-076.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-078.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-081.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-083.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."
  - filename: 20250902-monroe-xc-085.jpg
    caption: "MONROE, WI – SEPTEMBER 2: Runners race during the Monroe Cross Country Meet at Twining Park in Monroe, Wisconsin."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>