---
title: Wisconsin Badgers vs. Illinois
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-02-18 08:30:35
slug:
tags:
- sports
- Wisconsin Badgers
- Illinois
- Basketball
- NCAA
- Big Ten
excerpt:
image: /sports/images/2025/20250218-badgers/20250218-wisconsin-illinois-023-v2.jpg
gallery-images:
  - filename: 20250218-wisconsin-illinois-004.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 prepares on the bench before a matchup against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-005.jpg
    caption: "Wisconsin Badgers vs. Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-013.jpg
    caption: "The Wisconsin Badgers student section explodes with white confetti after the first made field goal of the game for the Badgers against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-015.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard argues a call in the first half of the game against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-017.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 slams an easy dunk against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-023.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 slams an easy dunk against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-027.jpg
    caption: "Illinois Fighting Illini Head Coach Brad Underwood gets in the referees face during the first half against the Wisconsin Badgers at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-033.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 and guard John Tonje #9  gather themselves after diving for a loose ball against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-034.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 is fouled by Illinois Fighting Illini guard Kasparas Jakucionis #32  at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-035.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 is fouled by Illinois Fighting Illini guard Kasparas Jakucionis #32  at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-038.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 shows a surprised look as Wisconsin Badgers guard Jack Janicki #33 tries to signal for possession against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-039.jpg
    caption: "Illinois Fighting Illini guard Kasparas Jakucionis #32 drives the lane defended by Wisconsin Badgers guard John Blackwell #25 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-041.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 receives praise from the bench after a substitution against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-043.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 looks towards the scoreboard after draining a three pointer against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-045.jpg
    caption: "Illinois Fighting Illini guard Kylan Boswell #4 looks to pass to Illini forward Ben Humrichous #3 against the Wisconsin Badgers at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-050.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 embraces Badgers guard Kamari McGee #4 against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-051.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 embraces Badgers guard Kamari McGee #4 against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-056.jpg
    caption: "Wisconsin Badgers forward Xavier Amos #13 holds his form after knocking down a three pointer against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-057.jpg
    caption: "Illinois Fighting Illini forward Will Riley #7 is fouled by Wisconsin Badgers guard Max Klesmit #11 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-058.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 talks it over with a teammate against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-061.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 gets an easy layup on a fast break against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-063.jpg
    caption: "Illinois Fighting Illini guard Tre White #22 attempts a free throw against the Wisconsin Badgers at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-064.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the lane while defended by Illinois Fighting Illini forward Ben Humrichous #3 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-068.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 hits a step back three pointer against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-072.jpg
    caption: "Wisconsin Badgers forward Nolan Winter #31 snatches a rebound over Illinois Fighting Illini forward Will Riley #7 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-073.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 cracks a joke with the referee during a game against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-074.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard squats down for a better angle during a game against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-077.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 attempts a three pointer while defended by Illinois Fighting Illini guard Dra Gibbs-Lawhorn #2 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-078.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 attempts a three pointer while defended by Illinois Fighting Illini guard Dra Gibbs-Lawhorn #2 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-082.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 is fouled hard by Illinois Fighting Illini guard Tre White #22 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-084.jpg
    caption: "Wisconsin Badgers forward Carter Gilmore #7 blocks the view of Illinois Fighting Illini forward Ben Humrichous #3 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-085.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4, John Blackwell #25 & Illinois Fighting Illini forward Will Riley #7  dive for a loose ball  at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-087.jpg
    caption: "Wisconsin Badgers guard John Blackwell #25 drives the lane while defended by Illinois Fighting Illini forward Will Riley #7 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-089.jpg
    caption: "Wisconsin Badgers vs. Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-091.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 heads to the bench against the llinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-092.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 drive the baseline against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-093.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 attempts a three pointer against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-094.jpg
    caption: "Wisconsin Badgers forward Steven Crowl #22 attempts a three pointer against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-095.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 talks things over with Wisconsin Badgers forward Xavier Amos #13 against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-099.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 attempts a free throw against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-1.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline  with a helpful pick from forward Steven Crowl #22 Wisconsin Badgers vs. Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-100.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 attempts a free throw against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-102.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 covers his face after committing a foul against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-103.jpg
    caption: "Wisconsin Badgers Head Coach Greg Gard in disbelief after a foul is committed by his team against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-104.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 drives the baseline  with a helpful pick from forward Steven Crowl #22 Wisconsin Badgers vs. Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-110.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 heads to the bench against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-112.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 heads to the bench against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-2.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 drives the baseline against Illinois Fighting Illini guard Tre White #22  at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-3.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 attempts a three pointer over Illinois Fighting Illini guard Dra Gibbs-Lawhorn #2 at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-4.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 gets an easy layup on a fast break against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-5.jpg
    caption: "Wisconsin Badgers guard Kamari McGee #4 has a discussion with the referee against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-6.jpg
    caption: "Wisconsin Badgers guard Max Klesmit #11 falls back on defense after draining a three pointer against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-7.jpg
    caption: "Wisconsin Badgers guard John Tonje #9 gets an easy layup on a fast break against the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."
  - filename: 20250218-wisconsin-illinois-8.jpg
    caption: "The Wisconsin Badgers starting five converse before taking on the Illinois Fighting Illini at The Kohl Center on February 18, 2025 in Madison, Wisconsin."




---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2025/20250218-badgers/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2025/20250218-badgers/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>