---
title: "Wisconsin Badgers vs. Washington Huskies"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/football/washington-at-wisconsin-2025/
layout: blog-posts
type: sports
date: 2025-11-08 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Washington Huskies
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2025/20251108-wisconsin-washington/20251108-wisconsin-washington-110.jpg
gallery-base: "/sports/images/2025/20251108-wisconsin-washington/"
gallery-images:
  - filename: 20251108-wisconsin-washington-001.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell leads the Wisconsin Badgers out of the tunnel before a game against the Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-004.jpg
    caption: "Wisconsin Badgers linebacker Sebastian Cheeks (15) puts a hit on Washington Huskies quarterback Demond Williams Jr. (2) at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-008.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil (18) is tackled by Washington Huskies safety Rylon Dillard-Allen (18) in the first half at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-009.jpg
    caption: "Wisconsin Badgers quarterback Danny O'Neil (18) suffers an injury to his leg in the first half against the Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-018.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) celebrates a first down against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-019.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) attempts a pass while being hit by Washington Huskies linebacker Jacob Lane (48) at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-021.jpg
    caption: "Washington Huskies quarterback Demond Williams Jr. (2) runs the ball while wide receiver Denzel Boston (12) blocks Wisconsin Badgers cornerback Ricardo Hallman (2) downfield at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-026.jpg
    caption: "Washington Huskies linebacker Anthony Ward (57) cornerback Tacario Davis (8) and  safety Paul Mencke Jr. (31) celebrate a blocked punt against The Wisconsin Badgers at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-028.jpg
    caption: "Washington Huskies wide receiver Denzel Boston (12) catches a touchdown pass while being covered by Wisconsin Badgers cornerback Ricardo Hallman (2) at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-030.jpg
    caption: "Washington Huskies offensive lineman Geirean Hatchett (56) celebrates a  Denzel Boston touchdown against The Wisconsin Badgers at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-032.jpg
    caption: "Wisconsin Badgers cornerback Ricardo Hallman (2) intercepts a Washington Huskies pass in the endzone at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-033.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) attempts a pass while being chased by Washington Huskies linebacker Zach Durfee (5) at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-037.jpg
    caption: "Washington Huskies wide receiver Denzel Boston (12) catches a pass against The Wisconsin Badgers at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-039.jpg
    caption: "Wisconsin Badgers linebacker Mason Posa (8) causes a Washington Huskies quarterback Demond Williams Jr. (2) fumble at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-040.jpg
    caption: "Wisconsin Badgers linebacker Mason Posa (8) causes a Washington Huskies quarterback Demond Williams Jr. (2) fumble at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-041.jpg
    caption: "Wisconsin Badgers linebacker Mason Posa (8) causes a Washington Huskies quarterback Demond Williams Jr. (2) fumble at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-049.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) attempts a pass against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-060.jpg
    caption: "Wisconsin Badgers cornerback D'Yoni Hill (5)and cornerback Geimere Latimer II (1) celebrate a blocked field goal against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-062.jpg
    caption: "Wisconsin Badger fans enjoying a game against The Washington Huskies in the snow at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-065.jpg
    caption: "Wisconsin Badgers outside linebacker Corey Walker (92) hits Washington Huskies quarterback Demond Williams Jr. (2) at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-067.jpg
    caption: "Wisconsin Badger fans enjoying a game against The Washington Huskies in the snow at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-068.jpg
    caption: "Washington Huskies quarterback Demond Williams Jr. (2) looks to pass against The Wisconsin Badgers at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-072.jpg
    caption: "Washington Huskies quarterback Demond Williams Jr. (2) runs the ball against The Wisconsin Badgers at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-074.jpg
    caption: "Wisconsin Badgers linebacker Cooper Catalano (44) makes a defensive stop against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-075.jpg
    caption: "Harry the Husky durning a college football game between the Wisconsin Badgers and the Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-077.jpg
    caption: "Washington Huskies quarterback Demond Williams Jr. (2) is tackled by Wisconsin Badgers outside linebacker Darryl Peterson III (17) and linebacker Cooper Catalano (44) at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-081.jpg
    caption: "Wisconsin Badgers cornerback Omillio Agard (6) celebrates a defensive stop against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-084.jpg
    caption: "The Wisconsin Badgers celebrate a win over the Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-089.jpg
    caption: "Fans rush the field after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-090.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell is escorted back to the locker room after fans rush the field in Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-092.jpg
    caption: "Fans rush the field after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-093.jpg
    caption: "durning a college football game between the Wisconsin Badgers and the Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-1.jpg
    caption: "The Wisconsin Badgers take the field with American Flags before a college football game against the Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-100.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) celebrates with Wisconsin Badgers safety Luke Emmerich (20) after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-104.jpg
    caption: "Wisconsin Badgers linebacker Mason Posa (8) and defensive lineman Parker Petersen (99) after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-105.jpg
    caption: "Wisconsin Badgers wide receiver Chris Brooks Jr. (1) after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-109.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) celebrates after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-11.jpg
    caption: "Wisconsin Badgers kicker Nathanial Vakos (90) hits the game winning field goal against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-110.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) heads to the locker room after Wisconsin’s 13-10 win over The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-12.jpg
    caption: "The Wisconsin Badger flag is waved after the go ahead field goal against the The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-14.jpg
    caption: "Wisconsin Badgers safety Austin Brown (9) linebacker Mason Posa (8) linebacker Cooper Catalano (44) and safety Matthew Jung (29) celebrate the final defensive stop of the game against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-2.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) celebrates a first down while Washington Huskies linebacker Jacob Lane (48) watches in the background at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-3.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell talks with a referee during a timeout against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-5.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) attempts a pass against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-6.jpg
    caption: "Wisconsin Badgers kicker Sean West (91) completes a pass against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."
  - filename: 20251108-wisconsin-washington-7.jpg
    caption: "Wisconsin Badgers kicker Sean West (91) celebrates a successful fake punt where he completed a pass for 24 yards against The Washington Huskies at Camp Randall Stadium on November 08, 2025 in Madison, Wisconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>