---
title: Opening Ceremonies of the 2025 YMCA Gymnastics Nationals
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-06-25 08:30:35
slug:
tags:
- YMCA
- Gymnastics
- Green Bay
- National Competition
- Jordan Chiles
excerpt:
image: /sports/images/2025/20250625-ymca-day1/20250625-ymca-nationals-day1-175.jpg
gallery-base: /sports/images/2025/20250625-ymca-day1/
gallery-images:
  - filename: 20250625-ymca-nationals-day1-001.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-002.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-003.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-005.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-010.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-014.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-017.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-019.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-021.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-026.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-033.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-037.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-048.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-050.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-057.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-058.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-072.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-074.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-075.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-083.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-086.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-092.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-094.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-104.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-107.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-117.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-131.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-142.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-149.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-151.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-153.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-157.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-160.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-163.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-164.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-174.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-175.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-178.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-181.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-183.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-184.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-191.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-195.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-199.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-200.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-204.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-205.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."
  - filename: 20250625-ymca-nationals-day1-210.jpg
    caption: "The YMCA National Gymnastics Championship 2025 held at The Resch Center in Green Bay, Wisconsin, USA on June 25th, 2025."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250625-ymca-day1/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250625-ymca-day1/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>