---
title: "Wisconsin Badgers vs. Illinois Fighting Illini"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2025-11-22 08:30:35
permalink: /sports/football/illinois-at-wisconsin-2025/
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Illinois Fighting Illini
  - Football
  - Big Ten
excerpt:
image: /sports/images/2025/20251122-wisconsin-illinois-fb/20251122-wisconsin-illinois-094.jpg
gallery-base: "/sports/images/2025/20251122-wisconsin-illinois-fb/"
gallery-images:
  - filename: 20251122-wisconsin-illinois-001.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell leads the Wisconsin Badgers onto the field before playing the Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-002.jpg
    caption: "The Wisconsin Badgers run onto the field before playing the Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-004.jpg
    caption: "Wisconsin Badgers safety Matthew Jung (29) juggles a pass against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-005.jpg
    caption: "Wisconsin Badgers safety Matthew Jung (29) juggles a pass against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-008.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) is sacked by Wisconsin Badgers linebacker Sebastian Cheeks (15) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-009.jpg
    caption: "Illinois Fighting Illini defensive lineman Tomiwa Durojaiye (36) celebrates after a defensive stop against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-012.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) attempts a pass against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-015.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) runs the ball against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-018.jpg
    caption: "Illinois Fighting Illini head coach Bret Bielema talks to the referee during a timeout against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-024.jpg
    caption: "Wisconsin Badgers outside linebacker Aaron Witt (59) and outside linebacker Darryl Peterson III (17) attempt to block a Illinois Fighting Illini field goal at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-026.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) is tackled by Illinois Fighting Illini linebacker Dylan Rosiek (28) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-029.jpg
    caption: "Illinois Fighting Illini tight end Cole Rusk (14) runs the ball after a catch while being defended by Wisconsin Badgers safety Austin Brown (9) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-031.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) runs the ball against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-033.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) runs in for a touchdown against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-041.jpg
    caption: "Wisconsin Badgers quarterback Carter Smith (5) looks to pass while being chased by Illinois Fighting Illini outside linebacker Joe Barna (43) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-042.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) attempts a pass against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-043.jpg
    caption: "Illinois Fighting Illini wide receiver Hudson Clement (13) is tackled by Wisconsin Badgers safety Matthew Jung (29) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-044.jpg
    caption: "Bucky Badger durning a college football game between Wisconsin Badgers and Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-045.jpg
    caption: "Illinois Fighting Illini outside linebacker Gabe Jacas (17) sacks Wisconsin Badgers quarterback Carter Smith (5) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-046.jpg
    caption: "Illinois Fighting Illini head coach Bret Bielema looks at a referee durning a college football game against the Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-047.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) looks to pass while being chased by Wisconsin Badgers linebacker Sebastian Cheeks (15) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-048.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) runs the ball while being chased by Wisconsin Badgers safety Austin Brown (9) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-049.jpg
    caption: "Wisconsin Badgers linebacker Mason Posa (8) reacts to dropping an interception against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-050.jpg
    caption: "Illinois Fighting Illini offensive lineman J.C. Davis (74) blocks Wisconsin Badgers linebacker Sebastian Cheeks (15) as Illinois Fighting Illini quarterback Luke Altmyer (9) runs the ball at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-051.jpg
    caption: "Wisconsin Badgers linebacker Mason Posa (8) tackles Illinois Fighting Illini running back Kaden Feagin (3) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-053.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) sacks Illinois Fighting Illini quarterback Luke Altmyer (9) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-057.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) celebrates a sack against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-059.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) celebrates a sack against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-062.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) celebrates a sack against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-065.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) runs the ball against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-066.jpg
    caption: "Illinois Fighting Illini wide receiver Hank Beatty (80) breaks the tackle of Wisconsin Badgers cornerback D'Yoni Hill (5) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-068.jpg
    caption: "Wisconsin Badger fans “Jump Around” after the third quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-071.jpg
    caption: "Wisconsin Badger cheerleaders “Jump Around” after the third quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-072.jpg
    caption: "Wisconsin Badger cheerleaders “Jump Around” after the third quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-073.jpg
    caption: "Wisconsin Badger cheerleaders “Jump Around” after the third quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-075.jpg
    caption: "Wisconsin Badgers tight end Lance Mason (86) attempts to catch a pass while being defended by Illinois Fighting Illini linebacker James Kreutz (41) and defensive back Miles Scott (10) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-078.jpg
    caption: "Wisconsin Badgers long snapper Nick Levy (46) celebrates a downed punt with wide receiver Vinny Anthony II (8) against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-079.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) looks at the scoreboard in the 4th quarter against The Wisconsin Badgers at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-081.jpg
    caption: "Acollege football game between Wisconsin Badgers and Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-083.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) celebrates a defensive stop against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-084.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) and safety Matthew Jung (29) celebrate a defensive stop against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-091.jpg
    caption: "Wisconsin Badgers safety Charlie Jarvis (34) and outside linebacker Nicolas Clayton (12) celebrate a defensive stop against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-093.jpg
    caption: "Wisconsin Badgers running back Grover Bortolotti (43) and wide receiver Trech Kekahuna (2) celebrate a first down against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-094.jpg
    caption: "Wisconsin Badgers running back Darrion Dupree (6) runs in for a touchdown in the 4th quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-096.jpg
    caption: "Wisconsin Badgers running back Darrion Dupree (6) celebrates a touchdown in the 4th quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-097.jpg
    caption: "Wisconsin Badgers running back Darrion Dupree (6) celebrates a touchdown in the 4th quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-101.jpg
    caption: "Wisconsin Badgers linebacker Cooper Catalano (44) and linebacker Christian Alliegro (0) celebrate a defensive stop against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-106.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) safety Matthew Jung (29) linebacker Cooper Catalano (44) and  linebacker Christian Alliegro (0) celebrate a defensive stop in the 4th quarter against The Illinois Fighting Illini at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-109.jpg
    caption: "Illinois Fighting Illini quarterback Luke Altmyer (9) runs the ball while being chased by Wisconsin Badgers outside linebacker Darryl Peterson III (17) at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-114.jpg
    caption: "Wisconsin Badgers offensive lineman Peyton Lange (77) high fives a young fan after beating The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-117.jpg
    caption: "Wisconsin Badgers linebacker Christian Alliegro (0) heads to the locker room after beating The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-121.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) and cornerback Ricardo Hallman (2) celebrate after beating The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-123.jpg
    caption: "Wisconsin Badgers outside linebacker Darryl Peterson III (17) heads to the locker room after beating The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-127.jpg
    caption: "Fans storm the field after The Wisconsin Badgers beat The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-129.jpg
    caption: "Fans storm the field after The Wisconsin Badgers beat The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-130.jpg
    caption: "Wisconsin Badgers defensive lineman Parker Petersen (99) celebrates after being The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."
  - filename: 20251122-wisconsin-illinois-137.jpg
    caption: "Fans storm the field after The Wisconsin Badgers beat The Illinois Fighting Illini 27-10 at Camp Randall Stadium on November 22, 2025 in Madison, Wisconsin."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>