---
title: "Wisconsin Badgers vs. Northern Illinois University"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/basketball/niu-at-wisconsin-2025/
layout: blog-posts
type: sports
date: 2025-11-07 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Northern Illinois University Huskies
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2025/20251107-wisconsin-niu/20251107-wisconsin-niu-053.jpg
gallery-base: "/sports/images/2025/20251107-wisconsin-niu/"
gallery-images:
  - filename: 20251107-wisconsin-niu-002.jpg
    caption: "Wisconsin Badgers forward Austin Rapp (22) shakes hands with guard Nick Boyd (2) before a game against the Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-003.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) walks onto the court during starting lineups before a game against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-004.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives the lane against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-005.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) celebrates after scoring against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-006.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) attempts a layup while being defended by Northern Illinois Huskies forward Gustav Winther (96) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-007.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) attempts a layup while being defended by Northern Illinois Huskies forward Gustav Winther (96) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-008.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives to the basket against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-010.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives the baseline against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-011.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) forward Austin Rapp (22) guard Nick Boyd (2) guard Andrew Rohde (7) & forward Nolan Winter (31) during a game against the Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-012.jpg
    caption: "Wisconsin Badgers guard Andrew Rohde (right) tries to tie up a loose ball against the Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-013.jpg
    caption: "Wisconsin Badgers guard Andrew Rohde (7) drives the baseline while being defended by Northern Illinois Huskies guard Gianni Cobb (0) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-014.jpg
    caption: "Northern Illinois Huskies guard Daemar Kelly (3) watches a Wisconsin Badgers guard Nick Boyd (2) shot at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-015.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) attempts a three pointer against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-017.jpg
    caption: "Northern Illinois Huskies guard Makhai Valentine (1) and guard Daemar Kelly (3) battle Wisconsin Badgers guard John Blackwell (25) for a rebound at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-018.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) drives the lane while being defended by Northern Illinois Huskies guard Makhai Valentine (1) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-019.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) defends Northern Illinois Huskies guard Gianni Cobb (0) as he brings the ball up the court at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-021.jpg
    caption: "Wisconsin Badgers forward Aleksas Bieliauskas (32) and  forward Will Garlock (23) attempt block the shot of Northern Illinois Huskies player at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-022.jpg
    caption: "Wisconsin Badgers head coach Greg Gard watches a replay on the scoreboard against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-023.jpg
    caption: "Wisconsin Badgers guard Hayden Jones (13)  attempts a layup while Northern Illinois Huskies guard Jao Ituka (10) tries to draw the charge at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-025.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives the lane while being defended by Northern Illinois Huskies guard Jao Ituka (10) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-027.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) attempts a shot while being defended by Northern Illinois Huskies forward JJ Taylor (4) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-029.jpg
    caption: "Northern Illinois Huskies forward Jaylen Wharton (23) Wisconsin Badgers forward Nolan Winter (31) and Northern Illinois Huskies guard Daemar Kelly (3) watch as the ball goes out of bounds at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-030.jpg
    caption: "Wisconsin Badgers guard John Blackwell (25) attempts a shot while being defended by Northern Illinois Huskies guard Gianni Cobb (0) at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-032.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) drives the lane against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-034.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5) dives to save a ball from going out of bounds against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-036.jpg
    caption: "The Wisconsin Badgers dance team performs durning a college basketball game between Wisconsin Badgers and Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-039.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) brings the ball up the court against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-041.jpg
    caption: "Wisconsin Badgers head coach Greg Gard adjusts his tie during a game against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-042.jpg
    caption: "Wisconsin Badgers forward Austin Rapp (22) drives the baseline past a The Northern Illinois Huskies defender at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-044.jpg
    caption: "Wisconsin Badgers head coach Greg Gard during a game against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-046.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5) dunks on a fast break against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-047.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5) dunks on a fast break against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-049.jpg
    caption: "Wisconsin Badgers guard Jack Janicki (5) dunks on a fast break against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-051.jpg
    caption: "Wisconsin Badgers guard Nick Boyd (2) and the Wisconsin bench celebrate a fast break dunk against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-053.jpg
    caption: "The Wisconsin Badgers bench celebrate Wisconsin Badgers guard Nick Boyd (2) career high against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-057.jpg
    caption: "Wisconsin Badgers guard Hayden Jones (13) hesitates before going up for a layup while Northern Illinois Huskies guard Gianni Cobb (0) and guard Makhai Valentine (1) jump to defend his shot at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-060.jpg
    caption: "Wisconsin Badgers guard Isaac Gard (15) hits a three pointer while his father, Wisconsin Badgers head coach Greg Gard, looks on from the bench durning a game against the Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-062.jpg
    caption: "Wisconsin Badgers guard Isaac Gard (15) celebrates after hitting a three pointer against the Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-064.jpg
    caption: "Wisconsin Badgers guard Isaac Gard (15) attempts a free throw against The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."
  - filename: 20251107-wisconsin-niu-066.jpg
    caption: "Wisconsin Badgers guard Isaac Gard (15) and guard John Blackwell (25) celebrate a win over The Northern Illinois Huskies at the Kohl Center on November 07, 2025 in Madison, Wisconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>