---
title: "Grafton vs. Catholic Memorial"
author: "ROSS HARRIED"
photographer: "ROSS HARRIED for SECOND CROP SPORTS"
layout: blog-posts
type: sports
date: 2025-11-14 08:30:35
slug:
tags:
  - WIAA
  - Grafton
  - Catholic Memorial
  - Football
  - High School
excerpt:
image: /sports/images/2025/20251114-catholic-memorial-grafton/20251114-grafton-catholic-memorial-051.jpg
gallery-base: "/sports/images/2025/20251114-catholic-memorial-grafton/"
gallery-images:
  - filename: 20251114-grafton-catholic-memorial-001.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-002.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-003.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-004.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-005.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-006.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-007.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-008.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-009.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-010.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-011.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-012.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-013.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-014.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-015.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-016.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-017.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-018.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-019.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-020.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-021.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-022.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-023.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-024.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-025.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-026.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-027.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-028.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-029.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-030.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-031.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-032.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-033.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-034.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-035.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-036.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-037.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-038.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-039.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-040.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-041.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-042.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-043.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-044.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-045.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-046.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-047.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-048.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-049.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-050.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-051.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-052.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-053.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-054.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-055.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-056.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-057.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-058.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-059.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-060.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-061.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-062.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-063.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-064.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-065.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-066.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-067.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-068.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-069.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-070.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-071.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-072.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-073.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-074.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-075.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-076.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-077.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-078.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-079.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-080.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-081.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-082.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-083.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-084.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-085.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-086.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-087.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-088.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-089.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-090.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."
  - filename: 20251114-grafton-catholic-memorial-091.jpg
    caption: "Grafton High School defeats Catholic Memorial 34–31 in overtime during the WIAA Level 4 Division 3 playoff game at Oconomowoc High School on November 14th, 2025. With the win, Grafton advances to face Reedsburg in the Division 3 state championship at Camp Randall Stadium."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>