---
title: 2025 American Family Championship - Day Three
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-06-08 08:30:35
slug:
tags:
- sports
- Golf
- PGA
excerpt:
image: /sports/images/2025/20250608-amfam-day3/20250608-amfam-day3-013.jpg
gallery-images:
  - filename: 20250608-amfam-day3-001.jpg
    caption: "John Daly warms up on the putting green ahead of round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-002.jpg
    caption: "John Daly warms up on the putting green ahead of round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-003.jpg
    caption: "Round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-006.jpg
    caption: "John Daly hits his second shot from hole 10 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-007.jpg
    caption: "John Daly hits a shot form the bunker on hole 10 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-008.jpg
    caption: "John Daly hits a tee shot on the 11th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-010.jpg
    caption: "John Daly (driving) & Michael Allen leave the tee box of hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-011.jpg
    caption: "John Daly holds a club while looking for his ball on hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-012.jpg
    caption: "John Daly hits a chip shot on hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-013.jpg
    caption: "John Daly walks towards the green of hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-014.jpg
    caption: "John Daly’s golf bag on hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-015.jpg
    caption: "John Daly surveys the 12th hole before teeing off during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-018.jpg
    caption: "John Daly watches play on the 12th hole during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-021.jpg
    caption: "Mario Tiziani hits a shot from a bunker on hole 2 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-022.jpg
    caption: "Spectators view golfers on hole 2 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-031.jpg
    caption: "Darren Clarke hits an off-balance shot from a bunker of hole 2 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-033.jpg
    caption: "Steve Stricker hits a shot over a rock wall on hole 2 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-039.jpg
    caption: "Steve Stricker climbs up a rock wall with the help of his wife and caddie, Nicki Stricker, after a hit on hole 2 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-043.jpg
    caption: "Mario Tiziani hits a tee shot on the 3rd tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-045.jpg
    caption: "Steve Stricker hits a tee shot on the 3rd tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-048.jpg
    caption: "Darren Clarke hits a tee shot on the 3rd tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-049.jpg
    caption: "Darren Clarke (driving) and Thomas Bjørn head towards the fairway of hole 3 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-051.jpg
    caption: "Round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-053.jpg
    caption: "Steve Stricker hits a tee shot on the 6th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-054.jpg
    caption: "Steve Stricker (center) walks towards the fairway of hole 6 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-055.jpg
    caption: "Darren Clarke drives a golf cart (foreground) as Steve Stricker looks on (background) during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-056.jpg
    caption: "Round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-057.jpg
    caption: "Darren Clarke hits a bunker shot on hole 6 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-058.jpg
    caption: "A sandhill crane flies low over the fairway of hole 6 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-060.jpg
    caption: "Steve Stricker hits a tee shot on the 8th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-062.jpg
    caption: "Mario Tiziani lines up a putt on hole 9 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-066.jpg
    caption: "Thomas Bjørn hits a tee shot on the 11th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-067.jpg
    caption: "Darren Clarke hits a tee shot on the 11th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-068.jpg
    caption: "Mario Tiziani hits a tee shot on the 11th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-069.jpg
    caption: "Steve Stricker hits a tee shot on the 11th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-071.jpg
    caption: "Nicki Stricker (left) caddies for husband Steve Stricker as their daughter, Izzi, embraces her during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-073.jpg
    caption: "Darren Clarke and Steve Stricker interact on hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-075.jpg
    caption: "Steve Stricker lines up a putt on hole 11 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-080.jpg
    caption: "Steve Stricker hits a tee shot on the 12th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-083.jpg
    caption: "Darren Clarke (back), and Steve Stricker (front) embrace on hole 13 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-086.jpg
    caption: "Thomas Bjørn signs a hat for a young fan after finishing hole 14 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-089.jpg
    caption: "Thomas Bjørn hits a tee shot on the 15th tee during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-090.jpg
    caption: "Round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-091.jpg
    caption: "Round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-092.jpg
    caption: "Round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-097.jpg
    caption: "Steve Stricker observes play on hole 18 during round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-098.jpg
    caption: "The American Family Insurance Championship Trophy on display on hole 18 after finishing round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-099.jpg
    caption: "Host Steve Stricker returns to the green of hole 18 to present the American Family Insurance Championship Trophy after round 3 of The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-103.jpg
    caption: "Thomas Bjørn holds the “Dream Achieved” Trophy after taking first place in The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."
  - filename: 20250608-amfam-day3-106.jpg
    caption: "Darren Clarke (left) and Thomas Bjørn (right) hold the “Dream Achieved” Trophy after taking first place in The American Family Insurance Championship at TPC Wisconsin in Madison, Wisconsin on June 8th, 2025."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div href="/sports/images/2025/20250608-amfam-day3/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="/sports/images/2025/20250608-amfam-day3/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>