---
title: Wisconsin Badgers vs. Maryland Terrapins 
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2025-09-20 08:30:35
slug:
tags:
- NCAA
- Wisconsin Badgers
- Maryland Terrapins
- Football
- Big Ten

excerpt:
image: /sports/images/2025/20250920-wisconsin-maryland/20250920-wisconsin-maryland-053.jpg
gallery-base: /sports/images/2025/20250920-wisconsin-maryland/
gallery-images:
  - filename: 20250920-wisconsin-maryland-002.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers linebacker Tackett Curtis (4) and teammates take the field before  a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-007.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell heads to the locker room before a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-008.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The University of Wisconsin Marching band takes the field before a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-012.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The University of Wisconsin Marching band takes the field before a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-013.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers take the field as the Wisconsin Marching Band looks on before a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-014.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA;Wisconsin Badgers quarterback Billy Edwards Jr. (9) puts his helmet on before a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-017.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins defensive lineman Eyan Thomas (98) knocks down a field goal attempt by Wisconsin Badgers kicker Nathanial Vakos (90) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-018.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) attempts a pass while being chased by Wisconsin Badgers outside linebacker Darryl Peterson III (17) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-019.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) looks to pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-020.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) looks to pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-022.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) tucks the ball for a run durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-024.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Billy Edwards Jr. (9) looks to pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-025.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-026.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) offensive lineman Michael Hershey (61) and  wide receiver Shaleak Knotts (4) celebrate a Malik Washington touchdown durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-030.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The University of Wisconsin Dance Team entertains fans during a media timeout durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-031.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The University of Wisconsin Dance Team entertains fans during a media timeout durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-034.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badger fans shake keys and various other items during a kickoff against the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-035.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) looks to pass as one of his lineman’s helmet rolls infant of him durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-037.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) is tackled by Maryland Terrapins linebacker Sidney Stewart (29) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-038.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) is tackled by Maryland Terrapins linebacker Sidney Stewart (29) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-039.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) is tackled by Maryland Terrapins linebacker Sidney Stewart (29) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-041.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers safety Matthew Jung (29) signals before a play durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-043.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins tight end Dorian Fleming (9) is tripped up by Wisconsin Badgers cornerback Ricardo Hallman (2) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-044.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Dekel Crowdus (14) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-046.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Trech Kekahuna (2) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-047.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Bucky Badger poses for a photo durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-049.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Bucky Badger shows Testudo a headstand durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-050.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins running back Nolan Ray (2) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-051.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins running back Nolan Ray (2) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-052.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins running back Nolan Ray (2) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-053.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins wide receiver Shaleak Knotts (4) catches a touchdown pass while being defended by Wisconsin Badgers cornerback Ricardo Hallman (2) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-054.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins wide receiver Shaleak Knotts (4) catches a touchdown pass while being defended by Wisconsin Badgers cornerback Ricardo Hallman (2) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-055.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins wide receiver Shaleak Knotts (4) catches a touchdown pass while being defended by Wisconsin Badgers cornerback Ricardo Hallman (2) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-058.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA;Wisconsin Badgers wide receiver Trech Kekahuna (2) attempts to catch a high ball while being defended by Maryland Terrapins defensive back Jalen Huskey (22) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-060.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA;Wisconsin Badgers wide receiver Trech Kekahuna (2) attempts to catch a high ball while being defended by Maryland Terrapins defensive back Jalen Huskey (22) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-061.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA;Wisconsin Badgers wide receiver Trech Kekahuna (2) attempts to catch a high ball while being defended by Maryland Terrapins defensive back Jalen Huskey (22) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-062.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA;Wisconsin Badgers wide receiver Trech Kekahuna (2) attempts to catch a high ball while being defended by Maryland Terrapins defensive back Jalen Huskey (22) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-063.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Vinny Anthony II (8) runs after the catch durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-067.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers linebacker Christian Alliegro (0) looks into the Maryland backfield durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-070.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) attempts a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-072.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) looks to pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-073.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-075.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers cornerback Ricardo Hallman (2) lays on the ground after dropping a would be interception durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-076.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Vinny Anthony II (8) hauls in a kick durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-079.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-080.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers head coach Luke Fickell durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-081.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins wide receiver Shaleak Knotts (4) eyes the ball while being defended by Wisconsin Badgers cornerback Ricardo Hallman (2) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-082.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers outside linebacker Darryl Peterson III (17) and  cornerback Ricardo Hallman (2) head to the sidelines after a play durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-083.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; A referee signals from midfield durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-085.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Tyrell Henry (3) looks to field a punt durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-088.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Tyrell Henry (3) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-090.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The “Stripe Out” crowd durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-091.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Two referees converse at midfield durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-093.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) pitches the ball to  wide receiver Tyrell Henry (3) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-097.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins linebacker Daniel Wingate (1) puts a hard hit on Wisconsin Badgers quarterback Danny O'Neil (18) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-098.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins linebacker Daniel Wingate (1) puts a hard hit on Wisconsin Badgers quarterback Danny O'Neil (18) durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-099.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; A Big Ten officials penalty report is seen on the sidelines durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-100.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins wide receiver Jalil Farooq (1) lines up before the snap durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-101.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The Wisconsin Badgers bench reacts to an attempted block punt durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-102.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-103.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-105.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Darrion Dupree (6) breaks a tackle durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-108.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-109.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; The Wisconsin Dance Team dances durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-111.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers fans durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-115.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins head coach Michael Locksley on the sidelines durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-117.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) looks to pass from his own end zone durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-119.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) looks to pass from his own end zone durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-121.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) looks to pass from his own end zone durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-123.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins quarterback Malik Washington (7) attempts a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-124.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-125.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) is slow to get up after taking a hit durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-127.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Danny O'Neil (18) is slow to get up after taking a hit durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-128.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers quarterback Hunter Simmons (15) attempts a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-129.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) tries to haul in a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-130.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) tries to haul in a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-131.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) tries to haul in a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-133.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers wide receiver Jayden Ballard (4) tries to haul in a pass durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-135.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Wisconsin Badgers running back Cade Yacamelli (25) runs with the ball durning a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."
  - filename: 20250920-wisconsin-maryland-136.jpg
    caption: "Sept 20, 2025; Madison, Wisconsin, USA; Maryland Terrapins linebacker Trey Reddick (3) celebrates after a college football game between the Wisconsin Badgers and the Maryland Terrapins at Camp Randall Stadium on September 20, 2025 in Madison, Wisconsin."

---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<section>
		<div class="row max-850">
			<!--<h3 class="txt-center sport-names">Title</h3>-->
			<div class="clearfix" style="padding: 20px"></div>
			<h3 class="txt-center txt-uppercase">Click to view full size...</h3>
			<div class="grid-wrapper">
				{% for image in page.gallery-images %}
				<div src="{{ site.cdn_url }}/sports/images/2025/20250920-wisconsin-maryland/{{ image.filename }}" data-fancybox-group="gallery" class="fancybox">
					<img src="{{ site.cdn_url }}/sports/images/2025/20250920-wisconsin-maryland/{{ image.filename }}" alt="{{ image.caption }} Photography by Ross Harried for Second Crop Sports." title="Click to View Larger">
				</div>
				{% endfor %}
			</div>
			<div class="clearfix" style="padding: 20px"></div>
		</div>
	</section>
	<div class="clearfix" style="padding: 30px;"></div>
</div>