---
title: "Albany/Monticello vs. Neillsville WIAA Div 4 State Championship"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-03-14 08:30:35
permalink: /sports/basketball/albany-monticello-wiaa-div4-state/
slug:
tags:
  - WIAA
  - Albany/Monticello
  - Basketball
  - State Championship
excerpt:
image: /sports/images/2026/20260314-div4-state/20260314-albany-monticello-state-championship-030.jpg
gallery-base: "/sports/images/2026/20260314-div4-state/"
gallery-images:
  - filename: 20260314-albany-monticello-state-championship-002.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-003.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-004.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-006.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-008.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-013.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-015.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-022.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-030.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-031.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-036.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-040.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-042.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-044.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-045.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-047.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-048.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-050.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-051.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-055.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-056.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-057.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-061.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-069.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-070.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-071.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-074.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-079.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-080.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-084.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-087.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-090.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."
  - filename: 20260314-albany-monticello-state-championship-091.jpg
    caption: "Albany/Monticello falls in a 43-40 thriller to Neillsville in the WIAA Division 4 State Championship at the Resch Center. After being moved up to Division 4 this season through the WIAA’s rebalancing efforts, the Space Stallions successfully navigated the higher division to return to the state stage. Despite a fierce late-game rally, A-M finishes the season as state runners-up with a 27-3 record."



---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>