---
title: "LOVB Madison vs. LOVB Houston"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-03-21 08:30:35
permalink: /sports/volleyball/lovb-madison-lovb-houston-2026/
slug:
tags:
  - LOVB
  - LOVB Madison
  - Volleyball
  - LOVB Houston
excerpt:
image: /sports/images/2026/20260321-lovb/032126_MAD_HTX_RH_278.jpg
gallery-base: "/sports/images/2026/20260321-lovb/"
gallery-images:
  - filename: 032126_MAD_HTX_RH_135.jpg
    caption: "Fans line up outside the Alliant Energy Center before the LOVB Volleyball match between LOVB Madison and LOVB Houston on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_141-v2.jpg
    caption: "Anna Hall #2 of LOVB Madison warms up before the LOVB Volleyball match between LOVB Madison and LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_143.jpg
    caption: "Fans enter the Alliant Energy Center before the LOVB Volleyball match between LOVB Madison and LOVB Houston on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_154.jpg
    caption: "Fans enter the Alliant Energy Center before the LOVB Volleyball match between LOVB Madison and LOVB Houston on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_191.jpg
    caption: "Jordan Thompson #23 of LOVB Houston celebrates with Amber Igiede #3 of LOVB Houston during starting lineups against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_216.jpg
    caption: "Gillian Grimes #23 of LOVB Madison celebrates after a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_237.jpg
    caption: "The First Referee (R1) monitors play at the net during the LOVB Pro League match between the LOVB Houston and the LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_250.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball towards blocker Amber Igiede #3 of LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_252.jpg
    caption: "Lauren Briseño #5 of LOVB Houston digs the ball as teammates Amber Igiede #3 and Kaisa Alanko #8 of LOVB Houston look on against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_261.jpg
    caption: "Kaisa Alanko #8 of LOVB Houston sets the ball against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_278.jpg
    caption: "Amber Igiede #3 of LOVB Houston celebrates after a point against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_280.jpg
    caption: "Amber Igiede #3 of LOVB Houston celebrates after a point against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_282.jpg
    caption: "Amber Igiede #3 of LOVB Houston celebrates after a point against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_283.jpg
    caption: "Amber Igiede #3 of LOVB Houston celebrates after a point against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_284.jpg
    caption: "Amber Igiede #3 of LOVB Houston serves the ball against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_285.jpg
    caption: "Amber Igiede #3 of LOVB Houston serves the ball against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_287.jpg
    caption: "Rebekah Allick #5 and Lauren Carlini #7 of LOVB Madison attempt a block against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_289.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison reacts on her knees after losing a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_303.jpg
    caption: "Gillian Grimes #23 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_306.jpg
    caption: "LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_310.jpg
    caption: "Anna Haak #17 of LOVB Madison digs the ball as teammate Temi Thomas-Ailara #12 provides backup against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_314.jpg
    caption: "Gong Xiangyu #6 of LOVB Madison spikes the ball past LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_324.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison watches her freshly rigged ball against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_330.jpg
    caption: "Anna Haak #17 of LOVB Madison digs a serve from LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_336.jpg
    caption: "LOVB Madison celebrates after a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_349.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison attempts a spike while Madi Rishel #9  and Amber Igiede #3 of LOVB Houston attempt to block at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_352.jpg
    caption: "Lauren Briseño #5 of LOVB Houston watches the ball as teammate Amber Igiede #3 reacts in the background against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_356.jpg
    caption: "Amber Igiede #3 of LOVB Houston makes a diving save against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_360.jpg
    caption: "Amber Igiede #3 of LOVB Houston makes an attempt at a diving save against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_367.jpg
    caption: "Lauren Briseño #5 of LOVB Houston dives for the ball against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_368.jpg
    caption: "Lauren Briseño #5 of LOVB Houston dives for the ball against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_387.jpg
    caption: "Madi Rishel #9 of LOVB Houston attempts a spike while defended by Callie Schwarzenbach #25 and Lauren Carlini #7 of LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_390.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison jumps for a spike against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_395.jpg
    caption: "Callie Schwarzenbach #25 of LOVB Madison celebrates a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_396.jpg
    caption: "Callie Schwarzenbach #25 of LOVB Madison celebrates a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_400.jpg
    caption: "LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_407.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison serves the ball against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_408.jpg
    caption: "Anna Haak #17 of LOVB Madison spikes the ball while defended by Micha Hancock #12 of LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_425.jpg
    caption: "Amber Igiede #3 of LOVB Houston serves the ball against LOVB Madison at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_437.jpg
    caption: "LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_445.jpg
    caption: "Gillian Grimes #23 of LOVB Madison celebrates after a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_461.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball while being defended by Jordan Thompson #23 and Amber Igiede #3 of LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_468.jpg
    caption: "LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_479.jpg
    caption: "Lauren Carlini #7 and Temi Thomas-Ailara #12 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_489.jpg
    caption: "Lauren Carlini #7, Temi Thomas-Ailara #12, Gillian Grimes #23 and Callie Schwarzenbach #25 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_492.jpg
    caption: "Lauren Carlini #7, Temi Thomas-Ailara #12, Gillian Grimes #23, Callie Schwarzenbach #25 and Gong Xiangyu #6 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_495.jpg
    caption: "Lauren Carlini #7 and Anna Haak #17 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_499.jpg
    caption: "Lauren Carlini #7 and Anna Haak #17 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_501.jpg
    caption: "Lauren Carlini #7 and Anna Haak #17 of LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_503.jpg
    caption: "LOVB Madison celebrate a point against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_505.jpg
    caption: "LOVB Madison celebrates the 3-set sweep win against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_506.jpg
    caption: "LOVB Madison celebrates the 3-set sweep win against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_507.jpg
    caption: "LOVB Madison celebrates the 3-set sweep win against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_510.jpg
    caption: "LOVB Madison celebrates the 3-set sweep win against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_514.jpg
    caption: "LOVB Madison celebrates the 3-set sweep win against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."
  - filename: 032126_MAD_HTX_RH_519.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison is named the player of the game against LOVB Houston at the Alliant Energy Center on March 21, 2026 in Madison, WI."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>