---
title: "LOVB Madison vs. LOVB Atlanta"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-04-02 08:30:35
permalink: /sports/volleyball/lovb-madison-lovb-atlanta-2026/
slug:
tags:
  - LOVB
  - LOVB Madison
  - Volleyball
  - LOVB Atlanta
excerpt:
image: /sports/images/2026/20260402-lovb-mad-atl/032126_MAD_ATL_RH_286.jpg
gallery-base: "/sports/images/2026/20260402-lovb-mad-atl/"
gallery-images:
  - filename: 032126_MAD_ATL_RH_110.jpg
    caption: "Ivonee Montaño #18 of LOVB Atlanta is welcomed by her teammates during starting lineups against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_120.jpg
    caption: "Gong Xiangyu #6 of LOVB Madison is announced during starting lineups against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_137.jpg
    caption: "Rebekah Allick #5 of LOVB Madison and teammates celebrate after a point against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_160.jpg
    caption: "Magdalena Jehlárová #15 of LOVB Atlanta spikes the ball past Rebekah Allick #5 of LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_170.jpg
    caption: "Lauren Carlini #7 and LOVB Madison celebrate after the play against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_177.jpg
    caption: "Piyanut Pannoy #2 of LOVB Atlanta makes a dig against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_180.jpg
    caption: "Julia Sangiacomo #22 of LOVB Atlanta before a serve against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_197.jpg
    caption: "Lauren Carlini #7 of LOVB Madison during the LOVB Volleyball match between against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_200.jpg
    caption: "Lauren Carlini #7 of LOVB Madison sets the ball against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_246.jpg
    caption: "Tia Jimerson #14 of LOVB Atlanta attempts to chase down a rogue ball as a fan reacts against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_249.jpg
    caption: "Rachel Fairbanks #10 of LOVB Atlanta sets the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_252.jpg
    caption: "Ivonee Montaño #18 of LOVB Atlanta spikes the ball while defended by Temi Thomas-Ailara #12 of LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_261.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_263.jpg
    caption: "Rachel Fairbanks #10 and Magdalena Jehlárová #15 of LOVB Atlanta block the ball back into the face of Temi Thomas-Ailara #12 of LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_266.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison digs the ball against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_274.jpg
    caption: "LOVB Atlanta celebrate after a point against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_286.jpg
    caption: "Piyanut Pannoy #2 of LOVB Atlanta digs the ball over fallen teammate McKenzie Adams #13 against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_290.jpg
    caption: "Tia Jimerson #14 of LOVB Atlanta watches for the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_306.jpg
    caption: "McKenzie Adams #13 of LOVB Atlanta celebrates a point against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_318.jpg
    caption: "Ivonee Montaño #18 of LOVB Atlanta celebrates after a block against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_335.jpg
    caption: "Ivonee Montaño #18 of LOVB Atlanta spikes the ball while defended by Claire Chaussee #9 of LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_338.jpg
    caption: "McKenzie Adams #13 of LOVB Atlanta serves the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_341.jpg
    caption: "McKenzie Adams #13 of LOVB Atlanta during the LOVB Volleyball match between LOVB Madison and LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_345.jpg
    caption: "Rachel Fairbanks #10 of LOVB Atlanta sets the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_352.jpg
    caption: "McKenzie Adams #13 of LOVB Atlanta serves the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_362.jpg
    caption: "Tia Jimerson #14 of LOVB Atlanta serves the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_367.jpg
    caption: "Anna Hall #2 of LOVB Madison serves the ball against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_376.jpg
    caption: "LOVB Madison celebrates after the play against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_393.jpg
    caption: "Lauren Carlini #7 of LOVB Madison serves the ball against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_402.jpg
    caption: "Rebekah Allick #5 of LOVB Madison reacts after being called for a violation against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_409.jpg
    caption: "Rebekah Allick #5 of LOVB Madison reacts after being called for a violation against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_419.jpg
    caption: "Magdalena Jehlárová #15, McKenzie Adams #13 and Rachel Fairbanks #10 of LOVB Atlanta celebrate after the play against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_432.jpg
    caption: "Claire Chaussee #9 of LOVB Madison spikes the ball while defended by Tia Jimerson #14 of LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_436.jpg
    caption: "Claire Chaussee #9 of LOVB Madison celebrates with teammate Lauren Carlini #7 after the play against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_440.jpg
    caption: "Rebekah Allick #5 and Lauren Carlini #7 of LOVB Madison celebrate after the play against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_452.jpg
    caption: "McKenzie Adams #13 of LOVB Atlanta serves the ball against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_456.jpg
    caption: "Gong Xiangyu #6 of LOVB Madison spikes the ball while defended by Julia Sangiacomo #22, Tia Jimerson #14 and Ivonee Montaño #18 of LOVB Atlantaduring the LOVB Volleyball match between LOVB Madison and LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_459.jpg
    caption: "Piyanut Pannoy #2 of LOVB Atlanta celebrate a win against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_465.jpg
    caption: "Fans hold signs for Lauren Carlini #7 of LOVB Madison and Claire Chaussee #9 of LOVB Madison after the LOVB Volleyball match between LOVB Madison and LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_467.jpg
    caption: "Rebekah Allick #5 of LOVB Madison signs autographs after the match against LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_471.jpg
    caption: "Tia Jimerson #14 and Rachel Fairbanks #10 of LOVB Atlanta block a hit by Indrė Sorokaitė #1 of LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_485.jpg
    caption: "Rebekah Allick #5 of LOVB Madison shakes hands after losing in 5 sets to LOVB Atlanta at the Alliant Energy Center on April 2, 2026 in Madison, WI."
  - filename: 032126_MAD_ATL_RH_493.jpg
    caption: "LOVB Atlanta celebrates the win against LOVB Madison at the Alliant Energy Center on April 2, 2026 in Madison, WI."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>