---
title: "2026 NCAA Division III Track & Field Championships - Day 1"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried/Stockton Photo"
layout: blog-posts
type: sports
date: 2026-05-21 08:30:35
permalink: /sports/track/ncaa-diii-day-1/
slug:
tags:
  - NCAA
  - DIII
  - Track & Field
  - Track
  - La Crosse
excerpt:
image: /sports/images/2026/20260521-diii-day-1/20260521-diii-day-1-107.jpg
gallery-base: "/sports/images/2026/20260521-diii-day-1/"
gallery-images:
  - filename: 20260521-diii-day-1-010.jpg
    caption: "Caleb Smith of George Fox University leaps through the air during the long jump event of the decathalon during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-011.jpg
    caption: "Gavin Smith of Central College lands in the sand pit during the long jump event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-013.jpg
    caption: "Caleb Smith of Middlebury College jumps through the air during the long jump event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-015.jpg
    caption: "Gabe Giannini of SUNY Brockport leaps through the air during a long jump event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-021.jpg
    caption: "Cavan Dobberstein of The University of Wisconsin Oshkosh lands in the sand pit during the long jump event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-029.jpg
    caption: "A pole vaulter holds a pole during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-035.jpg
    caption: "An athlete clears the bar during the pole vault event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-036.jpg
    caption: "A pole vaulter clears the crossbar during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-039.jpg
    caption: "A pole vaulter clears the bar during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-040.jpg
    caption: "A pole vaulter clears the bar during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-042.jpg
    caption: "A track and field athlete clears the bar during a pole vault event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-051.jpg
    caption: "Landon Wierenga of Augustana College throws a discus during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-056.jpg
    caption: "Gavin Fritsch of The University of Wisconsin Oshkosh throws a discus during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-060.jpg
    caption: "Ancil Alexander of UMass Dartnouth throws a discus during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-063.jpg
    caption: "Eddie Vu of Whitworth University throws a discus during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-070.jpg
    caption: "The 2026 NCAA Division III Men's Outdoor Track & Field Discus Throw Champion trophy sits on display at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-072.jpg
    caption: "Caleb Tenney of John Hopkins University and Tim Neumann of MIT lead the pack during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-073.jpg
    caption: "Runners sprint along the track during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-074.jpg
    caption: "Ryan Hagan of SUNY Geneseo runs in the middle of the pack during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-075.jpg
    caption: "Runners sprint during a race at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-076.jpg
    caption: "Ryan Hagan of SUNY Geneseo sprints along the track during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-077.jpg
    caption: "Jayden Zywicki of The University of Wisconsin La Crosse sprints during a race at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-079.jpg
    caption: "Dylan Doss eyes his trophy while wearing an All-American medal during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-080.jpg
    caption: "Tim Smith of SUNY Brockport sprints down the track during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-082.jpg
    caption: "Serena McNeilly of Centre College leaps through the air during the long jump event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-083.jpg
    caption: "A runner places a hand on the track surface at the starting line during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-085.jpg
    caption: "Runners sprint along the track during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-089.jpg
    caption: "An athlete pushes off starting blocks with light blue track spikes at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-094.jpg
    caption: "Annabelle Lanik of Trinity University leaps through the air during the long jump event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-101.jpg
    caption: "A long jumper lands in the sand pit during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-102.jpg
    caption: "Chloe Hein of Centre College lands in the sand pit after a long jump attempt during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-103.jpg
    caption: "Runners splash through a water hazard during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-107.jpg
    caption: "Runners jump over a water hurdle during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-111.jpg
    caption: "McKenzie Kruse of The University of Wisconsin Eau Claire holds a baton while sprinting during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-120.jpg
    caption: "Layla Hughes of Loras College sprints during a relay event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-122.jpg
    caption: "Blake Postler of The University of Wisconsin Eau Claire runs with a baton during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-124.jpg
    caption: "Runners sprint along the track during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-126.jpg
    caption: "Sam Belmont of SUNY Geneseo looks back at runners during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-130.jpg
    caption: "A security officer walks down the stairs of the grandstand at Roger Harring Stadium at Veterans Memorial Field Sports Complex during the 2026 NCAA Division III Track & Field Championships in La Crosse, Wisconsin on May 21, 2026."
  - filename: 20260521-diii-day-1-135.jpg
    caption: "Chloe Hein of Centre College holds a long jump sign and a trophy while smiling on the podium during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 21, 2026."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>