---
title: Monster Truck Show at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2026-07-18 08:35:35
slug:
tags:
- Monster Trucks
- Green County Fair
excerpt:
image: /sports/images/2026/20260718-monster-trucks/20260718-gfc-night-four-042.jpg
gallery-base: /sports/images/2026/20260718-monster-trucks/
gallery-images:
  - filename: 20260718-gfc-night-four-008.jpg
    caption: "Passengers ride in the back of a monster truck during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-013.jpg
    caption: "A monster truck carrying passengers drives across the field during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-015.jpg
    caption: "Passengers ride in the back of a monster truck as it kicks up dust at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-026.jpg
    caption: "The Higher Education monster truck jumps over a crushed car during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-030.jpg
    caption: "A monster truck crushes a car during a performance at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-031.jpg
    caption: "A monster truck jumps over a row of crushed vehicles during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-037.jpg
    caption: "The Overkill Evolution monster truck jumps over a dirt mound during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-040.jpg
    caption: "The Overkill Evolution monster truck performs a wheelie over a dirt mound during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-042.jpg
    caption: "The Overkill Evolution monster truck drives across the dirt track during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-047.jpg
    caption: "The Overkill Evolution monster truck crushes a car during a show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-051.jpg
    caption: "A driver maneuvers a monster truck across the dirt track during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-052.jpg
    caption: "The Higher Education monster truck crushes two cars during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-058.jpg
    caption: "A blue monster truck drives across the dirt track during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-059.jpg
    caption: "A monster truck drives across a dirt track during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-063.jpg
    caption: "A monster truck drives across the dirt track during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-071.jpg
    caption: "A monster truck styled as a school bus jumps over a dirt mound during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-074.jpg
    caption: "A monster truck jumps over a dirt mound during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-080.jpg
    caption: "A monster truck jumps over a dirt mound during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-088.jpg
    caption: "A monster truck jumps over a dirt ramp during the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-089.jpg
    caption: "A monster truck drives gets stuck on the guardrail of the track as spectators walk nearby at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-091.jpg
    caption: "Crew members stand near a monster truck stuck on a guardrail at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-night-four-095.jpg
    caption: "Fluid drips from a mechanical joint and chain assembly on a vehicle at the Monster Truck Show at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."



---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>