---
title: "2026 NCAA Division III Track & Field Championships - Day 3"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried/Stockton Photo"
layout: blog-posts
type: sports
date: 2026-05-23 08:30:35
permalink: /sports/track/ncaa-diii-day-3/
slug:
tags:
  - NCAA
  - DIII
  - Track & Field
  - Track
  - La Crosse
excerpt:
image: /sports/images/2026/20260523-diii-day-3/20260523-diii-day3-097.jpg
gallery-base: "/sports/images/2026/20260523-diii-day-3/"
gallery-images:
  - filename: 20260523-diii-day3-006.jpg
    caption: "An athlete throws a javelin during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-009.jpg
    caption: "An athlete wearing a Fitchburg State jersey prepares to throw a discus during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-016.jpg
    caption: "An athlete throws a javelin during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-020.jpg
    caption: "A pole vaulter lifts himself into the air while clearing the bar during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-023.jpg
    caption: "Sam Knox of The University of Wisconsin-Stout raises his arms in celebration after clearing the bar during the pole vaulting event at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-026.jpg
    caption: "A track athlete holds a relay baton during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-028.jpg
    caption: "Londyn Little of The University of Wisconsin-Oshkosh celebrates with arms raised after a relay during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-031.jpg
    caption: "Runners clear hurdles during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-032.jpg
    caption: "An athlete throws a javelin during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-034.jpg
    caption: "Two officials stand on the field while holding equipment during a rain shower at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-035.jpg
    caption: "An official walks across the field carrying a measuring tool during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-037.jpg
    caption: "Spectators wearing rain gear photograph and watch the events during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-039.jpg
    caption: "An athlete holds a trophy aloft while wearing a medal during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-042.jpg
    caption: "An athlete wipes tears from her eyes while holding an NCAA trophy alongside a coach who holds a 400 hurdles championship sign during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-044.jpg
    caption: "An athlete holds a trophy and sticks his tongue out while standing on a podium during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-054.jpg
    caption: "Two athletes celebrate with medals and trophies on the podium during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-055.jpg
    caption: "Two athletes hold trophies and wear medals during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-056.jpg
    caption: "A group of people pose for a photograph with an award at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-057.jpg
    caption: "Nathan Tassey celebrates after winning the 5000m race at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-059.jpg
    caption: "Nathan Tassey celebrates after winning the 5000m race at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-064.jpg
    caption: "Nathan Tassey celebrates after winning the 5000m race at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-070.jpg
    caption: "An athlete holds a trophy above her head while celebrating on the podium during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-075.jpg
    caption: "A track athlete holds a blue relay baton during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-078.jpg
    caption: "A female athlete runs on the track during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-080.jpg
    caption: "Spectators cheer and applaud from the bleachers during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-083.jpg
    caption: "Nathaniel Gardner of Middlebury runs a relay during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-086.jpg
    caption: "An athlete crouches on a podium while holding a trophy during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-089.jpg
    caption: "Four 2026 NCAA Division III 4x100 Meter Relay Champion trophies sit on a first-place podium at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-091.jpg
    caption: "The University of Wisconsin-Oshkosh 4x100 team pose on the first-place podium holding trophies during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-092.jpg
    caption: "Spectators cheer and hold a sign that reads Shut Up and Drive in the stands at Roger Harring Stadium at Veterans Memorial Field Sports Complex during the 2026 NCAA Division III Track & Field Championships in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-095.jpg
    caption: "The University of Wisconsin-La Crosse women’s 4x400 team pose for a photograph with trophies at the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-097.jpg
    caption: "The University of Wisconsin-La Crosse celebrate first place by lifting a championship trophy during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-100.jpg
    caption: "The University of Wisconsin-La Crosse celebrate first place by lifting a championship trophy during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."
  - filename: 20260523-diii-day3-103.jpg
    caption: "The University of Wisconsin-La Crosse celebrate first place during the 2026 NCAA Division III Track & Field Championships at Roger Harring Stadium at Veterans Memorial Field Sports Complex in La Crosse, Wisconsin on May 23, 2026."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>