---
title: "Wisconsin Badgers vs. Minnesota Golden Gophers"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-01-28 08:30:35
permalink: /sports/basketball/minnesota-at-wisconsin-2026/
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Minnesota Golden Gophers
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2026/20260128-wisconsin-minnesota/20260128-wisconsin-minnesota-061.jpg
gallery-base: "/sports/images/2026/20260128-wisconsin-minnesota/"
gallery-images:
  - filename: 20260128-wisconsin-minnesota-001.jpg
    caption: "The Wisconsin Badgers dance team dances before the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-002.jpg
    caption: "The Wisconsin Badgers dance team dances before the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-005.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers watches the scoreboard screen before the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-006.jpg
    caption: "Aleksas Bieliauskas #32, John Blackwell #25 and Nolan Winter #31 of the Wisconsin Badgers wait to be announced before taking on the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-008.jpg
    caption: "Wisconsin Badgers head coach Greg Gard looks at John Blackwell #25 of the Wisconsin Badgers before playing the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-010.jpg
    caption: "The Wisconsin Badger student section throws confetti after the first basket of the night as the Wisconsin Badgers play the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-011.jpg
    caption: "Bobby Durkin #3 of the Minnesota Golden Gophers looks at the hoop while defended by Nolan Winter #31 and John Blackwell #25 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-012.jpg
    caption: "Wisconsin Badgers head coach Greg Gard holds a basketball after it went out of bounds during the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-013.jpg
    caption: "Jaylen Crocker-Johnson #5 of the Minnesota Golden Gophers is fouled by Jack Janicki #5 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-014.jpg
    caption: "Jack Janicki #5 of the Wisconsin Badgers attempts to rebound over Langston Reynolds #6 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-016.jpg
    caption: "Langston Reynolds #6 of the Minnesota Golden Gophers attempts a shot over Hayden Jones #13 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-017.jpg
    caption: "Langston Reynolds #6 of the Minnesota Golden Gophers passes the ball during the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-018.jpg
    caption: "Langston Reynolds #6 of the Minnesota Golden Gophers is fouled by Austin Rapp #22 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-019.jpg
    caption: "Wisconsin Badgers head coach Greg Gard talks to his team during a timeout against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-020.jpg
    caption: "Nolan Winter #31, Hayden Jones #13 and John Blackwell #25 of the Wisconsin Badgers watch the hoop as a free throw is attempted in the first half against The Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-021.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers attempts a shot over Jaylen Crocker-Johnson #5 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-023.jpg
    caption: "Langston Reynolds #6 of the Minnesota Golden Gophers dribbles the ball between his legs against The Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-024.jpg
    caption: "Bobby Durkin #3 of the Minnesota Golden Gophers looks to pass while being defended by Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-027.jpg
    caption: "Braeden Carrington #0 of the Wisconsin Badgers and Bobby Durkin #3 of the Minnesota Golden Gophers dive after a loose ball at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-028.jpg
    caption: "Jaylen Crocker-Johnson #5 of the Minnesota Golden Gophers attempts a shot over Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-029.jpg
    caption: "Minnesota Golden Gophers head coach Niko Medved talks to his bench during the college basketball game against The Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-030.jpg
    caption: "Langston Reynolds #6 of the Minnesota Golden Gophers attempts a layup while being defended by Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-032.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers drives the lane against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-034.jpg
    caption: "Bobby Durkin #3 of the Minnesota Golden Gophers looks to pass while being defended by Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-036.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers scratches his head during a timeout against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-037.jpg
    caption: "Jack Janicki #5 and John Blackwell #25 of the Wisconsin Badgers attempt to grab a rebound away from Bobby Durkin #3 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-039.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates after hitting a three-pointer against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-042.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers attempts a layup while defended by Bobby Durkin #3 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-043.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers reacts in the second half against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-044.jpg
    caption: "Wisconsin Badgers fans wave foam pool noodles and hold up cardboard 'fathead' cutouts to distract Minnesota Golden Gophers players during the second half at the Kohl Center on January 28, 2026, in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-045.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives to the hoop while defended by Kai Shinholster #9 of the Minnesota Golden Gophers  at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-047.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives to the hoop while defended by Kai Shinholster #9 of the Minnesota Golden Gophers  at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-048.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives to the hoop while defended by Kai Shinholster #9 of the Minnesota Golden Gophers  at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-050.jpg
    caption: "Kai Shinholster #9 of the Minnesota Golden Gophers and Nick Boyd #2 of the Wisconsin Badgers both get technical fouls in the second half at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-051.jpg
    caption: "John Blackwell #25, Nick Boyd #2, Braeden Carrington #0  and Nolan Winter #31 of the Wisconsin Badgers react after a technical against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-052.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers heads to the bench against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-056.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers reacts after a shot attempt against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-058.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers shoots a three-pointer over Langston Reynolds #6 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-060.jpg
    caption: "Grayson Grove #2 of the Minnesota Golden Gophers attempts a free throw against The Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-061.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a layup while being defend by Isaac Asuma, Grayson Grove #2 and Bobby Durkin #3 of the Minnesota Golden Gophers  at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-062.jpg
    caption: "Nick Boyd #2, Braeden Carrington #0 and John Blackwell #25 of the Wisconsin Badgers celebrate after a play against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-064.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates after a play against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-065.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates after a play against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-066.jpg
    caption: "Braeden Carrington #0 of the Wisconsin Badgers is fouled while making a three-pointer against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-067.jpg
    caption: "Braeden Carrington #0 of the Wisconsin Badgers is fouled while making a three-pointer against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-068.jpg
    caption: "Minnesota Golden Gophers head coach Niko Medved talks to an official during a college basketball game against The Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-069.jpg
    caption: "Minnesota Golden Gophers head coach Niko Medved talks to an official during a college basketball game against The Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-070.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers shoots a baseline floater against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-071.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates during the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-072.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives to the basket while being defended by Langston Reynolds #6 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-073.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers is fouled by Langston Reynolds #6 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-075.jpg
    caption: "Braeden Carrington #0 of the Wisconsin Badgers talks to Wisconsin Badgers head coach Greg Gard during the college basketball game against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-077.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers drives to the basket while being defended by Isaac Asuma #1 of the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-078.jpg
    caption: "Wisconsin Badgers head coach Greg Gard looks to the scoreboard during the college basketball game against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-079.jpg
    caption: "Wisconsin Badgers head coach Greg Gard reacts after a play against the The Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-080.jpg
    caption: "A member of the Wisconsin Badger Dance Team performs during the college basketball game between the Wisconsin Badgers and the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-083.jpg
    caption: "Minnesota Golden Gophers head coach Niko Medved reacts to a play against The Wisconsin Badgers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-084.jpg
    caption: "Wisconsin Badgers head coach Greg Gard looks at the scoreboard against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-085.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers reacts after hitting a three-pointer late in the second half against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-086.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers reacts after hitting a three-pointer late in the second half against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-090.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers reacts to a win against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."
  - filename: 20260128-wisconsin-minnesota-091.jpg
    caption: "Braeden Carrington #0 of the Wisconsin Badgers reacts to a win against the Minnesota Golden Gophers at the Kohl Center on January 28, 2026 in Madison, Wisconsin."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>