---
title: CC Bucking Bulls Rodeo at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2026-07-15 08:30:35
slug:
tags:
- rodeo
- Green County Fair
- Bulls
- Horses
- Cowboy
excerpt:
image: /sports/images/2026/20260715-cc-bucking-bulls/20260715-gcf-night-one-037.jpg
gallery-base: /sports/images/2026/20260715-cc-bucking-bulls/
gallery-images:
  - filename: 20260715-gcf-night-one-001.jpg
    caption: "A young boy walks along a path at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-016.jpg
    caption: "A rider carries an American flag on horseback during the opening ceremonies of the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-017.jpg
    caption: "Spectators cheer from the grandstands during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-018.jpg
    caption: "A rider carries an American flag on horseback during opening ceremonies at the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-021.jpg
    caption: "A cowboy rides a bucking horse during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-023.jpg
    caption: "Cowboys walk through the arena at the CC Bucking Bulls Full Rodeo during the opening night of the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-028.jpg
    caption: "A cowgirl swings a lasso while riding a horse toward a calf during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-031.jpg
    caption: "A rider swings a lasso while mounted on a horse during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-037.jpg
    caption: "A steer wrestler leaps from his horse to grapple a steer during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-039.jpg
    caption: "A steer wrestler leaps from his horse to grab a steer during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-049.jpg
    caption: "A rodeo clown and participants celebrate in the arena during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-050.jpg
    caption: "A cowboy on horseback prepares to throw a lasso at a calf during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-055.jpg
    caption: "A cowboy on horseback swings a lasso toward a calf during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-057.jpg
    caption: "A cowboy wrestles a calf to the ground during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-062.jpg
    caption: "A cowboy on horseback ropes a calf during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-064.jpg
    caption: "A cowboy ropes a calf while riding a horse during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-071.jpg
    caption: "A rodeo clown claps his hands while wearing face paint and a cowboy hat during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-072.jpg
    caption: "A bucking bull leaps against a metal fence in front of spectators during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-074.jpg
    caption: "A cowboy prepares to throw a lasso at a calf during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-081.jpg
    caption: "A cowboy ropes a calf during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-084.jpg
    caption: "Spectators watch the rodeo from behind a metal fence at the Green County Fairgrounds during the CC Bucking Bulls Full Rodeo at the Green County Fair in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-089.jpg
    caption: "A rider maneuvers a horse around a barrel during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-097.jpg
    caption: "A barrel racer rides a horse past a barrel during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-100.jpg
    caption: "A rider on horseback circles a barrel during a rodeo event at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-106.jpg
    caption: "A bull rider wearing a protective helmet and vest climbs over a metal fence at the Green County Fairgrounds during the CC Bucking Bulls Full Rodeo in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-108.jpg
    caption: "A bull rider holds onto a bucking bull during the CC Bucking Bulls rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-111.jpg
    caption: "A bull rider holds onto a bucking bull during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-116.jpg
    caption: "A bull rider dismounts from a bucking bull during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-119.jpg
    caption: "Rodeo clowns move to distract a bucking bull after a rider is thrown to the dirt during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-122.jpg
    caption: "A bull rider is thrown from a bucking bull during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-127.jpg
    caption: "A bull rider holds onto a bucking bull during the CC Bucking Bulls Full Rodeo at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."
  - filename: 20260715-gcf-night-one-128.jpg
    caption: "A cowboy adjusts his hat while walking past holding pens at the CC Bucking Bulls Full Rodeo during the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 15, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>