---
title: "Wisconsin Badgers vs. Eastenr Michigan Eagles"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/football/eastern-michigan-vs-wisconsin-2026/
layout: blog-posts
type: sports
date: 2026-09-19 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Eastern Michigan Eagles
  - Football
  - Big Ten
excerpt:
image: /sports/images/2026/20260919-wisconsin-eastern-michigan/20260919-wis-emu-084.jpg
gallery-base: "/sports/images/2026/20260919-wisconsin-eastern-michigan/"
gallery-images:
  - filename: 20260919-wis-emu-004.jpg
    caption: "Eugene Hilton Jr. #13 of the Wisconsin Badgers looks toward the field during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-005.jpg
    caption: "Tyrell Henry #0 of the Wisconsin Badgers celebrates a first down against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-011.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers throws the ball during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-014.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers carries the football while being tackled by a defender from the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-016.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers carries the football while stiff-arming a defender from the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-026.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers runs with the football past Jordan Toney #7 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-033.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers celebrates a touchdown against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-035.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers throws the ball during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-037.jpg
    caption: "Jacob Harris #89 of the Wisconsin Badgers catches the football while defended by Jason Marshall #13 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-040.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers dives into the end zone for a touchdown against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-044.jpg
    caption: "Abu Sama III #3 and Darrion Dupree #6 of the Wisconsin Badgers celebrate a touchdown against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-047.jpg
    caption: "Matthew Jung #29 of the Wisconsin Badgers celebrates a defensive stop with teammate Hammond Russell IV #91 during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-049.jpg
    caption: "Matthew Jung #29 of the Wisconsin Badgers leaps to intercept a pass over Joshua Long #9 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-053.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers throws the ball during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-055.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers throws the ball under pressure from Rayquan Adkins #25 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-057.jpg
    caption: "Sebastian Cheeks #15 of the Wisconsin Badgers sacks Noah Kim #1 of the Eastern Michigan Eagles during the game at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-059.jpg
    caption: "Cooper Catalano #44 of the Wisconsin Badgers chases down a loose football during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-060.jpg
    caption: "Cooper Catalano #44 of the Wisconsin Badgers secures the football while running upfield during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-063.jpg
    caption: "Cooper Catalano #44 and Mason Posa #8 of the Wisconsin Badgers celebrate a defensive touchdown against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-065.jpg
    caption: "Tyrell Henry #0 of the Wisconsin Badgers lunges forward while being tackled by Eastern Michigan Eagles defenders at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-070.jpg
    caption: "Sean West #91 and Gavin Lahm #97 of the Wisconsin Badgers celebrate a successful field goal against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-072.jpg
    caption: "Harrison Bortolotti #32 of the Wisconsin Badgers tackles Benson Prosper #3 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-074.jpg
    caption: "Wisconsin Badgers fans cheer from the stands at Camp Randall Stadium during the game against the Eastern Michigan Eagles in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-075.jpg
    caption: "Bucky Badger cheers for the crowd during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-076.jpg
    caption: "Eric Fletcher Jr. #1 of the Wisconsin Badgers runs with the football after an interception during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026. The play was called back for defensive offsides."
  - filename: 20260919-wis-emu-079.jpg
    caption: "Jacob Anderson #95 of the Wisconsin Badgers chases Noah Kim #1 of the Eastern Michigan Eagles during the game at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-080.jpg
    caption: "Wisconsin Badgers fans hold a football and an Irish flag in the stands at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-081.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers carries the football during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-084.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers signals a firstdown during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-085.jpg
    caption: "Emmett Bork #82 of the Wisconsin Badgers celebrates with teammates after a touchdown against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu-086.jpg
    caption: "Nicolas Clayton #12 of the Wisconsin Badgers pursues Benson Prosper #3 of the Eastern Michigan Eagles during the game at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-013.jpg
    caption: "Bucky Badger runs onto the field during pregame festivities before the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-026.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell before the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-030.jpg
    caption: "Hammond Russell IV #91 of the Wisconsin Badgers kneels on the field during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-031.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers looks to pass the football during the game against the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-032.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers runs with the football while evading a tackle attempt by Jordan Toney #7 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-033.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers carries the football while evading a tackle attempt by Jordan Toney #7 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."
  - filename: 20260919-wis-emu2-034.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers runs with the football while evading a tackle attempt by Jordan Toney #7 of the Eastern Michigan Eagles at Camp Randall Stadium in Madison, Wisconsin on September 19, 2026."



---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>