---
title: "2026 American Family Insurance Championship - Day 2"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried/ISI Photos"
layout: blog-posts
type: sports
date: 2026-06-06 08:30:35
permalink: /sports/golf/2026-amfam-day2/
slug:
tags:
  - PGA
  - American Family Insurance Championship
  - AmFam
  - Golf
excerpt:
image: /sports/images/2026/20260606-amfam-day2/PGARAH060626240.jpg
gallery-base: "/sports/images/2026/20260606-amfam-day2/"

gallery-images:
  - filename: PGARAH060626106.jpg
    caption: "Miguel Ángel Jiménez smokes a cigar while holding a scorecard on the 10th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626144.jpg
    caption: "Paul Goydos crouches on the green to read a putt on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626175.jpg
    caption: "Ernie Els hits a golf ball out of the rough on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626182.jpg
    caption: "Tommy Gainey hits a shot on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626208.jpg
    caption: "Tag Ridings gestures with his hand while on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626216.jpg
    caption: "Doug Barron looks toward the green after hitting his shot on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626225.jpg
    caption: "John Daly hits a golf ball from the rough on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626240.jpg
    caption: "John Daly gestures while holding a putter as he reads the green on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626256.jpg
    caption: "Ken Tanigawa and Mike Weir fist bump on the course during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626262.jpg
    caption: "Ken Tanigawa and Mike Weir point in opposite directions near hole ten during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626284.jpg
    caption: "Steve Stricker reacts to a chip shot on the tenth hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626303.jpg
    caption: "Chad Campbell hits a bunker shot from the sand on the tenth hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626307.jpg
    caption: "Rod Pampling hits a golf ball out of a sand bunker on hole ten during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626324.jpg
    caption: "Tom Pernice Jr. reads the green on hole ten during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626334.jpg
    caption: "Jerry Kelly crouches to read the line of his putt on the tenth hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626349.jpg
    caption: "Bernhard Langer walks on the green toward hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626361.jpg
    caption: "Mark Hensby follows through on a golf swing on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626365.jpg
    caption: "Greg Chalmers hits a golf ball from the fairway on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626404.jpg
    caption: "Freddie Jacobson crouches to read the green on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626435.jpg
    caption: "Brian Gay follows through on a drive from the second hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626491.jpg
    caption: "Steve Stricker walks across the course near hole 15 during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626514.jpg
    caption: "Steve Stricker swings his golf club on the 16th hole as a volunteer holds up orange paddles to signal silence to the gallery during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626517.jpg
    caption: "Spectators watch the golf tournament from the gallery near the 15th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626522.jpg
    caption: "Jordan Love speaks into a microphone during a press conference during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626528.jpg
    caption: "Jordan Love speaks into a microphone during a press conference during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626535.jpg
    caption: "Spectators stand near the American Family Insurance Championship signage during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626546.jpg
    caption: "John Daly and Michael Allen ride in a golf cart along the course during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626559.jpg
    caption: "Stewart Cink and Zach Johnson walk on the 14th green during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626563.jpg
    caption: "Stewart Cink and Zach Johnson walk across a bridge while moving from the 14th hole to the 15th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626591.jpg
    caption: "John Daly swings his golf club on the 16th hole as spectators watch from the stands during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>