---
title: Demolition Derby at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2026-07-19 08:35:35
slug:
tags:
- Demolition Derby
- Green County Fair
excerpt:
image: /sports/images/2026/20260719-demo-derby/20260719-demo-derby-021.jpg
gallery-base: /sports/images/2026/20260719-demo-derby/
gallery-images:
  - filename: 20260719-demo-derby-003.jpg
    caption: "Children drive toy vehicles during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-006.jpg
    caption: "A driver maneuvers a damaged vehicle through the mud during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-009.jpg
    caption: "A driver in a black car marked with number 44 collides with a red car during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-016.jpg
    caption: "A driver maneuvers a damaged car marked with the number 44 across the dirt track during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-018.jpg
    caption: "A driver in a modified sedan marked with number 44 collides with another vehicle during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-021.jpg
    caption: "A driver maneuvers a heavily damaged vehicle emitting smoke during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-022.jpg
    caption: "A car marked with the number 36 collides with other vehicles during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-026.jpg
    caption: "Two modified vehicles collide during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-031.jpg
    caption: "A driver exits a heavily damaged vehicle during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-034.jpg
    caption: "Drivers shake hands after one of the heats during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-036.jpg
    caption: "A heavy machine lifts a damaged car featuring a stuffed animal in the window during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-046.jpg
    caption: "Two vehicles collide and kick up dirt during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-053.jpg
    caption: "A modified car numbered 219 collides with another vehicle during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-055.jpg
    caption: "Damaged vehicles collide during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-058.jpg
    caption: "Spectators shield themselve from fyling mud as they watch the demolition derby from the grandstands at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-061.jpg
    caption: "Heavily damaged vehicles collide in the dirt arena during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-062.jpg
    caption: "Drivers collide in their modified vehicles during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-064.jpg
    caption: "A driver stands on top of a damaged car and raises a fist in celebration during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-066.jpg
    caption: "A crew member rolls a tire across the dirt track during the Demolition Derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-072.jpg
    caption: "A heavily damaged car collides with another vehicle during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-077.jpg
    caption: "Two vehicles collide during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."
  - filename: 20260719-demo-derby-079.jpg
    caption: "Drivers collide their vehicles during a demolition derby at the Green County Fairgrounds in Monroe, Wisconsin on July 19, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>