---
title: "2026 American Family Insurance Championship - Day 3"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried/ISI Photos"
layout: blog-posts
type: sports
date: 2026-06-07 08:30:35
permalink: /sports/golf/2026-amfam-day3/
slug:
tags:
  - PGA
  - American Family Insurance Championship
  - AmFam
  - Golf
excerpt:
image: /sports/images/2026/20260607-amfam-day3/PGARAH060726513.jpg
gallery-base: "/sports/images/2026/20260607-amfam-day3/"


gallery-images:
  - filename: PGARAH060726107.jpg
    caption: "John Daly drives a golf cart near hole one during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726109.jpg
    caption: "John Daly putts on the first hole during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726112.jpg
    caption: "Matt Gogel marks his golf ball on the green at hole ten during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726114.jpg
    caption: "David Duval follows through on a shot at hole 11 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726117.jpg
    caption: "Mario Tiziani follows through on a tee shot on hole 11 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726118.jpg
    caption: "Steve Stricker follows through on a tee shot on hole 11 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726121.jpg
    caption: "Steve Stricker and Mario Tiziani point with their putters while reading the green on hole 11 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726122.jpg
    caption: "Steve Stricker stands on the green with his caddie Bobbi Stricker at hole 11 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726123.jpg
    caption: "Spectators sit in chairs and watch the tournament with binoculars near hole 12 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726125.jpg
    caption: "David Duval follows through on a swing at hole 12 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726127.jpg
    caption: "David Duval watches the course at hole 12, with the fairway and a caddie reflected in his sunglasses during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726129.jpg
    caption: "Steve Stricker follows through on a shot at hole 12 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726132.jpg
    caption: "Scott McCarron hits a golf ball out of a sand bunker on hole ten during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726136.jpg
    caption: "Jason Caron reacts to a missed putt on hole one during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726139.jpg
    caption: "Greg Chalmers addresses a golf ball with a driver on hole two during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726140.jpg
    caption: "Greg Chalmers hits a golf ball off a tee on hole two during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726142.jpg
    caption: "Cameron Percy hits a golf ball from the rough on hole two during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726151.jpg
    caption: "Bobbi Stricker walks along the course carrying a golf bag while caddying for Steve Stricker at hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726161.jpg
    caption: "Retief Goosen hits a shot from the rough on hole one during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726179.jpg
    caption: "Steve Stricker and Mario Tiziani walk along the fairway near hole ten during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726189.jpg
    caption: "David Duval hits a bunker shot from the sand on hole 11 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726215.jpg
    caption: "Ben Crane watches his shot on hole two during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726230.jpg
    caption: "A flag featuring the American Family Insurance Championship logo waves in the wind at hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726257.jpg
    caption: "Michael Allen leans against a metal railing while holding a golf club near the 16th hole during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726261.jpg
    caption: "Spectators sit in the grandstand beneath a tent featuring the American Family Insurance Championship logo during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726303.jpg
    caption: "George McNeill walks with a golf club in his hand near a Canada goose on hole 15 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726326.jpg
    caption: "Kenny Perry walks past a PGA Tour Champions logo during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726344.jpg
    caption: "Rory Sabbatini walks toward the 15th hole during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726354.jpg
    caption: "Ben Crane walks with his putter near the 15th hole during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726357.jpg
    caption: "Ben Crane and Darren Clarke share a fist bump on the 15th hole during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726372.jpg
    caption: "Brian Gay hits a golf ball out of a sand bunker on hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726380.jpg
    caption: "Tommy Gainey hits a bunker shot from the sand on hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726392.jpg
    caption: "Tommy Gainey follows through on a shot from a bunker on hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726418.jpg
    caption: "Darren Clarke hits a wedge shot on hole 18 as a cameraman records the action during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726436.jpg
    caption: "Darren Clarke and Ben Crane celebrate their win on hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726476.jpg
    caption: "Ben Crane waves his hat in celebration while holding a putter as Darren Clarke walks toward him on the 18th hole during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726485.jpg
    caption: "Ben Crane and Darren Clarke celebrate their win on hole 18 during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726488.jpg
    caption: "Darren Clarke and Ben Crane embrace on the green during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726513.jpg
    caption: "Darren Clarke and Ben Crane embrace behind the championship trophy during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."
  - filename: PGARAH060726516.jpg
    caption: "Ben Crane and Darren Clarke hold the championship trophy after the final round of the American Family Insurance Championship during the PGA Tour Champions American Family Insurance Championship Final Round at TPC Wisconsin on June 7, 2026 in Madison, Wisconsin."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>