---
title: "Wisconsin Badgers vs. Western Illinois Leatherbacks"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/football/western-illinois-vs-wisconsin-2026/
layout: blog-posts
type: sports
date: 2026-09-12 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Western Illinois Leatherbacks
  - Football
  - Big Ten
excerpt:
image: /sports/images/2026/20260912-wisconsin-western-illinois/20260912-wisconsin-western-illinois-096.jpg
gallery-base: "/sports/images/2026/20260912-wisconsin-western-illinois/"
gallery-images:
  - filename: 20260912-wisconsin-western-illinois-003.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell smiles while standing on the sidelines during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-004.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell watches the field from the sidelines during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-006.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell watches the game from the sideline against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-007.jpg
    caption: "Tyreese Fearbry #7 of the Wisconsin Badgers walks onto the field with head coach Luke Fickell before the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-008.jpg
    caption: "Tyreese Fearbry #7 of the Wisconsin Badgers walks onto the field alongside head coach Luke Fickell before the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-009.jpg
    caption: "Bucky Badger leads the team onto the field before the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-011.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers scores a touchdown during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-013.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers carries the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-014.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers carries the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-015.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers carries the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-016.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers carries the football while teammate Tyrell Henry #0 celebrates during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-017.jpg
    caption: "Abu Sama Iii #3 of the Wisconsin Badgers smiles on the field during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-018.jpg
    caption: "Sebastian Cheeks #15 of the Wisconsin Badgers celebrates a play with teammate Mason Posa #8 during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-019.jpg
    caption: "Mason Posa #8 of the Wisconsin Badgers celebrates a defensive stop with  teammate Mason Posa #8 of the Wisconsin Badgers during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-020.jpg
    caption: "Sebastian Cheeks #15 of the Wisconsin Badgers reaches for a pass during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-021.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers runs with the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-022.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers runs with the football against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-023.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers runs with the football against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-024.jpg
    caption: "Abu Sama Iii #3 of the Wisconsin Badgers runs with the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-026.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers throws the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-027.jpg
    caption: "Tyreese Fearbry #7 of the Wisconsin Badgers celebrates a defensive play during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-030.jpg
    caption: "Carson Van Dinter #11 of the Wisconsin Badgers reaches for a loose football as teammate Zion Kearney #12 follows the play during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-032.jpg
    caption: "Carson Van Dinter #11 of the Wisconsin Badgers reaches for a loose football after a blocked punt during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-035.jpg
    caption: "Carson Van Dinter #11 of the Wisconsin Badgers recovers a blocked punt and runs with the football for a touchdown during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-038.jpg
    caption: "Malachi Coleman #4 of the Wisconsin Badgers runs down the field during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-039.jpg
    caption: "Chris Brooks Jr #2 of the Wisconsin Badgers stand on the field and survey the defense during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-041.jpg
    caption: "Sean West #91 of the Wisconsin Badgers celebrate a successful field goal with teammates Gavin Lahm #97 and James Roe #56 during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-042.jpg
    caption: "Matthew Jung #29 of the Wisconsin Badgers tackles a Western Illinois Leathernecks ball carrier at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-046.jpg
    caption: "Tyrell Henry #0 of the Wisconsin Badgers runs with the football while pursued by Quenton Rogers #4 of the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-047.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell holds a play sheet and headset on the sidelines during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-048.jpg
    caption: "Tyreese Fearbry #7 of the Wisconsin Badgers sheds a block from James Durand #63 of the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-059.jpg
    caption: "A Western Illinois Leathernecks player exhales with moisture visible from his facemask during the game against the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-062.jpg
    caption: "Micheal Garner #51 of the Wisconsin Badgers snaps the football at the line of scrimmage against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-063.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers runs with the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-064.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers runs with the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-066.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers carries the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-068.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers celebrates a touchdown by being lifted by a teammate after scoring against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-070.jpg
    caption: "Cooper Catalano #44 of the Wisconsin Badgers stands on the field during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-072.jpg
    caption: "Thomas Heiberger #19 of the Wisconsin Badgers tackles Kennedy Mcgill #17 of the Western Illinois Leathernecks during the game at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-075.jpg
    caption: "Cooper Catalano #44 of the Wisconsin Badgers signals before the play during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-084.jpg
    caption: "Israel Hiraldo #3 of the Western Illinois Leathernecks evades a tackle by Thomas Heiberger #19 of the Wisconsin Badgers during the game at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-086.jpg
    caption: "Sebastian Cheeks #15 of the Wisconsin Badgers lines up at the line of scrimmage against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-087.jpg
    caption: "Cooper Catalano #44 of the Wisconsin Badgers lines up at the line of scrimmage against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-096.jpg
    caption: "Tyrell Henry #0 and Eugene Hilton Jr. #13 of the Wisconsin Badgers celebrate a first down during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-098.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers carries the football during the game against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-104.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers celebrates with the football after a play against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-108.jpg
    caption: "Javan Robinson #2 of the Wisconsin Badgers celebrates a touchdown against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-110.jpg
    caption: "Javan Robinson #2 of the Wisconsin Badgers celebrates a touchdown against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-111.jpg
    caption: "Javan Robinson #2 of the Wisconsin Badgers celebrates a touchdown against the Western Illinois Leathernecks at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."
  - filename: 20260912-wisconsin-western-illinois-114.jpg
    caption: "DeNigel Cooper #93 of the Wisconsin Badgers sheds a block from a Western Illinois Leathernecks lineman at Camp Randall Stadium in Madison, Wisconsin on September 12, 2026."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>