---
title: "Wisconsin Badgers vs. Michigan State Spartans"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/football/michigan-state-vs-wisconsin-2026/
layout: blog-posts
type: sports
date: 2026-10-03 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Michigan State Spartans
  - Football
  - Big Ten
excerpt:
image: /sports/images/2026/20261004-wisconsin-michigan-state/20261003-wisconsin-mich-st-069.jpg
gallery-base: "/sports/images/2026/20261004-wisconsin-michigan-state/"
gallery-images:
  - filename: 20261003-wisconsin-mich-st-009.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell leads his team onto the field before the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-021.jpg
    caption: "Juju Pope #20 of the Wisconsin Badgers looks up toward the sky during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-046.jpg
    caption: "Sparty, Michigan State University's mascot stands on the sidelines at Camp Randall Stadium during the game against the Wisconsin Badgers in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-062.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers carries the football during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-069.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers leaps over Michigan State Spartans defenders at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-104.jpg
    caption: "Darrion Dupree #6 of the Wisconsin Badgers carries the football through a crowd of Michigan State Spartans defenders at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-122.jpg
    caption: "Emmett Bork #82 of the Wisconsin Badgers catches a pass during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-132.jpg
    caption: "Tyrell Henry #0 of the Wisconsin Badgers stiff-arms Tre Bell #3 of the Michigan State Spartans while running with the football at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-137.jpg
    caption: "Tyrell Henry #0 of the Wisconsin Badgers celebrates after a play against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-142.jpg
    caption: "Michigan State Spartans head coach Pat Fitzgerald gestures from the sideline during the game against the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-198.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell runs onto the field before the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-215.jpg
    caption: "Michigan State Sparty cheers on the sidelines during the game against the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-225.jpg
    caption: "Nicolas Clayton #12 of the Wisconsin Badgers kneels on the field during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-237.jpg
    caption: "Barry Alvarez walks across the field before the game against Michigan State at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-254.jpg
    caption: "Javan Robinson #2 of the Wisconsin Badgers tackles Jayden Savoury #31 of the Michigan State Spartans during the game at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-257.jpg
    caption: "Javan Robinson #2 of the Wisconsin Badgers tackles Jayden Savoury #31 of the Michigan State Spartans during the game at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-309.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers carries the football while evading a Michigan State Spartans player at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-312.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers runs with the football during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-323.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers celebrates with teammate Colin Cubberly #78 after a scoring play during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-326.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers celebrates after a play against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-330.jpg
    caption: "Kenneth Williams #32 of the Michigan State Spartans is tackled by Matthew Traynor #13 of the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-331.jpg
    caption: "Kenneth Williams #32 of the Michigan State Spartans is tackled by Matthew Traynor #13 of the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-344.jpg
    caption: "Alessio Milivojevic #11 of the Michigan State Spartans throws a pass while defneded by Matthew Jung #29 of the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-366.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell argues a call with an official on the sideline during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-389.jpg
    caption: "Alessio Milivojevic #11 of the Michigan State Spartans throws the football while being tackled by Sebastian Cheeks #15 of the Wisconsin Badgers at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-406.jpg
    caption: "Malachi Coleman #4 of the Wisconsin Badgers celebrates a touchdown during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-425.jpg
    caption: "Thomas Heiberger #19 of the Wisconsin Badgers celebrates a sack during the game against the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-433.jpg
    caption: "Sebastian Cheeks #15 of the Wisconsin Badgers pressures Alessio Milivojevic #11 of the Michigan State Spartans at Camp Randall Stadium in Madison, Wisconsin on October 3, 2026."
  - filename: 20261003-wisconsin-mich-st-441.jpg
    caption: "A Wisconsin Badgers fan cheers from the stands at Camp Randall Stadium during the game against the Michigan State Spartans in Madison, Wisconsin on October 3, 2026."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>