---
title: "Wisconsin Heights/Barneveld vs Monroe Soccer"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/soccer/20260908-monroe-soccer/
layout: blog-posts
type: sports
date: 2026-09-08 08:30:35
slug:
tags:
  - WIAA
  - Monroe Cheesemakers
  - Wisconsin Heights/Barneveld Vanguards
  - Soccer

excerpt:
image: /sports/images/2026/20260908-monroe-soccer/20260908-monroe-soccer-wisconsin-heights-barneveld-034.jpg
gallery-base: "/sports/images/2026/20260908-monroe-soccer/"
gallery-images:
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-003.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers lies on the field after a play during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-004.jpg
    caption: "Nelson Lux-Garcia #25 of the Monroe Cheesemakers kicks the soccer ball during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-006.jpg
    caption: "Nelson Lux-Garcia #25 of the Monroe Cheesemakers kicks a soccer ball during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-009.jpg
    caption: "A Monroe Cheesemakers player looks up at the ball while defending during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-012.jpg
    caption: "Luis Macais-Zarate #22 of the Monroe Cheesemakers dribbles the ball on the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-015.jpg
    caption: "Cristo Fernandez-Sanchez #19 of the Monroe Cheesemakers dribbles the soccer ball during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-016.jpg
    caption: "A Monroe Cheesemakers player kicks the turf causing rubber pellets to fly during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-017.jpg
    caption: "Cristo Fernandez-Sanchez #19 of the Monroe Cheesemakers engages in a physical contest with an opposing player during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-019.jpg
    caption: "Cristo Fernandez-Sanchez #19 of the Monroe Cheesemakers dribbles the soccer ball down the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-027.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers dribbles the ball while shielding a defender during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-030.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers dribbles the soccer ball down the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-034.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers kicks the soccer ball during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-040.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers celebrates with arms outstretched during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-046.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers celebrates a goal with his teammates during the match against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-049.jpg
    caption: "Luis Macais-Zarate #22 of the Monroe Cheesemakers dribbles the soccer ball during the match against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-054.jpg
    caption: "Reece Mcintosh #18 of the Monroe Cheesemakers lies on the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-067.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers dribbles the ball while defended by Mathis Agee #17 of the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-070.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers kicks a soccer ball on the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-078.jpg
    caption: "Emiliano Torres Enriquez #21 of the Monroe Cheesemakers dribbles the soccer ball past Everett Heath #14 of the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-081.jpg
    caption: "Graysan Bartholf #11 of the Monroe Cheesemakers heads the soccer ball during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-088.jpg
    caption: "Cristo Fernandez-Sanchez #19 of the Monroe Cheesemakers dribbles the soccer ball on the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-092.jpg
    caption: "Sullivan Baker #2 of the Monroe Cheesemakers dribbles the ball on the field during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-094.jpg
    caption: "River Lubchansky #11 of the Wisconsin Heights/Barneveld Vanguards heads the ball in front of the goal during the game against the Monroe Cheesemakers at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-102.jpg
    caption: "River Lubchansky #11 of the Wisconsin Heights/Barneveld Vanguards celebrates a goal against the Monroe Cheesemakers at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-109.jpg
    caption: "Sullivan Baker #2 of the Monroe Cheesemakers heads the ball while challenging Everett Heath #14 of the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-113.jpg
    caption: "Barrett Brändli #9 of the Monroe Cheesemakers looks up at the ball during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."
  - filename: 20260908-monroe-soccer-wisconsin-heights-barneveld-119.jpg
    caption: "Reece Mcintosh #18 of the Monroe Cheesemakers stands on the field and talks to a teammate during the game against the Wisconsin Heights/Barneveld Vanguards at Monroe High School in Monroe, Wisconsin on September 8, 2026."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>