---
title: Monroe Cheesemakers vs. Oregon Panthers
author: ROSS HARRIED
photographer: ROSS HARRIED for Second Crop Creative
layout: blog-posts
type: sports
date: 2026-08-28 08:30:35
permalink: /sports/football/high-school/monroe-oregon-2026-08-28/
slug:
tags:
- Football
- High School
- WIAA

excerpt:
image: /sports/images/2026/20260828-monroe-oregon/20260828-monroe-oregon-202.jpg
gallery-base: /sports/images/2026/20260828-monroe-oregon/

gallery-images:
  - filename: 20260828-monroe-oregon-037.jpg
    caption: "Tristen Anderson #32 of the Monroe Cheesemakers carries the football while facing the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-039.jpg
    caption: "Tristen Anderson #32 of the Monroe Cheesemakers carries the football while being tackled by an Oregon Panthers defender at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-044.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers throws a football as teammate Sky Steinmann #51 looks on against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-045.jpg
    caption: "Joah Wellman #80 of the Monroe Cheesemakers takes a hit from an Oregon Panthers player at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-047.jpg
    caption: "Easton Wilk #84 of the Oregon Panthers of the Oregon Panthers reaches for a pass during the game against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-051.jpg
    caption: "Ryan Roelli #9 and Jake Martin #25 of the Monroe Cheesemakers review game footage on a tablet with their coach on the sidelines against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-061.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers walks across the field during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-064.jpg
    caption: "Monroe Cheesemaker fans cheer from the stands during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-065.jpg
    caption: "Monroe Cheesemaker fans cheer from the stands during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-066.jpg
    caption: "Fans of the Monroe Cheesemakers cheer from the stands during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-067.jpg
    caption: "The Oregon Panthers gather on the sideline  during the game against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-069.jpg
    caption: "Joah Wellman #80 of the Monroe Cheesemakers pursues the ball carrier during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-070.jpg
    caption: "Jake Martin #25 of the Monroe Cheesemakers tackles an Oregon Panthers player at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-073.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers wipes sweat from his face during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-083.jpg
    caption: "Tristan Anderson #32 of the Monroe Cheesemakers carries the football while being tackled by Declan Lawry #5 of the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-086.jpg
    caption: "Gage Jelle #11 of the Monroe Cheesemakers runs the football while being tackled by an Oregon Panthers player during the game at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-087.jpg
    caption: "Dilon Sweeney #20 of the Monroe Cheesemakers carries the football through a gap in the defensive line against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-092.jpg
    caption: "Gage Jelle #11 of the Monroe Cheesemakers carries the football through contact against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-100.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers throws a pass under pressure from the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-169.jpg
    caption: "Gavin Lehmann #7 of the Oregon Panthers prepares to throw a pass while pressured by Oliver Helland #47 of the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-173.jpg
    caption: "Jace Riese #30 of the Monroe Cheesemakers carries the football during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-184.jpg
    caption: "Jace Riese #30 of the Monroe Cheesemakers carries the football while stiff-arming a defender during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-186.jpg
    caption: "Jace Riese #30 of the Monroe Cheesemakers secures the football while being tackled by Brennan Hinderman #21 of the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-191.jpg
    caption: "Monroe Cheesemakers cheerleaders perform a routine with pom-poms on the track during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-196.jpg
    caption: "Caleb Mazahreh #31 of the Monroe Cheesemakers reaches for an interception against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-197.jpg
    caption: "Jackson Lathrop #24 of the Oregon Panthers carries the football against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-200.jpg
    caption: "Jackson Lathrop #24 of the Oregon Panthers carries the football during the game against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-202.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers prepares to throw the football against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-206.jpg
    caption: "Joah Wellman #80 and Tristan Anderson #32 of the Monroe Cheesemakers tackle an Oregon Panthers runner at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-207.jpg
    caption: "An official signals a penalty while Landon Cassa #42 of the Monroe Cheesemakers stands on the field during the game against the Oregon Panthers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-208.jpg
    caption: "The Orgeon Panthers celebrate a fumble recovery against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."
  - filename: 20260828-monroe-oregon-210.jpg
    caption: "The Orgeon Panthers celebrate a fumble recovery against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on August 28, 2026."



---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>