---
title: "LOVB Madison vs. LOVB Austin"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-03-15 08:30:35
permalink: /sports/volleyball/lovb-madison-lovb-austin-2026/
slug:
tags:
  - LOVB
  - LOVB Madison
  - Volleyball
  - LOVB Austin
excerpt:
image: /sports/images/2026/20260315-lovb-madison/031526_MAD_ATX_RH_309.jpg
gallery-base: "/sports/images/2026/20260315-lovb-madison/"
gallery-images:
  - filename: 031526_MAD_ATX_RH_003.jpg
    caption: "Anna Hall #2 of LOVB Madison warms up with her baby before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_077.jpg
    caption: "Fans shop LOVB merchandise before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_109.jpg
    caption: "Madi Banks #4 of LOVB Austin hits a ball during warmups before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_111.jpg
    caption: "Kotoe Inoue #15 of LOVB Austin hits a ball during warmups before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_113.jpg
    caption: "Kotoe Inoue #15 of LOVB Austin hits a ball during warmups before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_120.jpg
    caption: "Gong Xiangyu #6 of LOVB Madison does a practice serve during warmups before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_126.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball during warmups before the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_151.jpg
    caption: "Brie O'Reilly #17 of LOVB Austin and teammates celebrate a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_177.jpg
    caption: "Gillian Grimes #23 of LOVB Madison and her teammates celebrate a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_200.jpg
    caption: "Lauren Carlini #7 of LOVB Madison shows how much a shot missed during the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_206.jpg
    caption: "Molly McCage #5 of LOVB Austin spikes the ball past Callie Schwarzenbach #25 of LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_208.jpg
    caption: "Asjia O'Neal #7 and Brie O'Reilly #17 of LOVB Austin attempt to block a spike during the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_212.jpg
    caption: "Asjia O'Neal #7 of LOVB Austin and her teammates celebrate a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_223.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison serves the ball during the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_246.jpg
    caption: "Lauren Carlini #7 of LOVB Madison and her teammates celebrate a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_250.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison celebrates a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_257.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison celebrates a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_259.jpg
    caption: "Temi Thomas-Ailara #12 and Rebekah Allick #5 of LOVB Madison celebrate a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_271.jpg
    caption: "Asjia O'Neal #7 of LOVB Austin looks to serve the ball during the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_274.jpg
    caption: "Madi Banks #4 of LOVB Austin digs the ball as teammate Juliann Faucette #13 of LOVB Austin looks on against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_282.jpg
    caption: "Juliann Faucette #13 of LOVB Austin celebrates a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_289.jpg
    caption: "Fans interact while watching the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_300.jpg
    caption: "Callie Schwarzenbach #25  and Lauren Carlini #7 of LOVB Madison block a spike by Madi Banks #4 of LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_301.jpg
    caption: "Gillian Grimes #23 of LOVB Madison digs a ball against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_303.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_309.jpg
    caption: "Lauren Carlini #7 of LOVB Madison sets the ball against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_311.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_313.jpg
    caption: "Temi Thomas-Ailara #12 of LOVB Madison spikes the ball against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_326.jpg
    caption: "LOVB Austin celebrates a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_336.jpg
    caption: "Brie O'Reilly #17 of LOVB Austin and Rebekah Allick #5 of LOVB Madison fight for the ball at the net at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_339.jpg
    caption: "Rebekah Allick #5 of LOVB Madison watches the ball i the air against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_341.jpg
    caption: "Gong Xiangyu #6 of LOVB Madison digs the ball against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_344.jpg
    caption: "Rebekah Allick #5 of LOVB Madison during the LOVB Volleyball match between LOVB Madison and LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_356.jpg
    caption: "LOVB Austin celebrates a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_359.jpg
    caption: "Asjia O'Neal #7 and Juliann Faucette #13 of LOVB Austin attempt to block a Temi Thomas-Ailara #12 of LOVB Madison spike at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_362.jpg
    caption: "Juliann Faucette #13 of LOVB Austin celebrates a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_368.jpg
    caption: "Juliann Faucette #13 of LOVB Austin celebrates a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_376.jpg
    caption: "Logan Eggleston #33 of LOVB Austin eyes the ball as teammate Kotoe Inoue #15 of LOVB Austin points it out against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_378.jpg
    caption: "LOVB Austin celebrates a point against LOVB Madison at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_390.jpg
    caption: "Rebekah Allick #5 of LOVB Madison blocks a Asjia O'Neal #7 of LOVB Austin spike at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_412.jpg
    caption: "Lauren Carlini #7 of LOVB Madison and her teammates celebrate a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_423.jpg
    caption: "Callie Schwarzenbach #25 of LOVB Madison and her teammates celebrate a point against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_449.jpg
    caption: "LOVB Madison celebrates a win against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."
  - filename: 031526_MAD_ATX_RH_455.jpg
    caption: "LOVB Madison celebrates a win against LOVB Austin at the Alliant Energy Center on March 15, 2026 in Madison, WI."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>