---
title: "2026 American Family Insurance Championship - Celebrity Foursome"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried/ISI Photos"
layout: blog-posts
type: sports
date: 2026-06-06 08:45:35
permalink: /sports/golf/2026-amfam-celebrity/
slug:
tags:
  - PGA
  - American Family Insurance Championship
  - AmFam
  - Golf
  - Donald Driver
  - Jordy Nelson
  - Andy North
  - Caroline “KK” Harvey
excerpt:
image: /sports/images/2026/20260606-amfam-celebrity-foursome/PGARAH060626756.jpg
gallery-base: "/sports/images/2026/20260606-amfam-celebrity-foursome/"
gallery-images:
  - filename: PGARAH060626617.jpg
    caption: "A caddie points toward the course while consulting with Caroline “KK” Harvey on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626621.jpg
    caption: "Spectators applaud and record video with mobile phones from the gallery at hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626625.jpg
    caption: "Donald Driver smiles at hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626634.jpg
    caption: "Spectators photograph the celebrity foursome with their mobile phones during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626636.jpg
    caption: "Donald Driver smiles while standing near the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626641.jpg
    caption: "Jordy Nelson swings a golf club at the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626647.jpg
    caption: "Caroline “KK” Harvey smiles while holding a golf club on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626657.jpg
    caption: "Caroline “KK” Harvey swings a golf club at hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626669.jpg
    caption: "Caroline “KK” Harvey and Andy North bump fists on the course during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626679.jpg
    caption: "Jordy Nelson swings a golf club on the 11th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626697.jpg
    caption: "A man looks through binoculars while standing on a residential deck under a patio umbrella during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626702.jpg
    caption: "Andy North and Caroline “KK” Ha high-five near the 11th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626715.jpg
    caption: "Donald Driver reacts after his second shot on the 12th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626729.jpg
    caption: "Jeff Swalve scratches his head while Yasir Kamal shields his eyes from the sun to watch play on the course during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626751.jpg
    caption: "Donald Driver smiles while standing on hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626756.jpg
    caption: "Donald Driver laughs while walking near the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626761.jpg
    caption: "Andy North and Donald Driver laugh together on the course at hole one during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626766.jpg
    caption: "Jordy Nelson signs a doll for a fan during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626771.jpg
    caption: "Jordy Nelson reacts after a putt on the first hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626773.jpg
    caption: "Andy North follows through on a golf swing on the 11th hole as a tournament official holds up a signal paddle to the crowd during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626804.jpg
    caption: "Donald Driver, Andy North, and Jordy walk along the fairway near hole 12 during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."
  - filename: PGARAH060626821.jpg
    caption: "Andy North and Jordy Nelson walk across a bridge while moving from the 14th hole to the 15th hole during the PGA Tour Champions American Family Insurance Championship Second Round at TPC Wisconsin on June 6, 2026 in Madison, Wisconsin."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>