---
title: "Wisconsin Badgers vs. Notre Dame Fighting Irish"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/football/notredame-vs-wisconsin-2026/
layout: blog-posts
type: sports
date: 2026-09-06 08:30:35
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Notre Dame Fighting Irish
  - Football
  - Big Ten
excerpt:
image: /sports/images/2026/20260906-notre-dame/20260906-norte-dame-wisconsin-107.jpg
gallery-base: "/sports/images/2026/20260906-notre-dame/"
gallery-images:
  - filename: 20260906-norte-dame-wisconsin-010.jpg
    caption: "A Wisconsin Badgers fan gives a thumbs down during the Notre Dame starting lineup before a college football game against the Wisconsin Badgers at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-015.jpg
    caption: "Game officials huddle up and meet before the college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-016.jpg
    caption: "Notre Dame footballs are lined up during warmups before a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-024.jpg
    caption: "Cj Carr #13 of the Notre Dame Fighting Irish warms up before a college football game against the Wisconsin Badgers at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-031.jpg
    caption: "The Notre Dame Marching Band takes the field before a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-036.jpg
    caption: "The Notre Dame Marching Band takes the field before a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-042.jpg
    caption: "Armel Mukam #88 of the Notre Dame Fighting Irish celebrates a defensive stop with a teammate against the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-049.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers runs the football against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-050.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers is tackled by Brauntae Johnson #9 of the Notre Dame Fighting Irish  at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-051.jpg
    caption: "Emmett Bork #82 of the Wisconsin Badgers attempts to catch a pass in the end zone while defended by Adon Shuler #8 of the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-053.jpg
    caption: "Emmett Bork #82 of the Wisconsin Badgers attempts to catch a pass in the end zone while defended by Adon Shuler #8 of the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-061.jpg
    caption: "Kahanu Kia #43 of the Notre Dame Fighting Irish celebrates after a fumble recovery with his teammates durning a college football game against the Wisconsin Badgers at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-062.jpg
    caption: "A referee reviews a play on the field durning a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-064.jpg
    caption: "Notre Dame Fighting Irish head coach Marcus Freeman celebrates a touchdown durning a college football game against the Wisconsin Badgers at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-070.jpg
    caption: "Cooper Catalano #44 of the Wisconsin Badgers celebrates a defensive stop against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-072.jpg
    caption: "Comedian Shane Gillis watches from the sidelines durning a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-073.jpg
    caption: "Malachi Coleman #4 of the Wisconsin Badgers catches a touchdown pass while defended by Jayden Sanders #12 of the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-077.jpg
    caption: "Malachi Coleman #4 of the Wisconsin Badgers celebrates a touchdown with teammate Chris Brooks Jr. #2 durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-079.jpg
    caption: "The Notre Dame Leprechaun flexes durning a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-080.jpg
    caption: "Sebastian Cheeks #15 of the Wisconsin Badgers eyes the backfield durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-081.jpg
    caption: "Cj Carr #13 of the Notre Dame Fighting Irish throws a pass while defended by Bryce West #5 of the Wisconsin Badgers  at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-082.jpg
    caption: "Bryce West #5 of the Wisconsin Badgers communicates with a teammate durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-086.jpg
    caption: "Colton Joseph #1 of the Wisconsin Badgers attempts a pass durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-089.jpg
    caption: "Cj Carr #13 of the Notre Dame Fighting Irish pitches the ball Nolan James Jr. #2 durning a college football game against the Wisconsin Badgers a at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-092.jpg
    caption: "Justus Boone #0 of the Wisconsin Badger celebrates a defensive stop durning a college football game against the Wisconsin Badgers and  at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-095.jpg
    caption: "Cj Carr #13 of the Notre Dame Fighting Irish looks to pass durning a college football game against the Wisconsin Badgers at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-097.jpg
    caption: "Comedian Shane Gillis on the sidelines durning a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-101.jpg
    caption: "Wisconsin Badgers head coach Luke Fickell reacts to a call on the field durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-102.jpg
    caption: "Chris Brooks Jr. #2 of the Wisconsin Badgers is tackled by Adon Shuler #8 of the Notre Dame Fighting Irish durning a college football game between at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-107.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers runs the ball durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-109.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers runs the ball while being tackled by Drayk Bowen #34 and Adon Shuler #8 of the Notre Dame Fighting Irish durning a college football game at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-113.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers gives a stiff arm to Leonard Moore #15 of the Notre Dame Fighting Irish durning a college football game at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-114.jpg
    caption: "Abu Sama III #3 of the Wisconsin Badgers is tackled out of bounds by Leonard Moore #15 of the Notre Dame Fighting Irish durning a college football game at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-115.jpg
    caption: "Emerson Mandell #75 of the Wisconsin Badgers blocks during an extra point attempt durning a college football game against  the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-116.jpg
    caption: "The Notre Dame Leprechaun reacts durning a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-118.jpg
    caption: "Wisconsin Badger fans durning a college football game between the Wisconsin Badgers and the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-119.jpg
    caption: "Cj Carr #13 of the Notre Dame Fighting Irish adjusts a play call before the snap durning a college football game against  the Wisconsin Badgers at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-120.jpg
    caption: "Aneyas Williams #22 of the Notre Dame Fighting Irish runs the ball durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-122.jpg
    caption: "Aneyas Williams #22 of the Notre Dame Fighting Irish celebrates a first down durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."
  - filename: 20260906-norte-dame-wisconsin-127.jpg
    caption: "Junior Poyser #97 of the Wisconsin Badgers lines up before a play durning a college football game against the Notre Dame Fighting Irish at Lambeau Field on September 06, 2026 in Green Bay, WIsconsin."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>