---
title: "2026 American Family Insurance Championship - Day 1"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried/ISI Photos"
layout: blog-posts
type: sports
date: 2026-06-05 08:30:35
permalink: /sports/golf/2026-amfam-day1/
slug:
tags:
  - PGA
  - American Family Insurance Championship
  - AmFam
  - Golf
excerpt:
image: /sports/images/2026/20260605-amfam-day1/PGARAH060526560.jpg
gallery-base: "/sports/images/2026/20260605-amfam-day1/"
gallery-images:
  - filename: PGARAH060526108.jpg
    caption: "Scott McCarron follows through with his golf club after hitting a shot on the 10th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526142.jpg
    caption: "John Daly waves to the crowd while walking toward the tenth hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526146.jpg
    caption: "John Daly follows through on a golf swing on the tenth hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526216.jpg
    caption: "Freddie Jacobson follows through on a golf swing on the first hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526257.jpg
    caption: "Vijay Singh follows through on a drive on the first hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526267.jpg
    caption: "Scott Verplank carries his golf club over his shoulder during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526283.jpg
    caption: "Miguel Ángel Jiménez smokes a cigar at hole 1during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526335.jpg
    caption: "Bernhard Langer follows through on a drive during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526372.jpg
    caption: "Stewart Cink follows through on a shot from a bunker on the first hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526385.jpg
    caption: "Steve Stricker and his caddie Bobbi Stricker examine a golf ball on the first hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526387.jpg
    caption: "Stewart Cink holds up a golf ball after play on the first hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526391.jpg
    caption: "Steve Stricker and his caddie, Bobbi Stricker, smile at hole two during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526416.jpg
    caption: "Steve Stricker follows through on a drive at the second hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526440.jpg
    caption: "Mario Tiziani and Steve Stricker share a fist bump on the second hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526464.jpg
    caption: "Mario Tiziani follows through on a golf swing on hole 3 during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526466.jpg
    caption: "Steve Stricker follows through on a golf swing on the third hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526516.jpg
    caption: "Steve Stricker hits a bunker shot from the sand during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526530.jpg
    caption: "Two tournament volunteers stand on the course during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526532.jpg
    caption: "Steve Stricker walks across the course while holding a putter during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526560.jpg
    caption: "Miguel Ángel Jiménez crouches to read the green on the 10th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526569.jpg
    caption: "Justin Leonard crouches to read the line of his putt on the 10th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526578.jpg
    caption: "Jerry Kelly follows through on a drive on the 11th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526599.jpg
    caption: "Mario Tiziani hits a golf ball out of a sand bunker on the 10th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526627.jpg
    caption: "Mario Tiziani follows through on a tee shot at the 11th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526666.jpg
    caption: "Stewart Cink follows through on a drive on the 12th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526682.jpg
    caption: "Steve Stricker and Mario Tiziani fist bump on the 12th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526685.jpg
    caption: "Zach Johnson crouches to read the green while holding his putter on the 12th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526720.jpg
    caption: "Stewart Cink holds a golf club while looking toward the course during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: PGARAH060526766.jpg
    caption: "Zach Johnson follows through on a swing with his driver on the 15th hole during the PGA Tour Champions American Family Insurance Championship First Round at TPC Wisconsin on June 5, 2026 in Madison, Wisconsin."
  - filename: R0000827.jpg
    caption: "No caption available"

---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>