---
title: Firefighter Competition at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2026-07-18 08:30:35
slug:
tags:
- Firefighter
- Green County Fair
excerpt:
image: /sports/images/2026/20260718-firefighter-comp/20260718-gfc-day-four-064.jpg
gallery-base: /sports/images/2026/20260718-firefighter-comp/
gallery-images:
  - filename: 20260718-gfc-day-four-025.jpg
    caption: "Firefighters spray a high-pressure stream of water at a suspended barrel during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-028.jpg
    caption: "Firefighters spray water from a hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-030.jpg
    caption: "Firefighters spray water from a hose at a target during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-033.jpg
    caption: "A firefighter holds a hose nozzle during a competition at the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-034.jpg
    caption: "A firefighter holds a hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-037.jpg
    caption: "Two firefighters spray water from a high-pressure hose during a competition at the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-039.jpg
    caption: "A barrel slides along a wire while being pushed by high-pressure water streams during a firefighter competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-041.jpg
    caption: "Firefighters spray water from hoses at a suspended target during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-045.jpg
    caption: "Firefighters spray water from a hose during a competition at the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-053.jpg
    caption: "Two firefighters spray water from a hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-056.jpg
    caption: "Firefighters spray high-pressure water streams at a suspended barrel during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-060.jpg
    caption: "Two firefighters in protective gear aim a high-pressure hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-064.jpg
    caption: "Firefighters spray water from a hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-066.jpg
    caption: "Children stand with their arms outstretched to catch a spray of water during the Firefighter Competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-069.jpg
    caption: "Two firefighters spray water from a hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-072.jpg
    caption: "Firefighters spray water at a target during a competition at the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-077.jpg
    caption: "Firefighters McIntosh and Swedlund of the Juda Fire Department spray water from a hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-078.jpg
    caption: "A child watches as firefighters demonstrate water equipment during the Firefighter Competition at the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-079.jpg
    caption: "Two firefighters spray water from a hose during a competition at the Green County Fair at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."
  - filename: 20260718-gfc-day-four-080.jpg
    caption: "Two firefighters in protective gear hold and aim a pressurized hose during a competition at the Green County Fairgrounds in Monroe, Wisconsin on July 18, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>