---
title: "Wisconsin Badgers vs. UCLA Bruins"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-01-06 08:30:35
permalink: /sports/basketball/ucla-at-wisconsin-2026/
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - UCLA Bruins
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2026/20260106-wisconsin-ucla/20260106-wisconsin-ucla-013.jpg
gallery-base: "/sports/images/2026/20260106-wisconsin-ucla/"
gallery-images:
  - filename: 20260106-wisconsin-ucla-002.jpg
    caption: "Wisconsin Badgers head coach Greg Gard and UCLA Bruins head coach Mick Cronin have a conversation before the college basketball game between the Wisconsin Badgers and the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-003.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers wins the opening tip off against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-006.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers steps on the baseline while defended by Trent Perry #0 of the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-008.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers illustrate how close he was to staying in bounds against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-012.jpg
    caption: "Trent Perry #0 of the UCLA Bruins makes a layup while John Blackwell #25 of the Wisconsin Badgers looks back from the baseline at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-013.jpg
    caption: "Aleksas Bieliauskas #32 of the Wisconsin Badgers attempts to block a layup by Eric Dailey Jr. #3 of the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-015.jpg
    caption: "Donovan Dent #2 of the UCLA Bruins dribbles the ball up the court against The Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-016.jpg
    caption: "Donovan Dent #2 of the UCLA Bruins drives to the basket while being defended by Nick Boyd #2 of the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-020.jpg
    caption: "Wisconsin Badgers head coach Greg Gard during the college basketball game between the Wisconsin Badgers and the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-021.jpg
    caption: "Nolan Winter #31 of the Wisconsin Badgers shoots a three pointer over Tyler Bilodeau #34 of the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-022.jpg
    caption: "Donovan Dent #2 of the UCLA Bruins looks to pass the ball while being defended by Nick Boyd #2 and Nolan Winter #31 of the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-024.jpg
    caption: "Tyler Bilodeau #34 of the UCLA Bruins attempts a shot over Nick Boyd #2 of the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-025.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers gets tangled up under the basket during the college basketball game against the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-029.jpg
    caption: "Trent Perry #0 of the UCLA Bruins knocks the ball away from Hayden Jones #13 of the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-031.jpg
    caption: "Wisconsin Badgers associate head coach Joe Krabbenhoft talks to Nolan Winter #31 of the Wisconsin Badgers during a timeout against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-032.jpg
    caption: "Tyler Bilodeau #34 of the UCLA Bruins extends an arm out to Nick Boyd #2 of the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-034.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates after making a three pointer against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-038.jpg
    caption: "Braeden Carrington #0 of the Wisconsin Badgers celebrates after hitting a three pointer against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-039.jpg
    caption: "Wisconsin Badgers associate head coach Joe Krabbenhoft talks to Aleksas Bieliauskas #32 of the Wisconsin Badgers after a timeout against the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-040.jpg
    caption: "Eric Freeny #8 of the UCLA Bruins attempts a three pointer while Wisconsin Badgers head coach Greg Gard looks on at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-045.jpg
    caption: "Nick Boyd #2 and John Blackwell #25 of the Wisconsin Badgers celebrate after Blackwell makes a three pointer against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-046.jpg
    caption: "Aleksas Bieliauskas #32 of the Wisconsin Badgers reacts after committing a foul against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-049.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers reacts after the play against the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-050.jpg
    caption: "Donovan Dent #2 of the UCLA Bruins drives to the basket while defended by Andrew Rohde #7 of the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-051.jpg
    caption: "Aleksas Bieliauskas #32 of the Wisconsin Badgers dunks the ball as Donovan Dent #2 and Trent Perry #0 of the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-053.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers drives hard to the basket while being defended by Tyler Bilodeau #34 and Jamar Brown #4 of the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-054.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers reacts after the play as Eric Freeny #8 of the UCLA Bruins covers his mouth in the background at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-055.jpg
    caption: "UCLA Bruins head coach Mick Cronin reacts to a called foul during the college basketball game against the Wisconsin Badgers at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-059.jpg
    caption: "Jack Janicki #5 of the Wisconsin Badgers celebrates after hitting a three pointer in the second half against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-062.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a layup while being defended by Eric Dailey Jr. #3 of the UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-063.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers reacts after a timeout is called late in the second half against The UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."
  - filename: 20260106-wisconsin-ucla-064.jpg
    caption: "Wisconsin Badgers head coach Greg Gard looks at the clock during the college basketball game againstthe UCLA Bruins at the Kohl Center on January 6, 2026 in Madison, Wisconsin."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>