---
title: "Monroe Cheesemakers vs. Edgewood Crusaders"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
permalink: /sports/football/monroe-edgewood-2026/
layout: blog-posts
type: sports
date: 2026-09-25 08:30:35
slug:
tags:
  - WIAA
  - Monroe Cheesemakers
  - Edgewood Crusaders
  - Football
  
excerpt:
image: /sports/images/2026/20260925-monroe-edgewood/20260925-monroe-edgewood-016.jpg
gallery-base: "/sports/images/2026/20260925-monroe-edgewood/"
gallery-images:
  - filename: 20260925-monroe-edgewood-002.jpg
    caption: "Landon Cassa #42 of the Monroe Cheesemakers stands at the sidelines against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-009.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers scrambles with the football during the game against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-013.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers runs with the football during the game against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-016.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers carries the football while evading a tackle by Miles Rist #43 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-019.jpg
    caption: "Tristan Anderson #32 of the Monroe Cheesemakers carries the football past William Siniscalchi #21 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-023.jpg
    caption: "Gage Jelle #11 of the Monroe Cheesemakers carries the football while being tackled by Vincent Bautista #17 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-025.jpg
    caption: "Jack Lovell #10 of the Edgewood Crusaders throws a pass during the game against the Monroe Cheesemakers at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-029.jpg
    caption: "Tristan Anderson #32 of the Monroe Cheesemakers stiff-arms a defender while carrying the football during the game against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-033.jpg
    caption: "Tristan Anderson #32 of the Monroe Cheesemakers carries the football during the game against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-035.jpg
    caption: "Jace Riese #30 of the Monroe Cheesemakers reaches for a pass against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-040.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers throws the football while teammate Landon Wuebben #50 blocks against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-046.jpg
    caption: "Lucas Bartels #2 of the Monroe Cheesemakers attempts to catch a pass while defended by Rylan Port #3 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-060.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers runs with the football during the game against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-066.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers carries the football while evading a tackle from an Edgewood Crusaders defender at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-069.jpg
    caption: "Gage Jelle #11 of the Monroe Cheesemakers celebrates a touchdown with teammate Ryan Roelli #9 during the game against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-072.jpg
    caption: "Ryan Roelli #9 of the Monroe Cheesemakers holds the football at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-076.jpg
    caption: "Gage Jelle #11 of the Monroe Cheesemakers carries the football while being tackled by Oliver Schley #32 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-080.jpg
    caption: "Gage Jelle #11 of the Monroe Cheesemakers carries the football down the field against the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-084.jpg
    caption: "Troy Spotts #68 of the Monroe Cheesemakers pursues the ball carrier Cash Soma #7 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."
  - filename: 20260925-monroe-edgewood-085.jpg
    caption: "Troy Spotts #68 of the Monroe Cheesemakers tackles Cash Soma #7 of the Edgewood Crusaders at Badger State Ethanol Stadium in Monroe, Wisconsin on September 25, 2026."


---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>