---
title: "Wisconsin Badgers vs. Illinois Fighting Illini"
author: "ROSS HARRIED"
photographer: "Mandatory Credit: Ross Harried-Second Crop Sports"
layout: blog-posts
type: sports
date: 2026-03-13 08:30:35
permalink: /sports/basketball/wisconsin-illinois-big-ten-championship-2026/
slug:
tags:
  - NCAA
  - Wisconsin Badgers
  - Illinois Fighting Illini
  - Basketball
  - Big Ten
excerpt:
image: /sports/images/2026/20260313-big-ten/20260313-wisconsin-illinois-048.jpg
gallery-base: "/sports/images/2026/20260313-big-ten/"
gallery-images:
  - filename: 20260313-wisconsin-illinois-001.jpg
    caption: "Tomislav Ivisic #13 of the Illinois Fighting Illini and Aleksas Bieliauskas #32 of the Wisconsin Badgers fight for the opening tipoff at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-004.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates after a play against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-005.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates after a play against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-008.jpg
    caption: "Nick Boyd #2 and Aleksas Bieliauskas #32 of the Wisconsin Badgers celebrate a Bieliauskas three pointer against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-010.jpg
    caption: "Nick Boyd #2 and Aleksas Bieliauskas #32 of the Wisconsin Badgers celebrate a Bieliauskas three pointer against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-012.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers celebrates with Badger fans after a play against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-014.jpg
    caption: "Andrew Rohde #7 of the Wisconsin Badgers attempts a layoff while defended by Zvonimir Ivisic #44 of the Illinois Fighting Illini  at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-019.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers lays on the ground after being knocked down in the first half against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-021.jpg
    caption: "Zvonimir Ivisic #44 of the Illinois Fighting Illini  celebrates a made three pointer against The Wisconsin Badgers at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-024.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers attempts a layup while defended by Zvonimir Ivisic #44 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-027.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers attempts a layup while defended by Zvonimir Ivisic #44 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-030.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a layup while defended by Kylan Boswell #4 and Ben Humrichous #3 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-032.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a layup over Tomislav Ivisic #13 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-037.jpg
    caption: "John Blackwell #25 of the Wisconsin Badgers is defended by Keaton Wagler #23 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-039.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a three pointer against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-042.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers attempts a three pointer against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-047.jpg
    caption: "Austin Rapp #22 of the Wisconsin Badgers tries to find the rim against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-048.jpg
    caption: "Austin Rapp #22 of the Wisconsin Badgers tries to find the rim against The Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-049.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers looks to score while defended by Ben Humrichous #3 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."
  - filename: 20260313-wisconsin-illinois-050.jpg
    caption: "Nick Boyd #2 of the Wisconsin Badgers looks to score while defended by Ben Humrichous #3 of the Illinois Fighting Illini at the United Center on March 13, 2026 in Chicago, Illinois."



---

<style type="text/css">
/* Main CSS */
div.fancybox {
  cursor: pointer;
}



@media (min-width: 768px) {

  /*Large Images for Desktops*/
  #blog-hero {
    background-color: rgba(5, 5, 5, .5)
  }

  /*use Pseudo-Elements to control bg-img opacity*/
  #blog-hero:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    /*1600x640 bg img for desktop*/
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 767px) {

  /*Small Images for Mobile*/
  /*500x500 for mobile bg*/
  #blog-hero {
    background-image: url('{{ site.cdn_url }}{{ page.image }}');
    background-position: center;
  }
}
</style>
<div class="featured-blog-img">
  <div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
    <div class="center-pos">
      <header class="txt-center">
        <h1 style="margin-bottom: 10px;">
          {{ page.title }}
        </h1>
        <div class="post-details">
          <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
        </div>
        <ul class="tags">
          <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
          <li class="tag-item">
            <a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </header>
    </div>
  </div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>