---
title: SWIRA Dirt Bike and ATV Races at The Green County Fair
author: ROSS HARRIED
photographer: ROSS HARRIED for SECOND CROP SPORTS
layout: blog-posts
type: sports
date: 2026-07-16 08:30:35
slug:
tags:
- SWIRA
- ATV
- UTV
- dirt bike
- racing
- Green County Fair
excerpt:
image: /sports/images/2026/20260716-swira-races/20260716-gfc-night-two-110-v2.jpg
gallery-base: /sports/images/2026/20260716-swira-races/
gallery-images:
  - filename: 20260716-gfc-night-two-003.jpg
    caption: "A racer wearing a helmet and protective gear rides an all-terrain vehicle during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-004.jpg
    caption: "A rider wearing number 35 navigates a white Suzuki ATV around a hay bale turn during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-005.jpg
    caption: "A dirt bike rider falls from their motorcycle during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-006.jpg
    caption: "A dirt bike rider performs a wheelie during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-013.jpg
    caption: "A dirt bike rider wearing number 199 navigates the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-015.jpg
    caption: "A dirt bike rider wearing number 11 navigates a turn on the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-019.jpg
    caption: "A rider wearing number 88 navigates a blue all-terrain vehicle around a dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-021.jpg
    caption: "A dirt bike rider performs a wheelie on the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-023.jpg
    caption: "A young rider wearing a helmet and protective gear rides a dirt bike during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-026.jpg
    caption: "A young rider wearing a pink and white helmet steers an ATV during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-031.jpg
    caption: "A race records video during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-033.jpg
    caption: "A racer wearing number 22 navigates a four-wheeler around a turn during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-034.jpg
    caption: "A rider navigates a four-wheeler around a turn on a dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-036.jpg
    caption: "A rider wearing a helmet and protective gear races an all-terrain vehicle during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-038.jpg
    caption: "A rider wearing number 65 navigates a Kawasaki four-wheeler through a turn during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-041.jpg
    caption: "A rider wearing number 9 navigates a four-wheeler around a turn during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-042.jpg
    caption: "A rider on a Honda all-terrain vehicle #9 navigates a turn on the dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-049.jpg
    caption: "A young rider navigates a dirt bike on the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-050.jpg
    caption: "Two riders getting tangled up during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-051.jpg
    caption: "A race official assists a rider on an ATV near a hay bale barrier during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-054.jpg
    caption: "Derek Gilbertson smiles while walking across the dirt track at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-056.jpg
    caption: "Firefighters sit on the back of a fire truck while stationed at the Green County Fairgrounds during the SWIRA Dirt Bike & 4-Wheeler Races in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-063.jpg
    caption: "A rider navigates a mud-covered four-wheeler around a dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-068.jpg
    caption: "A young racer wearing protective gear rides an all-terrain vehicle during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-071.jpg
    caption: "A rider wearing number 7 navigates a four-wheeler on the dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-075.jpg
    caption: "A race official waves a yellow flag as a rider falls from a four-wheeler during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-076.jpg
    caption: "A racer jumps a four-wheeler over a dirt mound during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-079.jpg
    caption: "A rider wearing number 9 jumps a four-wheeler over a dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-081.jpg
    caption: "A rider on an ATV marked with the number 4 drives past a race official waving a checkered flag during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-086.jpg
    caption: "Dirt bike riders wait at the starting line during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-088.jpg
    caption: "Emergency personnel stand near a Green County EMS ambulance during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-095.jpg
    caption: "Four riders race ATVs on a dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-096.jpg
    caption: "A rider on an all-terrain vehicle #87 jumps over a dirt mound during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-098.jpg
    caption: "A dirt bike rider navigates the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-101.jpg
    caption: "A driver navigates a Can-Am side-by-side vehicle around the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-103.jpg
    caption: "A rider wearing number 21 navigates a dirt bike on the track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-106.jpg
    caption: "A dirt bike rider performs a wheelie past a checkered flag during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-108.jpg
    caption: "A race official waves a white flag at a dirt bike rider during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-110.jpg
    caption: "A dirt bike rider performs a wheelie past a race official waving a checkered flag during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-120.jpg
    caption: "A rider wearing number 22 navigates a four-wheeler across the dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."
  - filename: 20260716-gfc-night-two-124.jpg
    caption: "A rider navigates an ATV across the dirt track during the SWIRA Dirt Bike & 4-Wheeler Races at the Green County Fairgrounds in Monroe, Wisconsin on July 16, 2026."


---
<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
  <section>
  {% include gallery-grid.html %} 
</section>
  <div class="clearfix" style="padding: 30px;"></div>
</div>