---
title: "Mayday Parade Live at The Sylvee (Halloween 2025)"
description: "Mayday Parade kicked off Halloween night at The Sylvee in Madison, WI, delivering an emotional and high-energy set in support of All Time Low’s Everyone’s Talking Tour. Explore photos and performance highlights from their opening set."
author: "ROSS HARRIED"
photographer: "ROSS HARRIED for SECOND CROP MUSIC"
layout: blog-posts
type: music
date: 2025-10-31 08:30:35
slug:
tags:
  - music
  - Mayday Parade
  - Everyone's Talking Tour
  - Madison
  - The Sylvee
excerpt: "Mayday Parade kicked off Halloween night at The Sylvee in Madison, WI, delivering an emotional and high-energy set in support of All Time Low’s Everyone’s Talking Tour. Explore photos and performance highlights from their opening set."
image: /music/images/2025/20251031-mayday-parade/20251031-mayday-parade-022.jpg
gallery-base: /music/images/2025/20251031-mayday-parade/
gallery-images:
  - filename: 20251031-mayday-parade-002.jpg
    caption: "Derek Sanders of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-003.jpg
    caption: "Derek Sanders of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-004.jpg
    caption: "Jeremy Lenzo of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-005.jpg
    caption: "Jeremy Lenzo of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-007.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-008.jpg
    caption: "Jeremy Lenzo of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-011.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-012.jpg
    caption: "Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-014.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-015.jpg
    caption: "Derek Sanders of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-019.jpg
    caption: "Brooks Betts of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-021.jpg
    caption: "Derek Sanders of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-022.jpg
    caption: "Derek Sanders of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-023.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-025.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-028.jpg
    caption: "Fans react to Mayday Parade on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-029.jpg
    caption: "Jeremy Lenzo of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-031.jpg
    caption: "Jake Bundrick of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-034.jpg
    caption: "Derek Sanders of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-037.jpg
    caption: "Brooks Betts of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-038.jpg
    caption: "Jeremy Lenzo of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-039.jpg
    caption: "Jake Bundrick of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-041.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."
  - filename: 20251031-mayday-parade-044.jpg
    caption: "Alex Garcia of Mayday Parade performs on stage as the band opens for All Time Low during the Everyone’s Talking tour stop at The Sylvee in Madison, Wisconsin, on October 31, 2025."

---

<style type="text/css">
/* Main CSS */
div.fancybox {
	cursor: pointer;
}



@media (min-width: 768px) {

	/*Large Images for Desktops*/
	#blog-hero {
		background-color: rgba(5, 5, 5, .5)
	}

	/*use Pseudo-Elements to control bg-img opacity*/
	#blog-hero:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.8;
		/*1600x640 bg img for desktop*/
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media (max-width: 767px) {

	/*Small Images for Mobile*/
	/*500x500 for mobile bg*/
	#blog-hero {
		background-image: url('{{ site.cdn_url }}{{ page.image }}');
		background-position: center;
	}
}
</style>
<div class="featured-blog-img">
	<div id="blog-hero" class="bg33-md bg40-sm bg-half-xs dark-boxshadow" itemprop="image" title="{{ page.title }}">
		<div class="center-pos">
			<header class="txt-center">
				<h1 style="margin-bottom: 10px;">
					{{ page.title }}
				</h1>
				<div class="post-details">
					<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
				</div>
				<ul class="tags">
					<i class="fa fa-tags" aria-hidden="true"></i> {% for tag in page.tags %}
					<li class="tag-item">
						<a href="{{ site.baseurl }}/blog/tags/#{{ tag | replace: '/r/', 'r-' | remove: ' ' | remove: '.'}}">{{ tag }}</a>
					</li>
					{% endfor %}
				</ul>
			</header>
		</div>
	</div>
</div>
<div class="creative-content">
	<div class="row  max-850">
		<div class="col-xs-12">
			<h2>{{ page.title }}</h2>
			<p> <strong><small>BY {{ page.author }}</small></strong></p>
			<p> {{ page.description }}</p>
			<!-- BEGIN WRITING CONTENT IN HERE-->
			<!--
			<p>If you want to stay up to date on all our music-related content, consider following me <a href="https://instagram.com/secondcropcreative" target="_blank">on Instagram!</a></p>
			-->
		</div>
	</div>
	<div class="row">
		<div class="clearfix" style="padding: 20px"></div>
		<section>
			{% include gallery-grid.html %}
		</section>
			<p>If you want to stay up to date on all our music-related content, consider following me <a href="https://instagram.com/secondcropcreative" target="_blank">on Instagram!</a></p>
	</div>
	<div class="clearfix" style="padding: 30px;"></div>
</div>