---
layout: default
title: Perfect Loops, Looping Videos/Looping GIFs
description: A catalog/library of animated GIFs we've created that are a perfect loop or pretty darn close to a perfect loop.
image: /assets/css/images/flat-logo-alt.png
---
<style type="text/css">
a.copyclip {
	display: block
}

.perfectloops div {
	padding-top: 45px;
	padding-bottom: 45px;
	position: relative;
}



.perfectloops div:first-child {
	padding-top: 15px !important;
}

.perfectloops div:last-child {
	padding-bottom: 15px !important;
}

.perfectloops div:hover div.copylink {
	opacity: 1;
	z-index: 500;
}

div.copylink i {
	top: 50%;
	position: absolute;
	left: 40%;
	right: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white !important;
	background-color: rgba(0, 0, 0, .5);
	padding: 17px;
	height: 90px;
	width: 90px;
	border-radius: 50px;
}

div.copylink {
	display: block;
	position: absolute;
	top: 0;
	opacity: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: inherit;
	transition: all 550ms;
}
</style>
<div class="creative-content max-550">
	<div style="padding: 15px" class="txt-center">
		<h1>Perfect Loops</h1>
		<h4><small>(Click on image to copy the url to your clipboard for easy pasting)</small></h4>
	</div>
	<hr>

	<div class="perfectloops">
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/The-Lion-City-II-Majulah.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/The-Lion-City-II-Majulah.gif" class="lazyload" alt="The Lion City Majulah - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/Mount-Susana-Time-Lapse.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/Mount-Susana-Time-Lapse.gif" class="lazyload" alt="Mount Susana Time Lapse - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/Monfreakintana.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/Monfreakintana.gif" class="lazyload" alt="Monfreakintana - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/elemental-iceland.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/elemental-iceland.gif" class="lazyload" alt="Iceland Norhtern Lights - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/chicago-timelapse.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/chicago-timelapse.gif" class="lazyload" alt="Chicago Timelapse - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/Arc-de-Triumph.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/Arc-de-Triumph.gif" class="lazyload" alt="Arc de Triumph Timelapse - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/lake-timelapse.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/lake-timelapse.gif" class="lazyload" alt="Lake Timelapse - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/aurora-borealis-loop5.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/aurora-borealis-loop5.gif" class="lazyload" alt="Aurora Borealis - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/aurora-borealis-loop4.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/aurora-borealis-loop4.gif" class="lazyload" alt="Aurora Borealis - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/aurora-borealis-loop3.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/aurora-borealis-loop3.gif" class="lazyload" alt="Aurora Borealis - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/mountain-timelapse.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/mountain-timelapse.gif" class="lazyload" alt="Mountain Timelapse - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/aurora-borealis-loop2.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/aurora-borealis-loop2.gif" class="lazyload" alt="Aurora Borealis - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/perfectloops/images/aurora-borealis-loop1.gif" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/perfectloops/images/aurora-borealis-loop1.gif" class="lazyload" alt="Aurora Borealis - Cinemagraph" width="100%" data-sizes="auto" /> {% include clipboard.html %}
			</a>
		</div>
	</div>
</div>
