---
layout: default
title: Cinemagraphs, Living Stills, Animated Gifs
description: Our cinemagraphs portfolio shows how you can bring images to life. We breathe life into static images to tell a compelling story.
image: /assets/css/images/flat-logo-alt.png
---
<style type="text/css">
a.copyclip {
	display: block
}

.cinemagraphs div {
	padding-top: 45px;
	padding-bottom: 45px;
	position: relative;
}

.cinemagraphs div:first-child {
	padding-top: 15px !important;
}

.cinemagraphs div:last-child {
	padding-bottom: 15px !important;
}

.cinemagraphs div:hover div.copylink {
	opacity: 1;
	z-index: 500;
}

div.copylink i {
	top: 50%;
	position: absolute;
	left: 40%;
	right: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white !important;
	background-color: rgba(0, 0, 0, .5);
	padding: 17px;
	height: 90px;
	width: 90px;
	border-radius: 50px;
}

div.copylink {
	display: block;
	position: absolute;
	top: 0;
	opacity: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	color: inherit;
	transition: all 550ms;
}

a p.img-description {
	color: #666666;
	margin: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	font-style: normal;
}
</style>
<div class="creative-content max-550">
	<div style="padding: 15px" class="txt-center">
		<h1>Cinemagraphs</h1>
		<h4><small>(Click on image to copy the url to your clipboard for easy pasting)</small></h4>
	</div>
	<hr>
	<div class="cinemagraphs">
		{% for cinemagraphs in site.data.cinemagraphs %}
		<div>
			<a class="copyclip" data-clipboard-text="{{ site.url }}/cinemagraphs/images/{{ cinemagraphs.image }}" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Copy to Clipboard">
				<img data-src="{{ site.baseurl }}/cinemagraphs/images/{{ cinemagraphs.image }}" class="lazyload" alt="{{ cinemagraphs.alt }}" width="100%" data-sizes="auto" /> {% include clipboard.html %}
				<p class="img-description">{{ cinemagraphs.alt }}</p>
			</a>
		</div>
		{% endfor %}
	</div>
</div>